/* variable.css */

/* color ========================= */
$mainbule : #243c84;
$black : #151515;
$gray : #717171;
$white : #fff;
$light-gray : #ddd;

// :root{
//   --color-mainbule:#243c84;
//   --color-black:#151515;
//   --color-white:#fff;
//   --color-light-gray:#ddd;
// }
/* ================================ */

.active, .dot:hover {
  background-color: #ffffff;
}
/* .fade {
  
} */