# .gitignore -> 위치 .git라는 폴더가 있는 최상위 자리에서 만들면 됨

# =====================================================================
# .gitignore가 실행되지 않을 때 다음 순서대로 처리

# $ git rm -r --cached .
# $ git add .
# $ git commit -m "fixed untracked files"

# cf. https://coding-groot.tistory.com/59
# =====================================================================

# TIP! **/___  ->  의미: 모든 것 안에 있는 ___ 지워주세요라는 의미 

#  mac 사용자들을 위한 .DS_Store 파일
**/.DS_Store 
.DS_Store 


# scss 변환시 해당 내용 정보처리에 대한 자료 
**/*.css.map
*.css.map


# prepros 이용시 생성되는 .config 파일 제거 
**/prepros.config
prepros.config


# node-module 삭제 
**/node-modules
node-modules


# .vscode 폴더 삭제  -> 이게 뭐냐면 ... live server 를 돌려서 생기는 부분 ... 
**/*.vscode
.vscode 