
// @mixin blind(){
//   display:block; width: 0; height: 0;
//   position:absolute; z-index:-1; clip:rect(0 0 0 0); overflow: hidden;
// }// @mixin blind();

// @mixin bar(){
//   &:after, &::after{
//     content:""; display: block; clear: both;
//   }
// }// @mixin bar();

// @mixin full(){
//   display: block; width: 100%; height: 100%;
//   & > span{ @include blind(); }
// }// @mixin full();

// @mixin MakeCard(){
//   li{
//     float:left; width:100%; height:200px;
//     margin:10px; background-color: $yellow;
//     > a { 
//       @include full; 
//       @content;
//     }
//   }
// }// @mixin MakeCard();

// .nav_area {
//   width: 960px; height:auto;
//   li {
//     float:left; width: auto; height:30px;
//   }
//   a { @include full; background-color: $yellow; }
//   // span { @include blind(); }
//   @include bar();
// }// .nav_area
@mixin blind(){
  display: block; width: 0; height: 0;
  position: absolute; z-index: -1; clip: rect(0 0 0 0); 
  overflow: hidden;
}

@mixin clearfix(){
  &:after, &::after{
    content:""; display: block; clear: both;
  }
}// @mixin clearfix();

@mixin full(){
  display: block; width: 100%; height: 100%;
  & > span{ @include blind(); }
}// @mixin full();
