/* b_login_smartphone.css */

/* (디자인기준: 320px) ~ 767px */
@media all and (max-width:767px) {
  #wrap { width: 100%; min-width: 320px; min-height: 600px;}
  #headBox {
    width: 100%; min-width: 320px;
    height: 60px;
    box-sizing: border-box;
    padding: 10px 12px 14px 12px;
    position: fixed;
    z-index: 1000;
    background-color: #fff;
  }
  .head_inner {
    width: 100%; max-width: 767px; min-width: 320px;
    margin: auto; box-sizing: border-box;
    /* background-color: #ccc; */
  }
  h1 {
    float: left;
    width: 33.75%; min-width: 108px; height: auto;
  }
  .head_inner > h1 > button > img {
    width: 100%; min-width: 108px; height: 12px;
  }
  .unb {display: none;}
  .gnb {display: none;}
  #headBox .header_m {padding-left: 34.375%;}
  .header_m {
    float: right;
    width: 46.875%; min-width: 150px; height: 26px;
    margin: auto;
    margin-top: 10px;
    box-sizing: border-box;
    /* background-color: #ddd; */
  }
  #unbInner {width: 18.75%; min-width: 60px; padding: 0;}    
  #check_box {display: none;}
  #check_box + label {
    position: relative;
    display: block;
    width: 11.875%; min-width: 38px;
    height: 20px;
    cursor: pointer;
    z-index: 100;
    margin: auto;
    /* position: relative; */
  }
  #check_box + label > span {
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background: black;
    border-radius: 5px;
    transition: all 300ms;
  }
  #check_box:checked + label > span:nth-child(1) {
    top: 50%;
    transform: translate(0, -50%);
    transform: rotate(45deg);
  }
  
  #check_box + label > span:nth-child(2) {
    top: 50%;
    transform: translate(0, -50%);
  }
  
  #check_box:checked + label > span:nth-child(2) {
    opacity: 0;
  }
  
  #check_box + label > span:nth-child(3) {
    bottom: 0;
  }
  
  #check_box:checked + label > span:nth-child(3) {
    top: 50%;
    transform: translate(0, -50%);
    transform: rotate(-45deg);
  }
  #check_box:checked + label + #slide_menu {
    /* float: right; */
    left: 40px;
  }
  #slide_menu {
    position: fixed;
    width: 100%; min-width: 281px;
    height: 100%;
    background-color: rgba(36, 48, 90, 86%);
    text-transform: uppercase;
    left: 100%;
    transition: all 300ms;
    z-index: 1;
    top: 0px;
    padding: 60px 16px 20px 16px;
    box-sizing: border-box;
  }
  input[id*="slide_btn"] {display: none;}
  input[id*="slide_btn"] + label {
    width: auto;
    display: block;
    padding: 10px;
    border-bottom: 1px solid #fff;
    /* border-bottom: 0; */
    font-size: 18px;
    color: #eee;
    font-weight: 400;
    /* background-color: #000; */
    cursor: pointer;
    position: relative;
  }
    /* input[id*="answer"] + label em {
      position: absolute;
      top: 50px;
      right: 10px;
      width: 30px; height: 30px;
      margin-top: -15px;
      display: inline-block;
      background: url("../../img/slide_openbtn.svg") 0 0 no-repeat;
    } */
    input[id*="slide_btn"] + label + div {
      max-height: 0;
      transition: all .35s;
      overflow: hidden;
      /* background-color: #ebf8ff; */
      font-size: 16px;
      font-weight: 300;
      color: #fff;
    }
    input[id*="slide_btn"] + label + div a {
      display: inline-block;
      padding: 10px;
      display: flex;
    }
    input[id*="slide_btn"]:checked + label + div {
      max-height: inherit;
    }
    /* input[id*="slide_btn"]:checked + label em {background-position: 0 -30px;} */

    .search_part {
      height: auto;
    }
    .search_part > form {
      width: auto;
      height: auto;
    }
    .search_part fieldset {
      display: flex;
      width: auto;
      height: auto;
      /* padding: 4px; */
    }
    #searchInput {
      width: 53.75%; min-width: 172px;
      height: 44px;
      margin-right: 8px;
      padding-left: 5px;
      border-radius: 4px;
      border: 1px solid #aaaaaa;
    }
    
    .search_btn {
      width: 21.875%; min-width: 70px;
      border-radius: 4px;
      border: 1px solid #fff;
      color: #fff;
      text-transform: capitalize;
    }
    .sns_part ul {width: 100%; height: auto;}
    .sns_part li {
      width: 96.25%; min-width: 308px;
      height: auto;
      font-size: 15px; font-weight: 500;
      margin: 10px 5px 5px;
      color: #ddd;
    }
    
    .sns_part button img {
      width: 26px; height: 26px;
      /* margin: auto; */
      margin-right: 5px;
      color: #aaa;
    }
  .mainBox {width: auto; height: auto; top: 0; left: 0; right: 0; padding-top: 60px;}



/* #loginBox ============================ */
  #loginBox {
    width: 100%; min-width: 320px;
    max-width: 767px;
    height: auto;
    padding: 0;
    margin: auto;
    background-image: url(../../img/loginbackground320.svg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .login_area {
    width: 100%; min-width: 320px;
    height: auto;
    padding: 75px 23px 60px 23px;
  }
  .logintext {
    width: 46.25%; min-width: 148px; 
    height: 50px;
    margin: auto;
    padding: 10px;
    color: #fff;
    text-align: center;
    font-size: 18px;
  }
  .welcometext li {
    width: 60.9375%; min-width: 195px;
    height: 30px;
    font-size: 12px;
    text-align: center;
    margin: auto;
    padding: 5px 0;
    color: #fff;
  }
  .loginmain {
    width: auto; height: 250px;
    margin: auto;
  }
  .login_inner {
    width: 100%; height: 120px;
    margin: auto;
  }
  .privite {
    width: 59.375%; min-width: 190px;
    height: 124px;
    border: none;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
  }
  /* .login_area button {
    width: 204px; height: 40px;
    text-align: center; line-height: 130px;
    font-size: 20px; font-weight: 500;
  } */
  #userId {
    /* float: left; */
    width: 100%;
    height: 46px;
    border-radius: 5px;
    font-size: 14px;
    /* padding: 12px 8px; */
    /* width: calc(100% - 19px); height: 42px; */
  }
  #userPw {
    float: left;
    width: 100%;
    height: 46px;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 10px;
  }
  /* .privite ul > li > input {
    /* width: 206px; height: 42px; */
    /* float: left;
    width:calc(100% - 19px); height: 42px;
    padding: 12px 8px;
    font-size: 18px;
  } */
  .checkbox_inner {
    display: flex;
    width: auto;
    height: 30px;
    margin: auto;
    margin-left: 23.231%;
    padding-top: 8px;
    border: none;
  }
    /* .check {
      width: 65%; min-width: 208px;
      height: 50px;
      margin: auto;
      margin-left: 19.231%;
      padding-top: 5px;
      border: none;
    } */
    .checkbox_inner input {
      width: 20px;
      height: 20px;
      /* float: left; */
      /* margin-left: 20px; */
      border: 1px solid #ededed;
    }
    /* .check label {
      width: 150px; height: 100%;
      line-height: 35px;
      float:left;
      cursor: pointer;
    } */

    .checkbox_inner span {
      width: auto; height: 35px;
      line-height: 35px;
      /* padding: 5px; */
      margin: auto;
      margin-left: 10px;
      margin-top: -8px;
      float:left;
      cursor: pointer;
      color: #fff;
      font-size: 14px;
    }
    /* .check label i { 
      width: 15px; height: 15px;
      margin-right: 0.3rem; margin-top:0.35rem;
      float:left;
      border: 1px solid #fff; 
    }
    #idcheck:checked + label > i { 
      position: relative; 
      background-color: #24305A;
      border-color:transparent;
    }
    #logincheck:checked + label > i { 
      position: relative; 
      background-color: #24305A;
      border-color:transparent;
    } */
    /* .check span {
      width: 100px;
      padding: 10px;
    } */
    .login_btn {
      width: 59.375%; min-width: 190px;
      height: 40px;
      border-radius: 5px;
      background-color: #24305A;
      text-align: center;
      margin: auto;
      margin-top: 10px;
    }
    .login {
      width: 100%; height: 40px;
      line-height: 30px;
    }
    .login > button {
      color: #fff;
      font-size: 18px;
      font-weight: 500;
    }
    .etc_area {
      width: 84.375%; min-width: 255px; height: 40px;
      padding-top: 2px;
      margin: auto;
      /* line-height: 1px; */
      /* float: left; */
      /* margin-top: 46px; */
    }
    .etc_area ul {
      width: 100%; min-width: 255px; height: 40px;
      margin: auto;
      text-align: center;
    }
    .etc_area li {
      display: inline-block;
      width: 29.411%; min-width: 75px; height: 25px;
      line-height: 25px;
      font-size: 10px;
      text-align: center;
      background-color: #eee;
      margin-right: 3px;
      border-radius: 5px;
      /* background-color: #ddd; */
    }

    .membership_area {
      width: 52.5%; min-width: 168px; height: 40px;
      margin: auto;
      margin-top: 30px;
    }
    .membership_area i {display: none;}
    #open {
      width: 100%; min-width: 168px; height: 40px;
      margin: auto;
      font-size: 12px;
      color: #fff;
      text-align: center;
      line-height: 40px;
      background-color: rgba(36, 48, 90, 86%);
      border-radius: 7px;
      
    }
    .modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .modal_overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.6);
    }
    .modal_content {
      width: 98%;
      float: right;
      background-color: #fff;
      padding: 10px 5px;
      text-align: center;
      position: relative;
      border-radius: 10px;
      line-height: 14px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
    .modalHeader h1 {
      /* text-align: center; */
      float: right;
      width: 100%;
      height: 24px;
      font-size: 12px;
      top: 0;
      margin: 0;
      padding-left: 20px;
      /* line-height: 10%; */
    }
    .modalHeader button {
      top: 0;
      float: right;
      margin-top: -30px;
      /* text-align: right; */
      padding-left: 10px;
    }
    .modalHeader button img {
      top: 0;
      width: 24px;
      height: 24px;
      cursor: pointer;
    }
    .modal_content i {
      width: 100%;
      height: 100%;
      font-size: 11px;
      /* line-height: 12px; */
    }
    .on {
      display: none;
    }


    
/* #footBox ========================= */
  #footBox {
    float: left;
    width: 100%; min-width: 320px;
    height: auto;
    border-top: 3px solid #243c84;
    /* padding: 20px; */
  }
  .foot_inner {
    width: 93.75%; min-width: 300px; height: auto;
    margin: 10px auto;
    position: relative;
  }
  .foot_main {
    color: #000;
    text-align: center;
    position: relative;
  }
  .foot_inner h2 {
    width: auto;
    margin: auto;
    /* margin-bottom: 8px; */
  }  
  .foot_main h2 button img {
    width: 28.125%; min-width: 90px; height: 18px;
    margin: auto;
    display: block;
  }
  .foot_main .company_info {
    width: 100%; min-width: 300px; height: auto;
  }
  .foot_main .company_info li {
    font-size: 14px;
    /* display: inline-block; */
  }
  .foot_main p {
    font-size: 12px;
    margin-top: 2.5%;
    font-weight: 400;
  }

  .foot_main .footsubmenu {display: none;}
  .foot_inner > ul > li {
    width: auto; height: auto;
    /* font-size: 10px; */
    font-weight: 300;
    color: #ffffff;
  }

  .to_top {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 4%;
    z-index: 1;
  }
  .to_top.on {
    display: block;
  }
  .to_top span {
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(../../img/to_top2color.svg)no-repeat center;
    background-size: 30px;
  }
  .to_top span:hover {
    background: url(../../img/to_top_fill.svg)no-repeat center;
    background-size: 30px;
  }
}