/* d_login_laptop.cs */

/* 1280px ~ 1439px */
@media all and (min-width:1280px) and (max-width:1439px) {
  #wrap {width: 100%; min-width: 1280px; min-height: 600px; }
  #headBox { 
    width:100%; height: 140px; 
    box-sizing:border-box;
    position: fixed;
    z-index: 1000;
    background-color: #fff;
  }
  .head_inner {
    width: 100%; max-width: 1439px; min-width: 1280px;
    height: 50%;
    margin: auto; box-sizing: border-box;
    padding: 12px 40px;
    /* background-color: #243c84; */
  }
  h1 {
    float: left;
    width: 240px; height: 56px;
    /* margin-left: 10px; */
    margin: auto;
  }
  h1 > button > img {
    width: 100%; height: 20px;
    margin-top: 12px;
  }

  .unb {
    float: right;
    width: 470px; height: 46px;      
  }
  .unb ul {
    width:450px; height: auto;
    /* padding: 5px 15px; */
  }
  .unb li {
    float: right;
    width: auto; height: 20px;
    margin: 12px;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    /* color: #fff; */
    /* background-color: #fff; */
  }
  .unb .clearfix {
    width: 410px; height: auto;
  }

  /* .unb button {
    width: 80px; height: 25px; 
    border: 0; margin: 0; 
    background-color: #213C5D;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
  } */
  .search_part {
    float: right;
    width: auto;
    height: auto;
    margin: auto;
    margin-top: 5px;
    margin-left: 10px;
  }
  .search_part > form {
    width: auto;
    height: auto;
  }
  .search_part fieldset {
    display: flex;
    width: auto;
    height: auto;
    /* padding: 4px; */
  }
  #unbsearchInput {
    width: 64%; min-width: 192px;
    height: 40px;
    margin: auto;
    margin-right: 8px;
    padding-left: 10px;
    border-radius: 4px;
    font-size: 16px;
    border: 1px solid #aaaaaa;
  }
  
  .search_btn {
    width: 24.666%; min-width: 80px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: #243c84;
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
  }

  /* ---------------------------------- */
  .head_inner02 {
    width: 100%; height: 50%;
    background-color: #243c84;
    margin: auto; padding-top: 12px; box-sizing: border-box;
    /* border-top: 2px solid #333; */
  }

  .gnb {
    width: auto; height: 45px;
  }
  .gnb ul {
    width:100%; height: auto;
    padding: 0 15px;
    margin:auto; text-align: center;
  }
  .gnb li {
    display:inline-block; width:auto; height: auto;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
  }
  .gnb li:first-child {
    margin-left: 0;
  }

  .gnb li a {
    padding: 5px 20px;
    /* background-color: #cca; */
  }
      .header_m {display: none;}
      /* background-color: #cca; */
    
  .mainBox {width: auto; height: auto; top: 0; left: 0; right: 0; padding-top: 140px;}


      

/* #loginBox ============================ */
  #loginBox {
    width: 100%; min-width: 1280px;
    max-width: 1439px;
    height: 1300px;
    padding: 0;
    margin: auto;
    background-image: url(../../img/loginbackground768.svg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .login_area {
    width: 100%; min-width: 1280px;
    height: 1300px;
    padding: 160px 120px 80px 120px;
  }
  .logintext {
    width: 46.094%; min-width: 590px;
    height: 104px;
    margin: auto;
    padding: 30px;
    color: #fff;
    text-align: center;
    font-size: 22px;
  }
  .welcometext li {
    width: 60.781%; min-width: 778px;
    height: 72px;
    font-size: 18px;
    text-align: center;
    margin: auto;
    padding: 20px 0;
    color: #fff;
  }
  .loginmain {
    width: 39.0625%; min-width: 500px; height: auto;
    margin: auto;
  }
  .privite {
    width: 39.84375%; min-width: 510px;
    height: 186px;
    border: none;
    padding: 0;
    margin: auto;
    margin-top: 50px;
  }
  /* .login_area button {
    width: 204px; height: 40px;
    text-align: center; line-height: 130px;
    font-size: 20px; font-weight: 500;
  } */
  #userId {
    float: left;
    width: 100%; min-width: 498px;
    height: 80px;
    border-radius: 5px;
    font-size: 18px;
    padding: 12px;
    /* width: calc(100% - 19px); height: 42px; */
  }
  #userPw {
    float: left;
    width: 100%; min-width: 498px;
    height: 80px;
    border-radius: 5px;
    font-size: 18px;
    padding: 12px;
    margin-top: 10px;
  }
  /* .privite ul > li > input {
    /* width: 206px; height: 42px; */
    /* float: left;
    width:calc(100% - 19px); height: 42px;
    padding: 12px 8px;
    font-size: 18px;
  } */

    .check {
      width: 38.90625%; min-width: 498px;
      height: 65px;
      /* margin-left: 22.65625%; */
      padding-top: 15px;
      border: none;
    }
    .check input {
      width: 20px;
      height: 20px;
      float: left;
      margin-left: 20px;
      border: 1px solid #ededed;
    }
    .check label {
      width: 27.344%; min-width: 350px;
      height: 100%;
      /* line-height: 35px; */
      /* padding: 5px; */
      float:left;
      cursor: pointer;
    }
    .check label span {
      width: 15.625%; min-width: 200px; height: 46px;
      line-height: 35px;
      /* padding: 5px; */
      margin: auto;
      margin-left: 30px;
      margin-top: -8px;
      float:left;
      cursor: pointer;
      color: #fff;
      font-size: 17px;
    }
    /* .check label i { 
      width: 18px; height: 18px;
      margin-right: 0.3rem; margin-top:0.35rem;
      float:left;
      border:1px solid #fff;
    }
    #idcheck:checked + label > i { 
      position: relative; 
      background-color: #24305A;
      border-color:transparent;
    }
    #logincheck:checked + label > i { 
      position: relative; 
      background-color: #24305A;
      border-color:transparent;
    } */
    /* .check span {
      width: 100px;
      padding: 10px;
    } */
    .login_btn {
      width: 38.594%; min-width: 494px; height: 65px;
      border-radius: 5px;
      background-color: #24305A;
      text-align: center;
      margin: auto;
    }
    .login {
      width: 100%; height: 65px;
    }
    .login > button {
      color: #fff;
      font-size: 20px;
      font-weight: 500;
      line-height: 65px;
    }
    .etc_area {
      width: 38.906%; min-width: 498px; height: 60px;
      padding: 20px;
      margin: auto;
      /* line-height: 1px; */
      /* float: left; */
      /* margin-top: 22px; */
    }
    .etc_area ul {
      width: 100%; height: 60px;
      margin: auto;
      text-align: center;
    }
    .etc_area li {
      display: inline-block;
      width: 28.916%; min-width: 144px; height: 40px;
      line-height: 40px;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      background-color: #eee;
      margin-right: 5px;
      border-radius: 5px;
      /* background-color: #ddd; */
    }
    .membership_area {
      width: 42.969%; min-width: 550px; height: 250px;
      margin: auto;
      margin-top: 120px;
      padding-top: 10px;
      text-align: center;
      background-color:  rgba(238, 238, 238, 75%);
      border-radius: 5px;
    }
    .membership_area > i {
      width: 46.094%; min-width: 590px; height: 226px;
      font-size: 15px;
    }
    #open {
      width: 81.818%; min-width: 450px; height: 50px;
      margin: auto;
      margin-top: 30px;
      font-size: 16px;
      font-weight: 400;
      color: #fff;
      text-align: center;
      line-height: 50px;
      background-color: rgba(36, 48, 90, 94%);
      border-radius: 7px;
    }
    
    .modal {display: none;}

/* ===================================================== */
#footBox {
  float: left;
  width: 100%; min-width: 1280px;
  height: auto;
  border-top: 3px solid #243c84;
  /* padding: 20px; */
}
  .foot_inner {
    width: 85.7813%; min-width: 1098px; height: auto;
    margin: 30px auto;
    position: relative;
  }
  .foot_main {
    color: #000;
    text-align: center;
    position: relative;
  }
  .foot_inner > h2 {
    width: auto;
    margin-bottom: 28px;
  }
  .foot_main h2 button img {
    width: 260px; height: 26px;
    margin: auto;
    display: block;
  }
  .foot_main .company_info {
    width: 100%; height: auto;
  }
  .foot_main .company_info li {
    font-size: 18px;
    display: inline-block;
  }
  .foot_main .company_info li::after {
    padding: 0 14px;
    content: 'l';
  }
  .foot_main p {
    font-size: 17px;
    margin-top: 26px;
    font-weight: 400;
  }
  .foot_main .footsubmenu {
    width: 100%;
    width: 240px;
    display: flex;
    position: absolute;
    top: 10px;
    right: 0;
    /* font-size: 0.75rem; */
  }
  .language_part {
    width: 50%;
  }
  .language_btn {
    width: 100%; height: 42px;
    margin-top: 2px;
  }
  .language_btn img {
    width: 30px; height: 30px;
  }
  .language_part ul {
    display: none;
    width: 100%;
    margin-top: 10px;
    padding: 10px 8px;
    /* margin-bottom: 25px; */
    border: 1px solid #262626;
    position: relative;
    cursor: pointer;
    text-align: center;
  }
  .language_part ul.on {
    display: block;
    width: 100%; height: auto;
  }
  .language_part li {
    width: auto; height: 30px;
    line-height: 20px;
  }
  .language_part li button { text-transform: uppercase; }
  .brandsite_part {
    width: 50%;
    margin-left: 5px;
  }
  .brandsite_btn {
    width: 100%; height: 42px;
    line-height: 42px;
    background-color: #243c84;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
  }
  .brandsite_part ul {
    display: none;
    width: 100%; height: auto;
    margin-top: 10px;
    padding: 5px 8px;
    /* margin-bottom: 25px; */
    border: 1px solid #262626;
    position: relative;
    cursor: pointer;
    text-align: center;
  }
  .brandsite_part ul.on {
    display: block;
    width: 100%; height: auto;
  }
  .foot_inner > ul > li {
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
  }
  .footInner_m {display: none;}
}