/* e_login_pc.css */

/* 1440px ~ 1919px */
@media all and (min-width:1440px) and (max-width:1919px) {
  #wrap {width: 100%; min-width: 1440px; min-height: 600px; }
  #headBox {
    width: 100%; height: 120px;
    box-sizing: border-box;
    padding: 46px 18px 46px 24px;
    /* background-color: #ddd; */
  }
    .head_inner {
      width: 100%; max-width: 1919px; min-width: 1440px;
      margin-left: 30px; box-sizing: border-box;
      /* background-color: #ccc; */
    }
      h1 {
        float: left;
        width: 19.444%; min-width: 280px; height: 28px;
      }
      
      h1 > button > img { 
        width: 100%; min-width: 280px; height: 28px;}

      .gnb {
        float: left;
        width: 63.5%; min-width: 900px; height: 55px;
      }
      .gnb > ul {
        width: 63.5%; min-width: 900px; height: 54px;
        text-align: center;
        margin-left: 190px; 
      }
      .gnb > ul > li {
        display: inline-block; width: auto; height: auto;
        margin-left: 10px;
      }
      .gnb li:first-child {
        margin-left: 0;
      }
      .gnb li a {
        padding: 5px;
      }
      /* background-color: #cca; */

/* #loginBox ============================ */
  #loginBox {
    width: 100%; min-width: 1440px;
    max-width: 1919px;
    height: 1400px;
    padding: 0;
    margin: auto;
    background-image: url(../../img/loginbackground768.svg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .login_area {
    width: 100%; min-width: 1440px;
    height: 1400px;
    padding: 200px 120px 80px 120px;
  }
  .logintext {
    width: 40.972%; min-width: 590px;
    height: 104px;
    margin: auto;
    padding: 30px;
    color: #fff;
    text-align: center;
    font-size: 28px;
  }
  .welcometext li {
    width: 54.027%; min-width: 778px;
    height: 72px;
    font-size: 20px;
    text-align: center;
    margin: auto;
    padding: 20px 0;
    color: #fff;
  }
  .privite {
    width: 34.583%; min-width: 498px;
    height: 186px;
    border: none;
    padding: 0;
    margin: auto;
    margin-top: 50px;
  }
  /* .login_area button {
    width: 204px; height: 40px;
    text-align: center; line-height: 130px;
    font-size: 20px; font-weight: 500;
  } */
  #userId {
    float: left;
    width: 100%; min-width: 498px;
    height: 80px;
    border-radius: 5px;
    font-size: 20px;
    padding: 12px;
    /* width: calc(100% - 19px); height: 42px; */
  }
  #userPw {
    float: left;
    width: 100%; min-width: 498px;
    height: 80px;
    border-radius: 5px;
    font-size: 20px;
    padding: 12px;
    margin-top: 10px;
  }
  /* .privite ul > li > input {
    /* width: 206px; height: 42px; */
    /* float: left;
    width:calc(100% - 19px); height: 42px;
    padding: 12px 8px;
    font-size: 18px;
  } */

    .check {
      width: 13.888%; min-width: 200px;
      height: 65px;
      margin-left: 370px;
      padding-top: 5px;
      border: none;
    }
    .check label {
      width: 27.344%; min-width: 350px;
      height: 100%;
      /* line-height: 35px; */
      /* padding: 5px; */
      float:left;
      cursor: pointer;
    }
    .check label span {
      width: 13.888%; min-width: 200px; height: 46px;
      line-height: 35px;
      /* padding: 5px; */
      margin: auto;
      margin-left: 30px;
      margin-top: -10px;
      float:left;
      cursor: pointer;
      color: #fff;
      font-size: 18px;
    }
    .check label i { 
      width: 18px; height: 18px;
      margin-right: 0.3rem; margin-top:0.35rem;
      float:left;
      border:1px solid #fff;
    }
    #idcheck:checked + label > i { 
      position: relative; 
      background-color: #24305A;
      border-color:transparent;
    }
    #logincheck:checked + label > i { 
      position: relative; 
      background-color: #24305A;
      border-color:transparent;
    }
    /* .check span {
      width: 100px;
      padding: 10px;
    } */
    .login_btn {
      width: 34.305%; min-width: 494px; height: 65px;
      border-radius: 5px;
      background-color: #24305A;
      text-align: center;
      margin: auto;
    }
    .login {
      width: 100%; height: 65px;
    }
    .login > button {
      color: #fff;
      font-size: 22px;
      font-weight: 500;
      line-height: 65px;
    }
    .etc_area {
      width: 34.583%; min-width: 498px; height: 60px;
      padding: 20px;
      margin: auto;
      /* line-height: 1px; */
      /* float: left; */
      /* margin-top: 22px; */
    }
    .etc_area ul {
      width: 100%; height: 60px;
      margin: auto;
      text-align: center;
    }
    .etc_area li {
      display: inline-block;
      width: 10%; min-width: 144px; height: 40px;
      line-height: 40px;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      background-color: #eee;
      margin-right: 5px;
      border-radius: 5px;
      /* background-color: #ddd; */
    }
    .membership_area {
      width: 38.194%; min-width: 550px; height: 250px;
      margin: auto;
      margin-top: 120px;
      padding-top: 10px;
      text-align: center;
      background-color:  rgba(238, 238, 238, 75%);
      border-radius: 5px;
    }
    .membership_area > i {
      width: 40.972%; min-width: 590px; height: 226px;
      font-size: 16px;
    }
    .membership_content button {
      width: 81.818%; min-width: 450px; height: 50px;
      margin: auto;
      margin-top: 30px;
      font-size: 16px;
      font-weight: 400;
      color: #fff;
      text-align: center;
      line-height: 50px;
      background-color: rgba(36, 48, 90, 94%);
      border-radius: 7px;
    }
    
/* ===================================================== */
  #footBox {
    float: left;
    width: 100%; min-width: 1440px;
    height: 244px;
    background-color: #555555;
    /* padding: 20px; */
  }
  
    .foot_inner {
      width: 80.9722%; min-width: 1166px; height: 197px;
      margin: 50px 0 0 70px;
    }
  
    .foot_inner > h2 {
      margin-bottom: 29px;
    }

    .foot_inner > h2 > img {
      width: 100%; min-width: 280px; height: 28px;
    }
  
    .foot_inner > ul > li {
      font-size: 20px;
      color: #ffffff;
    }

    .footInner_m {display: none;}
}