/* f_login_pcfull.css */

/* 1920px ~ */
@media all and (min-width:1920px) {
  #wrap {width: 100%; min-width: 1920px; }
  /* #headBox ========================= */
  #headBox { 
    width:100%; height: 180px; 
    box-sizing:border-box;
    position: fixed;
    z-index: 1000;
    background-color: #fff;
  }
  .head_inner {
    width: 100%; min-width: 1920px;
    height: 50%;
    margin: auto; box-sizing: border-box;
    padding: 16px 40px;
    /* background-color: #243c84; */
  }
  h1 {
    float: left;
    width: 280px; height: 66px;
    /* margin-left: 10px; */
    margin: auto;
  }
  h1 > button > img {
    width: 100%; height: 30px;
    margin-top: 14px;
  }

  .unb {
    float: right;
    width: 500px; height: 52px;    
    margin-top: 2px;
  }
  .unb ul {
    width: 500px; height: auto;
    /* padding: 5px 15px; */
  }
  .unb li {
    float: right;
    width: auto; height: 20px;
    margin: 12px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    /* color: #fff; */
    /* background-color: #fff; */
  }
  .unb .clearfix {
    width: 410px; height: auto;
  }

  /* .unb button {
    width: 80px; height: 25px; 
    border: 0; margin: 0; 
    background-color: #213C5D;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
  } */
  .search_part {
    float: right;
    width: auto;
    height: auto;
    margin: auto;
    margin-top: 5px;
    margin-left: 18px;
  }
  .search_part > form {
    width: auto;
    height: auto;
  }
  .search_part fieldset {
    display: flex;
    width: auto;
    height: auto;
    /* padding: 4px; */
  }
  #unbsearchInput {
    width: 64%; min-width: 220px;
    height: 48px;
    margin: auto;
    margin-right: 8px;
    padding-left: 10px;
    border-radius: 4px;
    font-size: 18px;
    border: 1px solid #aaaaaa;
  }
  
  .search_btn {
    width: 24.666%; min-width: 80px;
    height: 48px;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: #243c84;
    color: #fff;
    font-size: 18px;
    text-transform: capitalize;
  }

  /* ---------------------------------- */
  .head_inner02 {
    width: 100%; height: 50%;
    background-color: #243c84;
    margin: auto; padding-top: 24px; box-sizing: border-box;
    /* border-top: 2px solid #333; */
  }

  .gnb {
    width: auto; height: auto;
  }
  .gnb ul {
    width:100%; height: auto;
    padding: 0 15px;
    margin:auto; text-align: center;
  }
  .gnb li {
    display: inline-block; width:auto; height: auto;
    margin-left: 20px;
    font-size: 22px;
    color: #fff;
  }
  .gnb li:first-child {
    margin-left: 0;
  }

  .gnb li a {
    padding: 20px 20px;
    /* background-color: #cca; */
  }
      .header_m {display: none;}
      /* background-color: #cca; */
    
  .mainBox {width: auto; height: auto; top: 0; left: 0; right: 0; padding-top: 180px;}

    
/* #loginBox ============================ */
  #loginBox {
    width: 100%; min-width: 1920px;
    height: 1500px;
    padding: 0;
    margin: auto;
    background-image: url(../../img/loginbackground768.svg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .login_area {
    width: 100%; min-width: 1920px;
    height: 1500px;
    padding: 220px 120px 80px 120px;
  }
  .logintext {
    width: 32.292%; min-width: 620px;
    height: 114px;
    margin: auto;
    padding: 30px;
    color: #fff;
    text-align: center;
    font-size: 26px;
  }
  .welcometext li {
    width: 40.521%; min-width: 778px;
    height: 72px;
    font-size: 22px;
    text-align: center;
    margin: auto;
    padding: 20px 0;
    color: #fff;
  }
  .loginmain {
    width: auto; height: auto;
    margin: auto;
  }
  .privite {
    width: 31.146%; min-width: 598px;
    height: 206px;
    border: none;
    padding: 0;
    margin: auto;
    margin-top: 50px;
  }
  /* .login_area button {
    width: 204px; height: 40px;
    text-align: center; line-height: 130px;
    font-size: 20px; font-weight: 500;
  } */
  #userId {
    float: left;
    width: 100%; min-width: 598px;
    height: 90px;
    border-radius: 5px;
    font-size: 20px;
    padding: 14px;
    /* width: calc(100% - 19px); height: 42px; */
  }
  #userPw {
    float: left;
    width: 100%; min-width: 598px;
    height: 90px;
    border-radius: 5px;
    font-size: 20px;
    padding: 14px;
    margin-top: 10px;
  }
  /* .privite ul > li > input {
    /* width: 206px; height: 42px; */
    /* float: left;
    width:calc(100% - 19px); height: 42px;
    padding: 12px 8px;
    font-size: 18px;
  } */

    .check {
      width: 31.1458%; min-width: 598px;
      height: 85px;
      /* margin-left: 560px; */
      margin: auto;
      padding-top: 20px;
      border: none;
    }
    .check label {
      width: 27.344%; min-width: 350px;
      height: 100%;
      /* line-height: 35px; */
      /* padding: 5px; */
      float:left;
      cursor: pointer;
    }
    .check input {
      width: 20px;
      height: 20px;
      float: left;
      margin-left: 20px;
      border: 1px solid #ededed;
    }
    .check label span {
      width: 10.9375%; min-width: 210px; height: 66px;
      line-height: 38px;
      /* padding: 5px; */
      margin: auto;
      margin-left: 40px;
      margin-top: -10px;
      float:left;
      cursor: pointer;
      color: #fff;
      font-size: 22px;
    }
    /* .check label i { 
      width: 20px; height: 20px;
      margin-right: 0.3rem; margin-top:0.35rem;
      float:left;
      border:1px solid #fff;
    }
    #idcheck:checked + label > i { 
      position: relative; 
      background-color: #24305A;
      border-color:transparent;
    }
    #logincheck:checked + label > i { 
      position: relative; 
      background-color: #24305A;
      border-color:transparent;
    } */
    /* .check span {
      width: 100px;
      padding: 10px;
    } */
    .login_btn {
      width: 30.9375%; min-width: 594px; height: 75px;
      border-radius: 5px;
      background-color: #24305A;
      text-align: center;
      margin: auto;
    }
    .login {
      width: 100%; height: 75px;
    }
    .login > button {
      color: #fff;
      font-size: 22px;
      font-weight: 500;
      line-height: 75px;
    }
    .etc_area {
      width: 31.146%; min-width: 598px; height: 70px;
      padding: 20px;
      margin: auto;
      /* line-height: 1px; */
      /* float: left; */
      margin-top: 42px;
    }
    .etc_area ul {
      width: 100%; height: 70px;
      margin: auto;
      text-align: center;
    }
    .etc_area li {
      display: inline-block;
      width: 29.599%; min-width: 177px; height: 50px;
      line-height: 50px;
      font-size: 18px;
      text-align: center;
      background-color: #eee;
      margin-right: 5px;
      border-radius: 5px;
      /* background-color: #ddd; */
    }
    .membership_area {
      width: 35.416%; min-width: 680px; height: 280px;
      margin: auto;
      margin-top: 120px;
      padding-top: 25px;
      text-align: center;
      background-color:  rgba(238, 238, 238, 75%);
      border-radius: 10px;
    }
    .membership_area > i {
      width: 31.25%; min-width: 600px; height: 236px;
      font-size: 19px;
    }
    #open {
      width: 66.176%; min-width: 450px; height: 60px;
      margin: auto;
      margin-top: 30px;
      font-size: 20px;
      font-weight: 400;
      color: #fff;
      text-align: center;
      line-height: 50px;
      background-color: rgba(36, 48, 90, 94%);
      border-radius: 7px;
    }

    .modal {display: none;}

    
/* ===================================================== */
#footBox {
  float: left;
  width: 100%; min-width: 1920px;
  height: auto;
  border-top: 3px solid #243c84;
  /* padding: 20px; */
}

  .foot_inner {
    width: 71.1458%; min-width: 1366px; height: auto;
    margin: 34px auto;
  }
  .foot_main {
    color: #000;
    text-align: center;
    position: relative;
  }
  .foot_main > h2 {
    width: auto;
    margin-bottom: 28px;
  }
  .foot_main h2 button img {
    width: 280px; height: 28px;
    margin: auto;
    display: block;
  }
  .foot_main .company_info {
    width: 100%; height: auto;
  }
  .foot_main .company_info li {
    font-size: 21px;
    display: inline-block;
  }
  .foot_main .company_info li::after {
    padding: 0 14px;
    content: 'l';
  }
  .foot_main p {
    font-size: 20px;
    margin-top: 26px;
    font-weight: 400;
  }
  .foot_main .footsubmenu {
    width: 15.625%;
    min-width: 310px; height: auto;
    display: flex;
    position: absolute;
    top: 10px;
    right: 0;
    /* font-size: 0.75rem; */
  }
  .language_part {
    width: 50%;
  }
  .language_btn {
    width: 100%; height: 60px;
    margin-top: 2px;
  }
  .language_btn img {
    width: 45px; height: 45px;
  }
  .language_part ul {
    display: none;
    width: 100%;
    margin-top: 10px;
    padding: 10px 8px;
    /* margin-bottom: 25px; */
    border: 1px solid #262626;
    position: relative;
    cursor: pointer;
    text-align: center;
  }
  .language_part ul.on {
    display: block;
    width: 100%; height: auto;
  }
  .language_part li {
    width: auto; height: 30px;
    line-height: 20px;
  }
  .language_part li button { text-transform: uppercase; }
  .brandsite_part {
    width: 50%;
    margin-left: 5px;
  }
  .brandsite_btn {
    width: 100%; height: 60px;
    line-height: 42px;
    background-color: #243c84;
    border-radius: 5px;
    color: #fff;
    font-size: 17px;
  }
  .brandsite_part ul {
    display: none;
    width: 100%; height: auto;
    margin-top: 10px;
    padding: 5px 8px;
    /* margin-bottom: 25px; */
    border: 1px solid #262626;
    position: relative;
    cursor: pointer;
    text-align: center;
  }
  .brandsite_part ul.on {
    display: block;
    width: 100%; height: auto;
  }
  .foot_inner > ul > li {
    font-size: 20px;
    color: #ffffff;
  }

  .footInner_m {display: none;}
} 