@charset "UTF-8";
/* web_a01.css */

#wrap {
  width: 1200px; height: auto;
  margin: auto;
}
#headBox {
  width: 100%; height: 100px;
  padding: 30px 20px;
  box-sizing: border-box;
  background-color: #fee;
}
  h1 {
    float: left;
    width: 200px; height: 40px;
    background-color: #dff;
  }
  
#navigation {
  float: right;
  width: 600px; height: 40px;
  background-color: #ddd;
}

.gnb {width: 100%; height: 100%;}
.gnb li {
  float: left;
  width: 25%; height: 100%;
  box-sizing: border-box;
  padding: 0 5px;
  text-align: center;
  background-color: #555;
  line-height: 40px;
}
.gnb a {
  display: block;
  width: 100%; height: 100%;
  background-color: #dff;
}

/* #headBox=================================== */
#viewBox {
  width: 1200px; height: 300px;
  background-color: #eee;
}