// contentBox
  @at-root .content_box_wrap{
      width: 100%; height: auto;
//   @include mobile { min-height: 252px; }
//   @include tablet{ min-height: 516px; }
//   @include laptop{ height:624px; }
//   @include pc{ height:740px; }
//   @include pcFull{height: 740px;}
}