/* d_main_laptop.css */

/* 1280px ~ 1439px */
@media all and (min-width:1280px) and (max-width:1439px) {
  #wrap {width: 100%; min-width: 1280px;}
  #headBox { 
    width:100%; height: 140px; 
    box-sizing:border-box;
    position: fixed;
    z-index: 999;
    background-color: #fff;
  }
  .head_inner {
    width: 100%; max-width: 1600px; min-width: 1280px;
    height: 50%;
    margin: auto; box-sizing: border-box;
    padding: 12px;
    /* background-color: #243c84; */
  }
  h1 {
    float: left;
    width: 250px; height: 56px;
    /* margin-left: 10px; */
    margin: auto;
  }
  h1 > button > img {
    width: 90%; height: 32px;
    margin: 10px;
  }

  .unb {
    float: right;
    width: 470px; height: 46px;      
  }
  .unb ul {
    width:450px; height: auto;
    /* padding: 5px 15px; */
  }
  .unb li {
    float: right;
    width: auto; height: 20px;
    margin: 12px;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    /* color: #fff; */
    /* background-color: #fff; */
  }
  .unb .clearfix {
    width: 410px; height: auto;
  }

  /* .unb button {
    width: 80px; height: 25px; 
    border: 0; margin: 0; 
    background-color: #213C5D;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
  } */
  .search_part {
    float: right;
    width: auto;
    height: auto;
    margin: auto;
    margin-top: 5px;
    margin-left: 10px;
  }
  .search_part > form {
    width: auto;
    height: auto;
  }
  .search_part fieldset {
    display: flex;
    width: auto;
    height: auto;
    /* padding: 4px; */
  }
  #unbsearchInput {
    width: 64%; min-width: 192px;
    height: 40px;
    margin-right: 8px;
    padding-left: 5px;
    border-radius: 4px;
    border: 1px solid #aaaaaa;
  }
  
  .search_btn {
    width: 24.666%; min-width: 80px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: #243c84;
    color: #fff;
    text-transform: capitalize;
  }

  /* ---------------------------------- */
  .head_inner02 {
    width: 100%; height: 50%;
    background-color: #243c84;
    margin: auto; padding-top: 10px; box-sizing: border-box;
    border-top: 2px solid #333;
  }

  .gnb {
    width: auto; height: 45px;
  }
  .gnb ul {
    width:100%; height: auto;
    padding: 0 15px;
    margin:auto; text-align: center;
  }
  .gnb li {
    display:inline-block; width:auto; height: auto;
    margin-left:20px;
    font-size: 18px;
    color: #fff;
  }
  .gnb li:first-child {
    margin-left: 0;
  }

  .gnb li a {
    padding:5px 20px;
    /* background-color: #cca; */
  }

      .loginbtn {
        width: 100px; height: 38px;
        line-height: 38px;
        font-weight: 600; 
        color: #243c84; 
        outline: solid 1.5px; 
        border-radius: 5px;
      }
      .header_m {display: none;}
      /* background-color: #cca; */
    
  .mainBox {width: auto; height: auto; top: 0; left: 0; right: 0; padding-top: 90px;}


#aboutBox {
  width: 100%;
  height: auto;
  padding-top: 130px;
}
  .about_intro {
    width: 1100px;
    height: 334px;
    padding: 10px;
    margin: auto;
  }
  .about_intro img {
    width: 100%; height: 306px;
    margin: auto;
    border-radius: 10px;
  }
  .about_part {
    width: 1180px;
    margin: 40px 70px;
    position: relative;
  }
  .about_part .about_txt {
    width: 100%;
  }
  .about_part .about_txt li {
    position: relative;
  }
  .about_part .about_txt li .about_img_left_m {display: none;}

  .about_part .about_txt li .about_img_left {
    width: 500px;
    margin-left: 0;
    padding-left: 0;
  }
  .about_part .about_txt li .about_img_left img {
    width: 100%;
    border-radius: 10px;
  }
  .about_part .about_txt li .about_txt_left {
    position: absolute;
    margin: auto;
    bottom: 100px;
    right: 50px;
    padding-right: 0;
  }
  .about_part .about_txt li .about_txt_left h4 {
    font-size: 20px;
    line-height: 30px;
  }
  .about_part .about_txt li .about_txt_left p {
    width: 500px;
    margin-top: 10px;
    font-size: 16px;
  }
  .about_part .about_txt li .about_img_right_m {display: none;}
  .about_part .about_txt li {
    position: relative;
  }
  .about_part .about_txt li .about_txt_right {
    position: absolute;
    margin: auto;
    bottom: 100px;
    right: 50px;
    padding-right: 0;
  }
  .about_part .about_txt li .about_txt_right h4 {
    font-size: 20px;
    line-height: 30px;
  }
  .about_part .about_txt li .about_txt_right p {
    width: 500px;
    margin-top: 10px;
    font-size: 16px;
  }
  .about_part .about_txt li .about_img_right {
    width: 500px;
    margin-right: 0;
    padding-right: 0;
  }
  .about_part .about_txt li .about_img_right img {
    width: 100%;
    border-radius: 10px;
  }
  .about_title02 {
    text-align: center;
    margin: 90px 0 30px 0;
  }
  .about_title02 h3 {
    bottom: 30px;
    font-size: 24px;
  }
  .about_philosophy {
    width: 100%;
    margin: auto;
    padding-left: 100px;
  }
  .about_philosophy .phil01 {
    float: left;
    width: 33.3%;
    margin-bottom: 0;
  }
  .about_philosophy .phil02 {
    float: left;
    width: 33.3%;
    margin-bottom: 0;
  }
  .about_philosophy .phil03 {
    float: left;
    width: 33.3%;
    margin-bottom: 30px;
  }
  .about_philosophy .philosophy_txt p {
    width: 100%;
    font-size: 18px;
    line-height: 40px;
  }

  .about_value .val_img_m {display: none;}
  .about_value .val_img {
    width: 1000px;
  }
  .about_value .val_img img {
    width: 100%;
    margin: auto;
    padding-left: 300px;
  }

  .about_img_left_m {display: none;}

  .about_cl li {
    width: 100%;
    height: 30px;
    margin-bottom: 60px;
    line-height: 30px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
  }
  .about_cl .cl_subtitle {
    width: 100%;
    margin: auto;
    padding-left: 74px;
    font-size: 20px;
    text-align: left;
    font-weight: 400;
  }
  .about_img_left {
    width: 500px;
    margin-left: 0;
    padding-left: 0;
  }
  .about_img_left img {
    width: 100%; height: 300px;
    border-radius: 10px;
  }
  .about_txt_left {
    position: absolute;
    margin: auto;
    bottom: 100px;
    right: 50px;
    padding-right: 0;
  }
  .about_title02 .vaule_txt p {
    width: 500px;
    margin: auto;
    font-size: 18px;
  }


}