/* d_main_laptop.css */

/* 1280px ~ 1439px */
@media all and (min-width:1280px) and (max-width:1439px) {
  #wrap {width: 100%; min-width: 1280px;}
    /* #headBox ========================= */
  #headBox {
    width: 100%; height: 90px;
    box-sizing: border-box;
    padding: 28px 34px;
    line-height: 18px;
    position: fixed;
    z-index: 1000;
    background-color: #fff;
  }
    .head_inner {
      width: 100%; max-width: 1439px; min-width: 1280px;
      margin: auto; box-sizing: border-box;
      /* background-color: #ccc; */
    }
      h1 {
        float: left;
        width: 15.625%; min-width: 200px; height: 34px;
        /* margin-top: 19px; */
        /* line-height: 54px; */
      }
      
      h1 > button > img {
        width: 100%; min-width: 200px;
        height: 20px;
        margin-top: 6px;
      }

      .gnb {
        float: right;
        width: 70.3125%; min-width: 900px; height: 34px;
      }
      .gnb > ul {
        width: 66.406%; min-width: 840px; height: 34px;
        text-align: center;
        margin-right: 20px; 
      }
      .gnb > ul > li {
        display: inline-block; width: auto; height: auto;
        line-height: 34px;
        margin-left: 10px;
        font-size: 22px;
      }
      .gnb li:first-child {
        margin-left: 0;
      }
      .gnb li a {
        padding: 5px;
      }
      .global_part {
        width: auto;
        height: 40px;
      }
      
      .main_menu {
        display: flex;
        width: auto;
        height: 40px;
      }
      .main_menu > li {
        position: relative;
        width: auto;
        margin-right: 16px;
        color: #333333;
        font-weight: 600;
        text-transform: capitalize;
      }
      .main_menu > li:last-child {
        margin-right: 0;
      }
      .main_menu > li > a {
        display: flex;
        align-items: center;
        padding: 0 10px;
        color: inherit;
        height: 100%;
      }
      .drop_btn {
        height: 100%;
      }
      .drop_btn > button {
        height: 100%;
        padding: 0 10px;
        color: inherit;
        text-transform: inherit;
      }
      
      .sub_menu {
        display: none;
        position: absolute;
        left: 0;
        top: calc(100% + 4px);
        width: auto;
        height: auto;
        border: 1px solid #757575;
        border-radius: 3px;
        color: #333333;
        white-space: nowrap;
        background-color: #ffffff;
      }
      .sub_menu > li {
        width: 100%;
        height: auto;
        margin-bottom: 8px;
      }
      .sub_menu > li a {
        display: block;
        width: 100%;
        padding: 8px 20px;
      }
      .sub_menu > .border_line {
        border-bottom: 1px solid #757575;
      }
      .loginbtn {
        width: 100px; height: 38px;
        line-height: 38px;
        font-weight: 600; 
        color: #243c84; 
        outline: solid 1.5px; 
        border-radius: 5px;
      }
      .header_m {display: none;}
      /* background-color: #cca; */
    
  .mainBox {width: auto; height: auto; top: 0; left: 0; right: 0; padding-top: 90px;}

}