/* d_laptop.css */

/* (width:1280px ~ 1439px) / design 기준 :1280px */
@media all and (min-width:1280px) and (max-width:1439px) {

  #headBox { 
    width:100%; height: 140px; 
    box-sizing:border-box;
    background-color: #eee;
  }
  .head_inner {
    width:100%; max-width:1600px; min-width:1280px; height: 50%;
    margin: auto; padding:10px; box-sizing: border-box;
    background-color: #EAE1D8;
  }
  h1 {
    float: left;
    width: 137px; height: 52px;
    margin-left: 5px;
    margin: auto;
    background-image: url(../../img/base/ohoulogo.png);
    background-repeat: no-repeat;
    background-size: 100% 50px;
    background-position: 50% 50%;
  }
  .unb {
    float:right;
    width:auto; height:auto;      
  }
  .unb ul {
    width:450px; height: auto;
    padding: 10px 15px;
  }
  .unb li {
    float: left;
    width: 65px; height: 20px;
    margin: 0 5px;
    font-size: 16px;
    text-align: center;
    /* background-color: #fff; */
  }
  .unb .clearfix {
    width: 410px; height: auto;
  }

  .unb button {
    width:100%; height: 25px; 
    border: 0; margin: 0; 
    background-color: #213C5D;
    color: #fff;
    cursor: pointer;
    border-radius:10%;
  }

  /* ---------------------------------- */
  .head_inner02 {
    width: 100%; height: 50%;
    background-color: #EAE1D8;
    margin: auto; padding-top: 20px; box-sizing: border-box;
    border-top: 2px solid #333;
  }

  .gnb {
    width: auto; height: 45px;
  }
  .gnb ul {
    width:100%; height: auto;
    padding: 5px 15px;
    margin:auto; text-align: center;
  }
  .gnb li {
    display:inline-block; width:auto; height: auto;
    margin-left:20px;
    font-size: 18px;
  }
  .gnb li:first-child {
    margin-left: 0;
  }

  .gnb li a {
    padding:5px 20px;
    background-color: #cca;
  }

  #adViewBox {
    height: 622px;
    box-sizing: border-box;
    /* padding: 28px 100px; */
  }
  .view_outer {
    width: 100%; height: 622px;
    margin: auto;
    background-color: #9cf;
  }
  .view_indicator {
    float: right;
    margin: auto;
    margin-top: 500px; margin-right: 30px;
  }
  .view_indicator ul {
    width: 100%; height: auto;
    padding: 10px 15px;
  }
  .view_indicator li {
    float: left;
    width: 20px;
    margin-right: 5px;
    background-color: #333; color: #fff;
    border-radius: 50px;
    text-align: center;
  }
  .view_indicator li:last-child{ margin-right: 0;}

  #shortcutBox {
    height: 410px;
    box-sizing: border-box;
    padding: 30px 100px;
    background-color: #fff;
  }
  .shortcut_outer {
    width: 1080px; height: 356px;
    margin: auto;
    background-color: #9cf;
  }
  .shortcut_outer ul {
    width: 100%; height: auto;
    box-sizing: border-box;
    margin: 0 70px;
  }
  
  .shortcut li {
    float: left;
    width: 200px; height: 200px;
    margin-right: 55px; margin-top: 10px;
    background-color: #eee;
    background-image: url(../../img/picture/shortcut_1.png);
    background-image: url(../../img/picture/shortcut_2.png);
    background-image: url(../../img/picture/shortcut_2-1.png);
    background-image: url(../../img/picture/shortcut_3.png);
    background-image: url(../../img/picture/shortcut_3-1.png);
    background-image: url(../../img/picture/shortcut_4.png);
    background-image: url(../../img/picture/shortcut_4-1.png);
    background-repeat: no-repeat;
    background-size: 220px;
    background-position: 50% 50%;
  }
  /* .shortcut_outer li {
    float: left;
    width: 173px; height: 173px;
    margin-right: 35px; margin-bottom: 10px;
    background-color: #eee;
  } */
  .shortcut_outer li:nth-last-of-type(-n+5){margin-bottom: 0;}
  .shortcut_outer li:nth-last-child(1){margin-bottom: 0; margin-right: 10;}

  .content_box_wrap{
  width: 100%; height: auto;
}

  #communityBox {
    height: 685px;
    background-color: #fff;
    padding: 65px 150px;
  }
  .commuity_inner {
    width: 1080px; height: 570px;
  }
  .bestpicture {
    float: left;
    width: 540px; height: 570px;
  }
  .bestpicture1 {
    float: left;
    width: 245px; height: 240px;
    margin:25px 15px 0px 10px;
    border-radius: 10px;
    background-color: #aaa;
  }
  .bestpicture2 {
    float: left;
    width: 245px; height: 240px;
    margin:25px 15px 0px 10px;
    border-radius: 10px;
    background-color: #aaa;
  }
  .bestpicture3 {
    float: left;
    width: 245px; height: 230px;
    margin:20px 15px 0px 10px;
    border-radius: 10px;
    background-color: #aaa;
  }
  .bestpicture4 {
    float: left;
    width: 245px; height: 230px;
    margin:20px 15px 0px 10px;
    border-radius: 10px;
    background-color: #aaa;
  }
  .story {
    float: left;
    width: 540px; height: 285px;
  }
  .storyimg {
    width: 450px; height: 150px;
    margin: 25px 20px 5px 40px;
    border-radius: 10px;
    background-color: #aaa;
  }
  .storytext {
    width: 450px; height: 45px;
    margin: 10px 40px 0;
    border-radius: 10px;
    background-color: #aaa;
  }
  .storyimg_02 {
    display: none;
  }
  .storytext_02 {
    display: none;
  }
  .storyimg_03 {
    display: none;
  }
  .storytext_03 {
    display: none;
  }
  .storyimg_04 {
    display: none;
  }
  .storytext_04 {
    display: none;
  }
  .review {
    float: left;
    width: 540px; height: 285px;
  }
  .storyimg_02 {
    display: none;
  }
  .storytext_02 {
    display: none;
  }
  .reviewimg {
    width: 450px; height: 150px;
    margin: 25px 20px 5px 40px;
    border-radius: 10px;
    background-color: #aaa;
  }
  .reviewtext {
    width: 450px; height: 45px;
    margin: 10px 40px 0;
    border-radius: 10px;
    background-color: #aaa;
  }
  .reviewimg_02 {
    display: none;
  }
  .reviewtext_02 {
    display: none;
  }

  #bestBox {
    width: 100%; height: 603px;
    box-sizing: border-box;
    /* padding: 50px 100px; */
  }
  .commuity_inner {
    width: 1080px; height: 570px;
    background-color: #9cf;
  }
  .bestpicture {
    float: left;
    width: 540px; height: 570px;
    background-color: #ffd;
  }
  .bestpicture1 {
    float: left;
    width: 245px; height: 240px;
    margin:25px 15px 0px 10px;
    border-radius: 10px;
    background-color: #aaa;
  }
  .bestpicture2 {
    float: left;
    width: 245px; height: 240px;
    margin:25px 15px 0px 10px;
    border-radius: 10px;
    background-color: #aaa;
  }
  .bestpicture3 {
    float: left;
    width: 245px; height: 230px;
    margin:20px 15px 0px 10px;
    border-radius: 10px;
    background-color: #aaa;
  }
  .bestpicture4 {
    float: left;
    width: 245px; height: 230px;
    margin:20px 15px 0px 10px;
    border-radius: 10px;
    background-color: #aaa;
  }
  .story {
    float: left;
    width: 540px; height: 285px;
    background-color: #eee;
  }
  .storyimg {
    width: 450px; height: 150px;
    margin: 25px 20px 5px 40px;
    border-radius: 10px;
    background-color: #aaa;
  }
  .storytext {
    width: 450px; height: 45px;
    margin: 10px 40px 0;
    border-radius: 10px;
    background-color: #aaa;
  }
  .review {
    float: left;
    width: 540px; height: 285px;
    background-color: #9cf;
  }
  .reviewimg {
    width: 450px; height: 150px;
    margin: 25px 20px 5px 40px;
    border-radius: 10px;
    background-color: #aaa;
  }
  .reviewtext {
    width: 450px; height: 45px;
    margin: 10px 40px 0;
    border-radius: 10px;
    background-color: #aaa;
  }

  /* #bestBox============================== */
  #bestBox {
    height: 603px;
    box-sizing: border-box;
    background-color: #fff;
    padding: 50px 100px;
  }
    .area_title {
      width: 1080px; height: 20px;
      margin: auto;
      text-align: center;
    }
    .best_inner {
      float: left;
      width: 1040px; height: 35px;

      padding: 0 20px;
      background-color: #eee;
    }
    .best_inner ul {
      width: 1040px; height: auto;
      padding: 10px 0 10px 25px;
    }
    .best_inner li {
      float: left;
      width: 87px;
      text-align: center;
    }
    .bestimg1 {
      float: left;
      width: 300px; height: 300px;
      margin: 30px 20px 10px 20px;
      border-radius: 10px;
      background-color: #aaa;
    }
    .bestimg2 {
      float: left;
      width: 300px; height: 300px;
      margin: 30px 20px 10px 20px;
      border-radius: 10px;
      background-color: #aaa;
    }
    .bestimg3 {
      float: left;
      width: 300px; height: 300px;
      margin: 30px 20px 10px 20px;
      border-radius: 10px;
      background-color: #aaa;
    }
    .besttext1 {
      float: left;
      width: 300px; height: 100px;
      margin: 10px 20px 10px 20px;
      border-radius: 10px;
      background-color: #aaa;
    }
    .besttext2 {
      float: left;
      width: 300px; height: 100px;
      margin: 10px 20px 10px 20px;
      border-radius: 10px;
      background-color: #aaa;
    }
    .besttext3 {
      float: left;
      width: 300px; height: 100px;
      margin: 10px 20px 10px 20px;
      border-radius: 10px;
      background-color: #aaa;
    }

  #miniAdBox {
    height: 285px; 
    box-sizing: border-box; padding: 28px 100px;
    background-color: #fff;
  }
  .mini_inner{
    width: 1080px; height:230px;
    margin:auto;
  }
  .deal {
    float: left;
    width: 540px; height: 230px;
  }
  .dealimg {
    float: left;
    width: 400px; height: 150px;
    margin: 30px 70px 30px 70px;
    border-radius: 10px;
    background-color: #aaa;
  }
  .dealimg_02 {
    display: none;
  }
  .dealimg_03 {
    display: none;
  }
  .dealtext_01 {
    display: none;
  }
  .dealtext_02 {
    display: none;
  }
  .dealtext_03 {
    display: none;
  }
  .planning {
    float: left;
    width: 540px; height: 230px;
    background-color: #9cf;
  }
  .planingimg {
    float: left;
    width: 400px; height: 150px;
    margin: 30px 70px 30px 70px;
    border-radius: 10px;
    background-color: #aaa;
  }
  .planingimg_02 {
    display: none;
  }
  .planingimg_03 {
    display: none;
  }
  .planingtext {
    display: none;
  }
  .planingtext_02 {
    display: none;
  }
  .planingtext_03 {
    display: none;
  }

  #footBox {
    width: 100%; height: 360px; 
    box-sizing: border-box;
    /* padding: 5px 100px; */
    background-color: #999;
  }
  .foot_inner {
    width: 1080px; height: 350px;
    margin:auto;
    background-color: #9cf;
  }
}