/* b_smartphone.css */

/* (디자인기준: 320px) ~ 767px */
@media all and (max-width:767px) {
  #wrap {width: 100%; min-width: 320px; min-height: 600px;}
  #headBox {
    width: 100%;
    min-width: 320px;
    height: 60px;
    box-sizing: border-box;
    padding: 10px 12px 14px 12px;
    position: fixed;
    z-index: 1000;
    background-color: #fff;
  }
    .head_inner {
      width: 100%; max-width: 767px; min-width: 320px;
      margin: auto; box-sizing: border-box;
      /* background-color: #ccc; */
    }
      h1 {
        float: left;
        width: 33.75%; min-width: 108px; height: auto;
      }
      .head_inner > h1 > button > img {
        width: 100%; min-width: 108px; height: 12px;
      }
    .unb {display: none;}
    .gnb {display: none;}
  #headBox .header_m {padding-left: 34.375%;}
  .header_m {
    float: right;
    width: 46.875%; min-width: 150px; height: 26px;
    margin: auto;
    margin-top: 10px;
    box-sizing: border-box;
    /* background-color: #ddd; */
  }
    #unbInner {width: 13.75%; min-width: 44px; padding: 0;}
    
    #check_box {display: none;}
    
    #check_box + label {
      position: relative;
      display: block;
      width: 11.875%; min-width: 38px;
      height: 20px;
      cursor: pointer;
      z-index: 100;
      margin: auto;
      /* position: relative; */
    }
    
    #check_box + label > span {
      position: absolute;
      display: block;
      width: 100%;
      height: 3px;
      background: black;
      border-radius: 5px;
      transition: all 300ms;
    }
    
    #check_box:checked + label > span:nth-child(1) {
      top: 50%;
      transform: translate(0, -50%);
      transform: rotate(45deg);
    }
    
    #check_box + label > span:nth-child(2) {
      top: 50%;
      transform: translate(0, -50%);
    }
    
    #check_box:checked + label > span:nth-child(2) {
      opacity: 0;
    }
    
    #check_box + label > span:nth-child(3) {
      bottom: 0;
    }
    
    #check_box:checked + label > span:nth-child(3) {
      top: 50%;
      transform: translate(0, -50%);
      transform: rotate(-45deg);
    }
    #check_box:checked + label + #slide_menu {
      /* float: right; */
      left: 40px;
    }
    #slide_menu {
      position: fixed;
      width: 100%; min-width: 281px;
      height: 100%;
      background-color: rgba(36, 48, 90, 86%);
      text-transform: uppercase;
      left: 100%;
      transition: all 300ms;
      z-index: 1;
      top: 0px;
      padding: 60px 16px 20px 16px;
      box-sizing: border-box;
    }
    
    input[id*="slide_btn"] {display: none;}
    input[id*="slide_btn"] + label {
      width: auto;
      display: block;
      padding: 10px;
      border-bottom: 1px solid #fff;
      /* border-bottom: 0; */
      font-size: 18px;
      color: #eee;
      font-weight: 400;
      /* background-color: #000; */
      cursor: pointer;
      position: relative;
    }
    /* input[id*="answer"] + label em {
      position: absolute;
      top: 50px;
      right: 10px;
      width: 30px; height: 30px;
      margin-top: -15px;
      display: inline-block;
      background: url("../../img/slide_openbtn.svg") 0 0 no-repeat;
    } */
    input[id*="slide_btn"] + label + div {
      max-height: 0;
      transition: all .35s;
      overflow: hidden;
      /* background-color: #ebf8ff; */
      font-size: 16px;
      font-weight: 300;
      color: #fff;
    }
    input[id*="slide_btn"] + label + div a {
      display: inline-block;
      padding: 10px;
      display: flex;
    }
    input[id*="slide_btn"]:checked + label + div {
      max-height: inherit;
    }
    /* input[id*="slide_btn"]:checked + label em {background-position: 0 -30px;} */

    .search_part {
      height: auto;
    }
    .search_part > form {
      width: auto;
      height: auto;
    }
    .search_part fieldset {
      display: flex;
      width: auto;
      height: auto;
      /* padding: 4px; */
    }
    #searchInput {
      width: 53.75%; min-width: 172px;
      height: 44px;
      margin-right: 8px;
      padding-left: 5px;
      border-radius: 4px;
      border: 1px solid #aaaaaa;
    }
    
    .search_btn {
      width: 21.875%; min-width: 70px;
      border-radius: 4px;
      border: 1px solid #fff;
      color: #fff;
      text-transform: capitalize;
    }


    .sns_part ul {width: 100%; height: auto;}
    .sns_part li {
      width: 96.25%; min-width: 308px;
      height: auto;
      font-size: 15px; font-weight: 500;
      margin: 10px 5px 5px;
      color: #ddd;
    }
    
    .sns_part button img {
      width: 26px; height: 26px;
      /* margin: auto; */
      margin-right: 5px;
      color: #aaa;
    }
    
  
  .mainBox {width: auto; height: auto; top: 0; left: 0; right: 0; padding-top: 60px;}
      
/* #viewBox ========================= */
  #viewBox {
    width: 100%; min-width: 320px;
    height: auto;
    box-sizing: border-box;
    /* background-color: #ccc; */
  }
    .view_outer {
      width: 100%; min-width: 320px; height: auto;
    }
    /* .dotal {
      width: 100%; min-width: 320px; height: auto;
      margin: auto; */
      /* max-width: 767px; */
      /* height: 20px; */
      /* margin: -10.9230769% 0% 0% 0.1069231%; */
      /* transform: translate3d(0,0,0); */
    /* } */
    .dotBox {width: auto; height: auto; margin-top: -40px;}
      .dot {
        cursor: pointer;
        height: 10px;
        min-width: 10px;
        margin: 0px;
        background-color: #ccc;
        border-radius: 50%;
        display: inline-block;
        transition: 0.6s ease;
      }
    
    .viewport {
      width: 100%; min-width: 320px; height: auto;
    }

    .viewport img {width: 100%; min-width: 320px; height: auto;}


    @-webkit-keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }

    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }

    .active {
      background-color: #717171;
    }

    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }



  /* On smaller screens, decrease text size */
  /* @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  } */

  /* #storefindBox ========================= */
  #storefactory {display: none;}
  #dreamfactoryBox_full {display: none;}
  #storefindBox {display: none;}



  /* #storyBox ========================= */
  #shortcutBox {
    width: 100%; min-width: 320px; 
    max-width: 767px;
    height: 236px;
    box-sizing: border-box;
    /* float: left; */
  }
    .shortcut {
      width: 100%; min-width: 320px; 
      /* max-width: 767px; */
      height: 236px;
      margin: auto; box-sizing: border-box;
    }
    .sc_title {
      width: 100%; min-width: 320px; height: 39px;
      text-align: center;
      padding: 8px;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      color: #243c84;
    }
    .shortcut_inner {
      width: 100%; min-width: 320px; 
      height: 197px;
      padding: 0.625% 3.125% 3.125% 3.125%;
    }
    .drinkInner {
      float: left;
      width: 49.875%; height: 90px;
      background-color: #ddd;
      background-image: url(../../img/drink.svg);
      background-size: 100%;
      background-repeat: no-repeat;
    }
      .drink_TX span {
        width: 86.875%; min-width: 139px;
        padding: 3.33333333% 3.66666667%;
        font-size: 18px;
        font-weight: 400;
        float: left;
        text-transform: uppercase;
      }
      .left_more {
        width: 18.75%; min-width: 60px;
        padding: 1.07692308%;
        margin: 5px 5%;
        font-size: 12px;
        float: left;
        border-radius: 3px;
        outline: solid 1px;
      }
    .bakeryInner {
      float: left;
      width: 49.875%; height: 90px;
      background-color: #aaa;
      background-image: url(../../img/bakery.svg);
      background-size: 100%;
      background-repeat: no-repeat;
    }
      .bk_TX span {
        width: 86.875%; min-width: 139px;
        padding: 2.33333333% 6.66666667%;
        font-size: 18px;
        font-weight: 400;
        float: right;
        text-align: right;
        text-transform: uppercase;
      }

      /* .right_more {
        width: 20.3125%; min-width: 65px;
        padding: 2px;
        margin: auto;
        margin: 10px;
        margin: 0 0 0 107.692308%;
        font-size: 14px;
        float: right;
        outline: solid 1px;
      } */
      .right_more {
        width: 18.75%; min-width: 60px;
        padding: 1.07692308%;
        margin: 5px 5%;
        font-size: 12px;
        float: right;
        border-radius: 3px;
        outline: solid 1px;
      }

      /* .right_more span {
        width: 65px; height: 20px;
        font-size: 14px;
        text-align: center;
        top: -10px;
      } */
    .mdInner {
      float: left;
      width: 49.875%; height: 90px;
      background-color: #aaa;
      background-image: url(../../img/md.svg);
      background-size: 100%;
      background-repeat: no-repeat;
    }
      .md_TX span {
        width: 86.875%; min-width: 139px;
        padding: 3.33333333% 6.66666667%;
        font-size: 18px;
        font-weight: 400;
        float: left;
        text-transform: uppercase;
      }
    .bistroInner {
      float: left;
      width: 49.875%; height: 90px;
      /* background-color: #ddd; */
      background-image: url(../../img/bistro.svg);
      background-size: 100%;
      background-repeat: no-repeat;
    }
      .bst_TX span {
        width: 86.875%; min-width: 139px;
        padding: 2.33333333% 6.66666667%;
        font-size: 18px;
        font-weight: 400;
        float: right;
        text-align: right;
        text-transform: uppercase;
      }
  #storyBox {display: none;}


  /* #membershipBox ========================= */
  #dreamfactoryBox {
    width: 100%; min-width: 320px;
    height: auto;
    float: left;
    background-color: #243c84;
  }

    /* .dreamfactory_inner {} */

    .dreamfactory {
      width: auto; height: auto;
      padding-top: 0.3125%;
      padding-left: 4.275%;
    }

    .dreamTxt {
      width: 55.625%; min-width: 178px; height: auto;
      margin-top: 5%;
    }

    .dreamfactory > ul > li {
      width: 55.3125%; min-width: 177px;
      height: auto;
      text-align: left;
      margin-top: 2.3125%;
      font-size: 10px;
      color: #ffffff;
    }

    .dreamImg {
      width: 40%; min-width: 128px; height: auto;
      float: right;
      margin-top: 19.9375%;
    }

    .dreamfactory_btn {
      float: left;
      width: 45.3125%; min-width: 145px;
      height: auto;
      /* margin-top: 10px; */
      /* margin-right: 80px; */
    }
    
    .dream_fc{
      float: right;
      font-size: 10px;
      width: 21.25%; min-width: 68px; height: 18px;
      line-height: 18px;
      text-transform: uppercase;
      border: 0.8px solid #151515;
      background-color: #dddddd;
      opacity: 0.6;
      border-radius: 3px;
      cursor: pointer;
    }
    .dream_lc{
      float: right;
      font-size: 10px;
      width: 21.25%; min-width: 68px; height: 18px;
      line-height: 18px;
      text-transform: uppercase;
      border: 0.8px solid #151515;
      background-color: #dddddd;
      opacity: 0.6;
      border-radius: 3px;
      cursor: pointer;
    }

  /* #companyaboutBox ========================= */
  #companyabBox {
    float: left;
    width: 100%; min-width: 320px;
    height: auto;
    /* background-color: #aaa; */
  }

    .franchise_inner {
      float: left;
      width: 40.625%; min-width: 130px; height: 114px;
      margin: 5.3846154% 2.84615385% 5.3846154% 5.1307692%;
    }

    .franchise {
      float: left;
      width: 100%; min-width: 130px; height: 114px;
      background-image: url(../../img/franchise.png);
      background-repeat: no-repeat;
      background-size: 100% 114px;
      background-position: 50% 50%;
      color: #ffffff;
    }

    .franchise_TX {
      float: right;
      width: 17.5%; min-width: 56px;
      font-size: 12px;
      text-align: right;
      font-weight: 400;
      padding-right: 10px;
      padding-top: 10px;
    }

    .franchise_btn {
      width: 17.1875%; min-width: 55px;
      height: 12px;
      float: right;
      margin-top: 30px;
      margin-right: -40px;
    }

    .franchise_gd{
      float: right;
      font-size: 11px;
      width: 28.75%; min-width: 60px; height: 16px;
      line-height: 16px;
      /* margin-bottom: 5px; */
      text-transform: uppercase;
      border: 1px solid #151515;
      background-color: #dddddd;
      opacity: 0.6;
      border-radius: 3px;
      cursor: pointer;
    }
    .franchise_pt{
      float: right;
      font-size: 11px;
      width: 28.75%; min-width: 60px; height: 16px;
      line-height: 16px;
      margin-top: -30px;
      text-transform: uppercase;
      border: 1px solid #151515;
      background-color: #dddddd;
      opacity: 0.6;
      border-radius: 3px;
      cursor: pointer;
    }

    .sns_inner {display: none;}
    .ediyastory_inner {
      float: right;
      width: 40.625%; min-width: 130px; height: 114px;
      margin: 5.3846154% 5.1846154% 5.3846154% 0.84615385%;
      background-color: #ddd;
    }
    .ediyastory {
      float: left;
      width: 100%; min-width: 130px; height: 114px;
      background-image: url(../../img/ediyastory.png);
      background-repeat: no-repeat;
      background-size: 100% 114px;
      background-position: 50% 50%;
      color: #ffffff;
    }
    .ediyastory_TX {
      float: right;
      width: 100%; min-width: 130px;
      font-size: 12px;
      text-align: right;
      font-weight: 400;
      padding-right: 7.69230769%;
      padding-top: 10px;
    }
    .ediyastory_btn {
      width: 17.1875%; min-width: 55px;
      height: 12px;
      float: right;
      margin-top: 0px;
      margin-right: 15px;
    }
    .ediyastory_more {
      float: right;
      font-size: 11px;
      width: 100%; min-width: 60px; height: 16px;
      line-height: 16px;
      /* margin-bottom: 5px; */
      text-transform: uppercase;
      border: 1px solid #151515;
      background-color: #dddddd;
      opacity: 0.6;
      border-radius: 3px;
      cursor: pointer;
    }

  /* #footBox ========================= */
  #footBox {
    float: left;
    width: 100%; min-width: 320px;
    height: auto;
    border-top: 3px solid #243c84;
    /* padding: 20px; */
  }
  .foot_inner {
    width: 93.75%; min-width: 300px; height: auto;
    margin: 10px auto;
    position: relative;
  }
  .foot_main {
    color: #000;
    text-align: center;
    position: relative;
  }
  .foot_inner h2 {
    width: 100%; min-width: 300px;
    margin: auto;
    /* margin-bottom: 8px; */
  }  
  .foot_main h2 button img {
    width: 28.125%; min-width: 90px; height: 18px;
    margin: auto;
    display: block;
  }
  .foot_main .company_info {
    width: 100%; min-width: 300px; height: auto;
  }
  .foot_main .company_info li {
    font-size: 14px;
    /* display: inline-block; */
  }
  .foot_main p {
    font-size: 12px;
    margin-top: 2.5%;
    font-weight: 400;
  }
  
  .foot_main .footsubmenu {display: none;}
  .foot_inner > ul > li {
    /* font-size: 10px; */
    font-weight: 300;
    color: #ffffff;
  }
  
  .to_top {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 4%;
    z-index: 1;
  }
  .to_top.on {
    display: block;
  }
  .to_top span {
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(../../img/to_top2color.svg)no-repeat center;
    background-size: 30px;
  }
  .to_top span:hover {
    background: url(../../img/to_top_fill.svg)no-repeat center;
    background-size: 30px;
  }
} /* (디자인기준: 320px) ~ 767px ==================================== */