/* d_main_laptop.css */

/* 1280px ~ 1439px */
@media all and (min-width:1280px) and (max-width:1439px) {
  #wrap {width: 100%; min-width: 1280px;}
  #headBox { 
    width:100%; min-width: 1280px;
    height: 140px; 
    box-sizing:border-box;
    position: fixed;
    z-index: 999;
    background-color: #fff;
  }
  .head_inner {
    width: 100%; max-width: 1439px; min-width: 1280px;
    height: 50%;
    margin: auto; box-sizing: border-box;
    padding: 13px 40px;
    /* background-color: #243c84; */
  }
  h1 {
    float: left;
    width: 18.75%; min-width: 240px; 
    height: 56px;
    /* margin-left: 10px; */
    margin: auto;
  }
  h1 > button > img {
    width: 100%; height: 20px;
    margin-top: 12px;
  }

  .unb {
    float: right;
    width: 36.7188%; min-width: 470px; 
    height: 46px;
  }
  .unb ul {
    width: 100%; min-width: 450px; 
    height: auto;
    /* padding: 5px 15px; */
  }
  .unb li {
    float: right;
    width: auto; height: 20px;
    margin: 12px;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    /* color: #fff; */
    /* background-color: #fff; */
  }
  .unb .clearfix {
    width: 32.0313%; min-width: 410px; height: auto;
  }

  /* .unb button {
    width: 80px; height: 25px; 
    border: 0; margin: 0; 
    background-color: #213C5D;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
  } */
  .search_part {
    float: right;
    width: auto;
    height: auto;
    margin: auto;
    margin-top: 5px;
    margin-left: 10px;
  }
  .search_part > form {
    width: auto;
    height: auto;
  }
  .search_part fieldset {
    display: flex;
    width: auto;
    height: auto;
    /* padding: 4px; */
  }
  #unbsearchInput {
    width: 64%; min-width: 192px;
    height: 40px;
    margin: auto;
    margin-right: 8px;
    padding-left: 10px;
    border-radius: 4px;
    font-size: 16px;
    border: 1px solid #aaaaaa;
  }
  
  .search_btn {
    width: 24.666%; min-width: 80px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: #243c84;
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
  }

  /* ---------------------------------- */
  .head_inner02 {
    width: 100%; height: 50%;
    background-color: #243c84;
    margin: auto; padding-top: 12px; box-sizing: border-box;
    /* border-top: 2px solid #333; */
  }

  .gnb {
    width: auto; height: 45px;
  }
  .gnb ul {
    width: 100%; height: auto;
    padding: 0 15px;
    margin:auto; text-align: center;
  }
  .gnb li {
    display: inline-block; width:auto; height: auto;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
  }
  .gnb li:first-child {
    margin-left: 0;
  }

  .gnb li a {
    padding: 5px 20px;
    /* background-color: #cca; */
  }
  .header_m {display: none;}
  /* background-color: #cca; */
    
  .mainBox {width: auto; height: auto; top: 0; left: 0; right: 0; padding-top: 140px;}

    
  /* #viewBox ========================= */
  #viewBox {
    width: 100%; min-width: 1280px;
    height: 660px;
    box-sizing: border-box;
    z-index: 500;
    position: relative;
    /* background-color: #ccc; */
  }
  .view_outer {
    width: 100%; min-width: 1280px; height: 660px;
    /* margin-top: -30px; */
  }
  .viewport {
    width: 100%; min-width: 1280px; height: 610px;
    /* margin: 0 35px; */
  }
  .viewport > img {
    width: 100%; min-width: 1280px; height: 660px;
      /* margin: 0 35px; */
    }
  
    /* .view_outer {
      background-color: #ddd;
      width: 100%; height: 525px;
      margin: auto;
    } */
  
    /* * {box-sizing: border-box;}
    body {font-family: 'Noto Sans KR', sans-serif;}
    .mySlides {display: none;}
    img {vertical-align: middle;} */
  
    /* Slideshow container */
    /* The dots/bullets/indicators */
    .dotBox {
      width: 100%; min-width: 768px; height: 35px;
      margin-bottom: 15px;
    }
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0px 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: 0.6s ease;
    }
  
    @-webkit-keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
  
    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
  
    .active {
      background-color: #717171;
    }
  
    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }
  
  
  
  /* On smaller screens, decrease text size
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  } */
  
  /* #storefindBox ========================= */
  #content_box_wrap {
    width: 100%; min-width: 1280px; height: auto;
  }
    .storefactory {display: none;}
    #dreamfactoryBox_full {display: none;}
  
    #storefindBox {display: none;}

      .noticeBox_full {display: none;}
      .noticeBox {
        float: left;
        width: 40.9375%; min-width: 524px; height: 180px;
        margin: 2.969% 4.831% 1.031% 4.098%;
      }
    
      /* .notice_inner {
        float: left;
        width: 524px; height: 232px;
        margin: 58px;
      } */
    
      .notice {
        width: 42.5781%; min-width: 524px; height: 180px;
      }
    
      .notice_TX {
        width: 42.5781%; min-width: 545px; height: 50px;
        margin-left: 18px;
      }
      
      .notice_h2 {
        width: 66.7939%; min-width: 350px;
        font-size: 22px;
        font-weight: 500;
      }
      .notice_more {
        margin-top: -30PX;
        margin-right: 80PX;
        float: right;
        font-weight: normal;
        font-size: 18px;
      }
    
      /* .tab_title{
        position: absolute;
        width: 100%;
        font-size: 0;
        z-index: 2;
        cursor: pointer;
    } */
    
      .notice_letter{
        width: 38.28125%; min-width: 490px; height: 110px;
        display: block;
        /* position: fixed; */
        /* padding: 10px; */
        margin-top: 20px;
        Padding-left: 10px;
      }
      .notice_letter > li{
        font-weight: normal;
      }
      .notice_letter > li > a {
        font-size: 17px;
        float: left;
        width: 25.7813%; min-width: 330px;
        height: auto;
      }
      .notice_letter > li > span {
        float: right;
        font-size: 17px;
      }
    
    /* #shortcutBox ====================== */
    #shortcutBox {display: none;}
    
    /* #storyBox ========================= */
    #storyBox {
      float: left;
      width: 100%; min-width: 1280px; height: 518px;
      /* padding: 10px 10px 0; */
      /* background-color: #aaa; */
      }
    
      .menu_inner {
        float: left;
        width: 40.156%; min-width: 490px; height: 390px; 
        margin: 3.469% 3.191% 4.031% 5.988%;
      }
    
      .menu {
        float: left;
        width: 100%; min-width: 490px; height: 390px;
        padding: 20px 0;
        background-image: url(../../img/menu_intro.png);
        background-repeat: no-repeat;
        background-size: 100% 390px;
        background-position: 50% 50%;
        color: #ffffff;
      }
    
      .menu_TX {
        width: 100%; min-width: 490px;
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 500;
      }
    
      .menu_btn {
        width: 11.719%; min-width: 150px;
        height: 196px;
        float: right;
        margin-top: 50px;
        margin-right: 80px;
      }
      
      .menu_dk {
        float: right;
        font-size: 18px;
        width: 88%; min-width: 132px;
        height: 45px;
        line-height: 45px;
        margin-bottom: 10px;
        border: 1px solid #cccccc;
        border-radius: 6px;
        cursor: pointer;
      }
      .menu_fd{
        float: right;
        font-size: 18px;
        width: 88%; min-width: 132px;
        height: 45px;
        line-height: 45px;
        margin-bottom: 10px;
        border: 1px solid #cccccc;
        border-radius: 6px;
        cursor: pointer;
      }
      .menu_md{
        float: right;
        font-size: 18px;
        width: 88%; min-width: 132px;
        height: 45px;
        line-height: 45px;
        margin-bottom: 10px;
        border: 1px solid #cccccc;
        border-radius: 6px;
        cursor: pointer;
      }
    
      .menu_p {
        margin: 270px 76px 0 0;
        /* height: 524px; */
        text-align: right;
        font-size: 16px;
        font-weight: 300;
        color: white;
      }
    
      .brandStory_inner {
        float: left;
        width: 40.156%; min-width: 490px; height: 390px;
        margin: 3.469% 5.988% 4.031% 4.191%;
      }
    
      .brandStory {
        float: left;
        width: 100%; min-width: 490px; height: 390px;
        padding: 20px 0;
        background-image: url(../../img/brandStory.png);
        background-repeat: no-repeat;
        background-size: 100% 390px;
        background-position: 50% 50%;
      }
    
      .brandStory_TX {
        width: 100%; min-width: 490px;
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 500;
      }
    
      .brandStory_btn {
        width: 11.719%; min-width: 150px;
        height: 307px;
        float: right;
        margin-top: 30px;
        margin-right: 30px;
      }
      
      .brandStory_ey {
        float: right;
        font-size: 18px;
        width: 88%; min-width: 132px;
        height: 45px;
        line-height: 45px;
        margin-bottom: 5px;
        border: 1px solid #151515;
        border-radius: 6px;
        cursor: pointer;
      }
      .brandStory_ci{
        float: right;
        font-size: 18px;
        width: 88%; min-width: 132px;
        height: 45px;
        line-height: 45px;
        margin-bottom: 5px;
        border: 1px solid #151515;
        border-radius: 6px;
        cursor: pointer;
      }
      .brandStory_ht{
        float: right;
        font-size: 18px;
        width: 88%; min-width: 132px;
        height: 45px;
        line-height: 45px;
        margin-bottom: 5px;
        border: 1px solid #151515;
        border-radius: 6px;
        cursor: pointer;
      }
    
      .brandStory_m{
        float: right;
        font-size: 18px;
        width: 88%; min-width: 132px;
        height: 45px;
        line-height: 45px;
        margin-bottom: 5px;
        border: 1px solid #151515;
        border-radius: 6px;
        cursor: pointer;
      }
      .brandStory_aw{
        float: right;
        font-size: 18px;
        width: 88%; min-width: 132px;
        height: 45px;
        line-height: 45px;
        border: 1px solid #151515;
        border-radius: 6px;
        cursor: pointer;
      }
    
    
    /* #membershipBox ========================= */
    #dreamfactoryBox {
      float: left;
      width: 100%; min-width: 1280px;
      height: 390px;
      background-color: #243c84;
    }
    
      /* .dreamfactory_inner {} */
    
      .dreamfactory {
        height: 390px;
        padding-top: 3.6875%;
        padding-left: 7.03125%;
      }
    
      .dreamTxt {
        width: 65.4688%; min-width: 838px; height: auto;
      }
      
    
      .dreamfactory > ul > li {
        width: 36.7188%; min-width: 470px;
        text-align: left;
        margin-top: 50px;
        font-size: 16px;
        font-weight: 300;
        color: #ffffff;
      }
    
      .dreamImg {
        width: 64.8438%; min-width: 630px; 
        height: 250px;
        float: right;
        margin-top: 12px;
      }
    
      .dreamfactory_btn {
        width: 449px;
        height: 70px;
        /* float: right; */
        margin-top: 50px;
        /* margin-right: 80px; */
      }
    
      .dream_fc{
        float: right;
        font-size: 18px;
        width: 140px;
        margin-right: 10px;
        height: 45px;
        line-height: 45px;
        text-transform: uppercase;
        border: 1px solid #151515;
        background-color: #dddddd;
        opacity: 0.6;
        border-radius: 6px;
        cursor: pointer;
      }
      .dream_lc{
        float: right;
        font-size: 18px;
        width: 140px;
        height: 45px;
        line-height: 45px;
        text-transform: uppercase;
        border: 1px solid #151515;
        background-color: #dddddd;
        opacity: 0.6;
        border-radius: 6px;
        cursor: pointer;
      }
    
    /* #companyaboutBox ========================= */
    #companyabBox {
      float: left;
      width: 100%; min-width: 1280px;
      height: 496px;
      /* padding: 10px 10px 0; */
      /* background-color: #aaa; */
    }
    
      .franchise_inner {
        float: left;
        width: 40.3125%; min-width: 516px; height: 384px;
        margin: 4.375%;
      }
    
      .franchise {
        float: left;
        width: 100%; min-width: 516px; height: 384px;
        background-image: url(../../img/franchise.png);
        background-repeat: no-repeat;
        background-size: 100% 422px;
        background-position: 50% 50%;
        color: #ffffff;
      }
    
      .franchise_TX {
        width: 39.375%; min-width: 504px;
        font-size: 20px;
        text-align: right;
        font-weight: 500;
        padding-right: 110px;
        padding-top: 50px;
      }
    
      .franchise_btn {
        width: 15.4688%; min-width: 198px;
        height: 121px;
        float: right;
        margin-top: 80px;
        margin-right: 20px;
      }
    
      .franchise_gd{
        float: right;
        font-size: 18px;
        width: 11.875%; min-width: 152px;
        height: 45px;
        line-height: 45px;
        margin-bottom: 10px;
        text-transform: uppercase;
        border: 1px solid #151515;
        background-color: #dddddd;
        opacity: 0.6;
        border-radius: 6px;
        cursor: pointer;
      }
      .franchise_pt{
        float: right;
        font-size: 18px;
        width: 11.875%; min-width: 152px;
        height: 45px;
        line-height: 45px;
        text-transform: uppercase;
        border: 1px solid #151515;
        background-color: #dddddd;
        opacity: 0.6;
        border-radius: 6px;
        cursor: pointer;
      }
    
      .sns_inner {
        float: left;
        width: 42.1875%; min-width: 540px; height: 384px;
        margin: 4.375%;
      }
    
      .sns {
        float: left;
        width: 42.1875%; min-width: 540px; height: 384px;
        /* margin-left: 40px; */
        /* background-repeat: no-repeat; */
        /* background-size: 524px 422px; */
        /* background-position: 50% 50%; */
      }
    
      .snslatte {
        float: left;
        width: 100%; min-width: 180px; height: 189px;
      }
    
      .snsthree {
        float: left;
        width: 100%; min-width: 180px; height: 189px;
      }
    
      .snscoffee {
        float: left;
        width: 100%; min-width: 180px; height: 189px;
      }
    
      .snssoftkit {
        float: left;
        width: 100%; min-width: 180px; height: 189px;
      }
    
      .snsmark {
        float: right;
        width: 12.3438%; min-width: 158px; height: 384px;
        margin-top: -390px;
        /* background-color: #243c84; */
      }
      /* .snsmark > button {
        width: auto; height: 20px;
      } */
      .snsmark > button > span {
        float: right;
        width: auto;
        height: 25px;
        margin-left: 18px;
        font-size: 22px;
        line-height: 25px;
        margin-top: 10px;
        margin-bottom: 70px;
        /* color: #ffffff; */
      }
    
      .snsmark > button > img {
        margin-top: 10.3165%;
        margin-left: 20px;
      }
    
      .snsmark > button:last-child {
        margin-bottom: -80px;
      }
    
        .Fmark {
          float: left;
          width: 23px; height: 23px;
          /* margin: -0px; */
        }
        .Imark {
          float: left;
          width: 23px; height: 23px;
        }
        .NBmark {
          float: left;
          width: 23px; height: 23px;
        }
        .Ymark {
          float: left;
          width: 23px; height: 23px;
        }
      .ediyastory_inner {display: none;}
    
  /* #footBox ========================= */
#footBox {
  float: left;
  width: 100%; min-width: 1280px;
  height: auto;
  border-top: 3px solid #243c84;
  /* padding: 20px; */
}
.foot_inner {
  width: 85.7813%; min-width: 1098px; height: auto;
  margin: 30px auto;
  position: relative;
}
  .foot_main {
    color: #000;
    text-align: center;
    position: relative;
  }
  .foot_inner > h2 {
    width: auto;
    margin-bottom: 28px;
  }
  .foot_main h2 button img {
    width: 260px; height: 26px;
    margin: auto;
    display: block;
  }
  .foot_main .company_info {
    width: 100%; height: auto;
  }
  .foot_main .company_info li {
    font-size: 18px;
    display: inline-block;
  }
  .foot_main .company_info li::after {
    padding: 0 14px;
    content: 'l';
  }
  .foot_main p {
    font-size: 17px;
    margin-top: 26px;
    font-weight: 400;
  }
  .foot_main .footsubmenu {
    width: 100%;
    width: 240px;
    display: flex;
    position: absolute;
    top: 10px;
    right: 0;
    /* font-size: 0.75rem; */
  }
  .language_part {
    width: 50%;
  }
  .language_btn {
    width: 100%; height: 42px;
    margin-top: 2px;
  }
  .language_btn img {
    width: 30px; height: 30px;
  }
  .language_part ul {
    display: none;
    width: 100%;
    margin-top: 10px;
    padding: 10px 8px;
    /* margin-bottom: 25px; */
    border: 1px solid #262626;
    position: relative;
    cursor: pointer;
    text-align: center;
  }
  .language_part ul.on {
    display: block;
    width: 100%; height: auto;
  }
  .language_part li {
    width: auto; height: 30px;
    line-height: 20px;
  }
  .language_part li button { text-transform: uppercase; }
  .brandsite_part {
    width: 50%;
    margin-left: 5px;
  }
  .brandsite_btn {
    width: 100%; height: 42px;
    line-height: 42px;
    background-color: #243c84;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
  }
  .brandsite_part ul {
    display: none;
    width: 100%; height: auto;
    margin-top: 10px;
    padding: 5px 8px;
    /* margin-bottom: 25px; */
    border: 1px solid #262626;
    position: relative;
    cursor: pointer;
    text-align: center;
  }
  .brandsite_part ul.on {
    display: block;
    width: 100%; height: auto;
  }
  .foot_inner > ul > li {
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
  }
  .to_top {
    display: block;
    position: fixed;
    bottom: 15px;
    right: 2%;
    z-index: 1;
  }
  .to_top span {
    display: inline-block;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background: url(../../img/to_top2color.svg)no-repeat center;
    background-size: 60px;
  }
  .to_top span:hover {
    background: url(../../img/to_top_fill.svg)no-repeat center;
    background-size: 60px;
  }
  .footInner_m {display: none;}

} /* 1280px ~ 1439px ============================================== */