/* e_main_pc.css */

/* 1440px ~ 1919px */
@media all and (min-width:1440px) and (max-width:1919px) {
  #wrap {width: 100%; min-width: 1440px;}
  /* #headBox ========================= */
  #headBox {
    width: 100%; min-width: 1440px;
    height: 140px;
    box-sizing: border-box;
    position: fixed;
    z-index: 999;
    background-color: #fff;
  }
    .head_inner {
      width: 100%; max-width: 1919px; min-width: 1440px;
      height: 50%;
      margin: auto; box-sizing: border-box;
      padding: 12px 40px;
      /* background-color: #ccc; */
    }
      h1 {
        float: left;
        width: 13.888%; min-width: 200px; 
        height: 34px;
        margin: auto;
      }
      
      h1 > button > img { 
        width: 100%; min-width: 200px;
        height: 20px;
        margin-top: 14px;
      }

      .unb {
        width: 32.639%; min-width: 470px; 
        height: 46px;
        display: flex;
        float: right;
        text-transform: uppercase;
        text-align: center;
      }
      .about_part {
        width: 6.25%; min-width: 90px;
        height: 50px;
        line-height: 50px;
      }
      .about_part a {
        display: block;
        width: auto;
        height: 100%;
        font-size: 18px;
        text-decoration: none;
      }
      .login_part {
        width: 6.25%; min-width: 90px;
        height: 50px;
        font-size: 18px;
        line-height: 50px;
      }
      .login_part a {
        display: block;
        width: auto;
        height: 100%;
        text-decoration: none;
      }
    
      /* .unb button {
        width: 80px; height: 25px; 
        border: 0; margin: 0; 
        background-color: #213C5D;
        color: #fff;
        cursor: pointer;
        border-radius: 5px;
      } */
      .search_part {
        float: right;
        width: auto;
        height: auto;
        margin: auto;
        margin-top: 5px;
        margin-left: 10px;
      }
      .search_part > form {
        width: auto;
        height: auto;
      }
      .search_part fieldset {
        display: flex;
        width: auto;
        height: auto;
        /* padding: 4px; */
      }
      #unbsearchInput {
        width: 42.5532%; min-width: 200px;
        height: 40px;
        margin: auto;
        margin-right: 8px;
        padding-left: 10px;
        border-radius: 4px;
        font-size: 17px;
        border: 1px solid #aaaaaa;
      }
      
      .search_btn {
        width: 27.778%; min-width: 80px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid #fff;
        background-color: #243c84;
        color: #fff;
        font-size: 17px;
        text-transform: capitalize;
      }
    
      /* ---------------------------------- */
      .head_inner02 {
        width: 100%; min-width: 1440px;
        height: 50%;
        background-color: #243c84;
        margin: auto; 
        box-sizing: border-box;
        /* border-top: 2px solid #333; */
      }
    
      .gnb {
        display: flex;
        width: 71.667%; min-width: 1176px; 
        height: 100%;
        margin: auto;
      }
      .submenu_part {
        position: relative;
        display: inline-block;
      }
      .btn_part {
        width: 11.667%; min-width: 168px;
        height: 100%;
        line-height: 48px;
        border-radius : 4px;
        font-weight: 300;
        padding : 12px;
        text-align: left;
        cursor : pointer;
        font-size : 20px;
        text-align: center;
        color: #fff;
      }
      .submenu_inner {
        width : 100%; min-width: 176px;
        display : none;
        position : absolute;
        z-index : 1; /*다른 요소들보다 앞에 배치*/
        /* font-size: 16px; */
        font-weight: 300;
        background-color: #fff;
        text-align: center;
        right: -4px;
      }
      .submenu_inner a {
        display : block;
        text-decoration : none;
        font-size: 17px;
        padding : 12px 8px;
      }
      .submenu_inner a:hover {
        font-weight: 500;
        font-size: 17px;
        color: #243c84;
        width: auto;
      }
      .submenu_part:hover .submenu_inner {
        display: block;
        border: 1px solid #243c84;
        justify-content: space-between;
      }
      .header_m {display: none;}
        
      .mainBox {width: auto; height: auto; top: 0; left: 0; right: 0; padding-top: 140px;}
    
  /* #viewBox ========================= */
  #viewBox {
    width: 100%; min-width: 1440px;
    height: auto;
    box-sizing: border-box;
    /* z-index: 500; */
    position: relative;
    /* background-color: #ccc; */
  }
    .view_outer {
      width: 100%; min-width: 1440px; height: auto;
      /* margin-top: -30px; */
    }
    .viewport {
      width: 100%; min-width: 1440px; height: auto;
    }
  
    .viewport > img {
      width: 100%; min-width: 1440px; height: auto;
    }

    /* .view_outer {
      background-color: #ddd;
      width: 100%; height: 525px;
      margin: auto;
    } */
  
    /* * {box-sizing: border-box;}
    body {font-family: 'Noto Sans KR', sans-serif;}
    .mySlides {display: none;}
    img {vertical-align: middle;} */
  
    /* Slideshow container */
    /* The dots/bullets/indicators */
    .dotBox {
      width: 100%; min-width: 1440px; height: 35px;
      margin-bottom: 15px;
      margin-top: -45px;
    }
    .dot {
      width: 15px;
      height: 15px;
      cursor: pointer;
      margin: 0px 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: 0.6s ease;
    }
  
    @-webkit-keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
  
    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
  
    .active {
      background-color: #717171;
    }
  
    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }
  
  
  
  /* On smaller screens, decrease text size
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  } */
  
  /* #storefindBox ========================= */
  .content_box_wrap{
    width: 100%; min-width: 1440px; height: auto;
  }
  .storefactory {display: none;}
  #dreamfactoryBox_full {display: none;}
  #storefindBox {display: none;}
  .noticeBox_full {display: none;}

  
  /* #shortcutBox ====================== */
  #shortcutBox {display: none;}

  /* #storyBox ========================= */
  #storyBox {
    float: left;
    width: 100%; min-width: 1440px; height: 518px;
    /* padding: 10px 80px 0; */
    /* background-color: #aaa; */
    }
  
    .menu_inner {
      float: left;
      width: 40.625%; min-width: 585px;
      height: 422px;
      margin: 2.469% 3.931% 3.731% 5.4%;
    }
  
    .menu {
      float: left;
      width: 100%; min-width: 585px; height: 422px;
      padding: 20px 0;
      background-image: url(../../img/menu_intro.png);
      background-repeat: no-repeat;
      background-size: 100% 422px;
      background-position: 50% 50%;
      color: #ffffff;
    }
  
    .menu_TX {
      width: 100%; min-width: 585px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 500;
    }
  
    .menu_btn {
      width: 10.416%; min-width: 150px;
      height: 196px;
      float: right;
      margin-top: 50px;
      margin-right: 80px;
    }
    
    .menu_dk {
      width: 26.667%; min-width: 152px;
      height: 50px;
      float: right;
      font-size: 18px;
      line-height: 50px;
      margin-bottom: 10px;
      border: 1px solid #cccccc;
      border-radius: 6px;
      cursor: pointer;
    }
    .menu_fd{
      width: 26.667%; min-width: 152px;
      height: 50px;
      float: right;
      font-size: 18px;
      line-height: 50px;
      margin-bottom: 10px;
      border: 1px solid #cccccc;
      border-radius: 6px;
      cursor: pointer;
    }
    .menu_md{
      width: 26.667%; min-width: 152px;
      height: 50px;
      float: right;
      font-size: 18px;
      line-height: 50px;
      text-transform: uppercase;
      border: 1px solid #cccccc;
      border-radius: 6px;
      cursor: pointer;
    }
  
    .menu_p {
      margin: 270px 76px 0 0;
      /* height: 524px; */
      text-align: right;
      font-size: 16px;
      font-weight: 400;
      color: white;
    }
  
    .brandStory_inner {
      float: left;
      width: 40.625%; min-width: 585px;
      height: 422px;
      margin: 2.469% 5.4% 3.731% 3.931%;

    }
  
    .brandStory {
      float: left;
      width: 100%; min-width: 585px; height: 422px;
      padding: 20px 0;
      background-image: url(../../img/brandStory.png);
      background-repeat: no-repeat;
      background-size: 100% 422px;
      background-position: 50% 50%;
    }
  
    .brandStory_TX {
      width: 100%; min-width: 585px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 500;
    }
  
    .brandStory_btn {
      width: 10.416%; min-width: 150px;
      height: 307px;
      float: right;
      margin-top: 25px;
      margin-right: 80px;
    }
    
    .brandStory_ey {
      width: 26.667%; min-width: 152px;
      height: 50px;
      float: right;
      font-size: 18px;
      line-height: 50px;
      margin-bottom: 5px;
      border: 1px solid #151515;
      border-radius: 6px;
      cursor: pointer;
    }
    .brandStory_ci{
      width: 26.667%; min-width: 152px;
      height: 50px;
      float: right;
      font-size: 18px;
      line-height: 50px;
      margin-bottom: 5px;
      border: 1px solid #151515;
      border-radius: 6px;
      cursor: pointer;
    }
    .brandStory_ht{
      width: 26.667%; min-width: 152px;
      height: 50px;
      float: right;
      font-size: 18px;
      line-height: 50px;
      margin-bottom: 5px;
      border: 1px solid #151515;
      border-radius: 6px;
      cursor: pointer;
    }
  
    .brandStory_m{
      width: 26.667%; min-width: 152px;
      height: 50px;
      float: right;
      font-size: 18px;
      line-height: 50px;
      margin-bottom: 5px;
      border: 1px solid #151515;
      border-radius: 6px;
      cursor: pointer;
    }
    .brandStory_aw{
      width: 26.667%; min-width: 152px;
      height: 50px;
      float: right;
      font-size: 18px;
      line-height: 50px;
      border: 1px solid #151515;
      border-radius: 6px;
      cursor: pointer;
    }
  
  
  /* #membershipBox ========================= */
  #dreamfactoryBox {
    float: left;
    width: 100%; min-width: 1440px;
    height: auto;
    background-color: #243c84;
  }
  
    /* .dreamfactory_inner {} */
  
    .dreamfactory {
      height: 412px;
      padding-top: 4.166%;
      padding-left: 6.25%;
    }

    .dreamTxt {
      width: 58.194%; min-width: 838px; height:80px;
    }
  
    .dreamfactory > ul > li {
      width: 32.638%; min-width: 470px;
      text-align: left;
      margin-top: 50px;
      font-size: 18px;
      color: #ffffff;
    }
  
    .dreamImg {
      width: 58.333%; min-width: 840px; height:262px;
      float: right;
      margin-top: 10px;
    }
  
    .dreamfactory_btn {
      width: 31.1856%; min-width: 449px;
      height: 70px;
      /* float: right; */
      margin-top: 50px;
      /* margin-right: 80px; */
    }
  
    .dream_fc{
      width: 11.8056%; min-width: 170px;
      height: 47px;
      float: right;
      font-size: 19px;
      margin-right: 10px;
      line-height: 47px;
      text-transform: uppercase;
      border: 1px solid #151515;
      background-color: #dddddd;
      opacity: 0.6;
      border-radius: 6px;
      cursor: pointer;
    }
    .dream_lc{
      width: 11.8056%; min-width: 170px;
      height: 47px;
      float: right;
      font-size: 19px;
      line-height: 47px;
      text-transform: uppercase;
      border: 1px solid #151515;
      background-color: #dddddd;
      opacity: 0.6;
      border-radius: 6px;
      cursor: pointer;
    }
  
  /* #companyaboutBox ========================= */
  #companyabBox {
    float: left;
    width: 100%; min-width: 1440px;
    height: auto;
    /* background-color: #aaa; */
  }
  
    .franchise_inner {
      float: left;
      width: 40.625%; min-width: 585px;
      height: 416px;
      margin: 4.375%;
      /* margin: 3.2% 3.889% 3.2% 0; */
    }
  
    .franchise {
      float: left;
      width: 100%; min-width: 585px; height: 416px;
      background-image: url(../../img/franchise.png);
      background-repeat: no-repeat;
      background-size: 100% 416px;
      background-position: 50% 50%;
      color: #ffffff;
    }
  
    .franchise_TX {
      width: 100%; min-width: 585px;
      font-size: 22px;
      text-align: center;
      font-weight: 500;
      /* padding-right: 110px; */
      padding-top: 30px;
    }
  
    .franchise_btn {
      width: 31.1856%; min-width: 218px;
      height: 120px;
      float: right;
      margin-top: 80px;
      margin-right: 40px;
    }
  
    .franchise_gd{
      width: 32.821%; min-width: 192px;
      height: 50px;
      float: right;
      font-size: 18px;
      line-height: 50px;
      margin-bottom: 5px;
      text-transform: uppercase;
      border: 1px solid #151515;
      background-color: #dddddd;
      opacity: 0.6;
      border-radius: 6px;
      cursor: pointer;
    }
    .franchise_pt{
      width: 32.821%; min-width: 192px;
      height: 50px;
      float: right;
      font-size: 18px;
      line-height: 50px;
      margin-bottom: 5px;
      text-transform: uppercase;
      border: 1px solid #151515;
      background-color: #dddddd;
      opacity: 0.6;
      border-radius: 6px;
      cursor: pointer;
    }
  
    .sns_inner {
      display: flex;
      width: 40.625%; min-width: 585px;
      height: 416px;
      margin: 4.375%;
      /* margin: 3.889%; */
    }
  
    .sns {
      display: flex;
      flex-wrap: wrap;
      width: 93.675%; min-width: 448px; height: 416px;
      /* margin-left: 40px; */
      /* background-repeat: no-repeat; */
      /* background-size: 524px 422px; */
      /* background-position: 50% 50%; */
    }
  
    .snslatte {
      /* float: left; */
      width: 100%; min-width: 222px; height: 204px;
    }
  
    .snsthree {
      /* float: left; */
      width: 100%; min-width: 222px; height: 204px;
    }
  
    .snscoffee {
      /* float: left; */
      width: 100%; min-width: 222px; height: 204px;
    }
  
    .snssoftkit {
      width: 100%; min-width: 222px; height: 204px;
    }
  
    .snsmark {
      display: flex;
      flex-direction: column;
      width: 32.4786%; min-width: 190px; height: 416px;
      /* margin-top: -200px; */
      /* background-color: #243c84; */
    }
    .snsmark > button {
      width: auto; height: 104px;
      /* margin-top: 10px; */
    }
  
    .snsmark > button > span {
      float: left;
      width: auto;
      height: 25px;
      margin-left: 18px;
      font-size: 24px;
      line-height: 25px;
      /* text-align: left; */
      /* margin-top: 18px; */
      /* margin-bottom: 60px; */
      /* color: #ffffff; */
    }
    .snsmark > button > img {
      /* margin-top: 13.3165%; */
      margin-left: 20px;
    }
  
    /* .snsmark > button:last-child {
      margin-bottom: -80px;
    } */
  
      .Fmark {
        float: left;
        width: 30px; height: 30px;
        /* margin: -0px; */
      }
      .Imark {
        float: left;
        width: 30px; height: 30px;
      }
      .NBmark {
        float: left;
        width: 30px; height: 30px;
      }
      .Ymark {
        float: left;
        width: 30px; height: 30px;
      }
    .ediyastory_inner {display: none;}
    
  /* #footBox ========================= */
#footBox {
  float: left;
  width: 100%; min-width: 1440px;
  height: auto;
  border-top: 3px solid #243c84;
  /* padding: 20px; */
}
  .foot_inner {
    width: 79.1666%; min-width: 1140px; height: auto;
    margin: 32px auto;
    position: relative;
  }
  .foot_main {
    color: #000;
    text-align: center;
    position: relative;
  }
  .foot_main > h2 {
    width: auto;
    margin-bottom: 30px;
  }
  .foot_main h2 button img {
    width: 19.444%; min-width: 280px;
    height: 28px;
    margin: auto;
    display: block;
  }
  .foot_main .company_info {
    width: 100%; height: auto;
  }
  .foot_main .company_info li {
    font-size: 20px;
    display: inline-block;
  }
  .foot_main .company_info li::after {
    padding: 0 14px;
    content: 'l';
  }
  .foot_main p {
    font-size: 19px;
    margin-top: 20px;
    font-weight: 400;
  }
  .foot_main .footsubmenu {
    /* width: 100%; */
    width: 290px;
    display: flex;
    position: absolute;
    top: 30px;
    right: 0;
  }
  .language_part {
    width: 40%;
  }
  .language_btn {
    width: 100%; height: 42px;
    margin-top: 2px;
  }
  .language_btn img {
    width: 40px; height: 40px;
  }
  .language_part ul {
    display: none;
    width: 100%;
    margin-top: 10px;
    padding: 10px 8px;
    /* margin-bottom: 25px; */
    border: 1px solid #262626;
    position: relative;
    cursor: pointer;
    text-align: center;
  }
  .language_part ul.on {
    display: block;
    width: 100%; height: auto;
  }
  .language_part li {
    width: auto; height: 30px;
    line-height: 20px;
  }
  .language_part li button { text-transform: uppercase; }
  .brandsite_part {
    width: 60%;
    margin-left: 5px;
  }
  .brandsite_btn {
    width: 100%; height: 52px;
    line-height: 52px;
    background-color: #243c84;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
  }
  .brandsite_part ul {
    display: none;
    width: 100%; height: auto;
    margin-top: 10px;
    padding: 5px 8px;
    /* margin-bottom: 25px; */
    border: 1px solid #262626;
    position: relative;
    cursor: pointer;
    text-align: center;
  }
  .brandsite_part ul.on {
    display: block;
    width: 100%; height: auto;
  }
  .foot_inner > ul > li {
    font-size: 18px;
    color: #ffffff;
  }
  .to_top {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 2%;
    z-index: 1;
  }
  .to_top.on {
    display: block;
  }
  .to_top span {
    display: inline-block;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background: url(../../img/to_top2color.svg)no-repeat center;
    background-size: 60px;
  }
  .to_top span:hover {
    background: url(../../img/to_top_fill.svg)no-repeat center;
    background-size: 60px;
  }
  .footInner_m {display: none;}
}/* 1440px ~ 1919px ============================================= */