/* e_main_pc.css */

/* 1440px ~ 1919px */
@media all and (min-width:1440px) and (max-width:1919px) {
  #wrap {width: 100%; min-width: 1440px;}
  /* #headBox ========================= */
  #headBox {
    width: 100%; height: 140px;
    box-sizing: border-box;
    position: fixed;
    z-index: 1000;
    background-color: #fff;
  }
    .head_inner {
      width: 100%; max-width: 1919px; min-width: 1440px;
      height: 50%;
      margin: auto; box-sizing: border-box;
      padding: 12px 40px;
      /* background-color: #ccc; */
    }
      h1 {
        float: left;
        width: 13.888%; min-width: 200px; height: 34px;
        margin: auto;
      }
      
      h1 > button > img { 
        width: 100%; min-width: 200px;
        height: 20px;
        margin-top: 14px;
      }

      .unb {
        float: right;
        width: 570px; height: 46px;      
      }
      .unb ul {
        width: 450px; height: auto;
        /* padding: 5px 15px; */
      }
      .unb li {
        float: right;
        width: auto; height: 20px;
        margin: 12px;
        font-size: 16px;
        text-align: center;
        text-transform: uppercase;
        /* color: #fff; */
        /* background-color: #fff; */
      }
      .unb .clearfix {
        width: 410px; height: auto;
      }
    
      /* .unb button {
        width: 80px; height: 25px; 
        border: 0; margin: 0; 
        background-color: #213C5D;
        color: #fff;
        cursor: pointer;
        border-radius: 5px;
      } */
      .search_part {
        float: right;
        width: auto;
        height: auto;
        margin: auto;
        margin-top: 5px;
        margin-left: 10px;
      }
      .search_part > form {
        width: auto;
        height: auto;
      }
      .search_part fieldset {
        display: flex;
        width: auto;
        height: auto;
        /* padding: 4px; */
      }
      #unbsearchInput {
        width: 64%; min-width: 192px;
        height: 40px;
        margin: auto;
        margin-right: 8px;
        padding-left: 10px;
        border-radius: 4px;
        font-size: 16px;
        border: 1px solid #aaaaaa;
      }
      
      .search_btn {
        width: 24.666%; min-width: 80px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid #fff;
        background-color: #243c84;
        color: #fff;
        font-size: 16px;
        text-transform: capitalize;
      }
    
      /* ---------------------------------- */
      .head_inner02 {
        width: 100%; height: 50%;
        background-color: #243c84;
        margin: auto; padding-top: 14px; box-sizing: border-box;
        /* border-top: 2px solid #333; */
      }
    
      .gnb {
        width: auto; height: 45px;
      }
      .gnb ul {
        width:100%; height: auto;
        padding: 0 15px;
        margin:auto; text-align: center;
      }
      .gnb li {
        display:inline-block; width:auto; height: auto;
        margin-left: 20px;
        font-size: 18px;
        color: #fff;
      }
      .gnb li:first-child {
        margin-left: 0;
      }
    
      .gnb li a {
        padding: 5px 20px;
        /* background-color: #cca; */
      }
          .header_m {display: none;}
          /* background-color: #cca; */
        
      .mainBox {width: auto; height: auto; top: 0; left: 0; right: 0; padding-top: 140px;}
    
  /* #viewBox ========================= */
  #viewBox {
    width: 100%; min-width: 1440px;
    height: 700px;
    box-sizing: border-box;
    /* background-color: #ccc; */
  }
    .view_outer {
      width: 100%; min-width: 1440px; height: 700px;
      /* margin-top: -30px; */
    }
    .viewport {
      width: 100%; min-width: 1440px; height: 650px;
    }
  
    .viewport > img {
      width: 100%; min-width: 1440px; height: 700px;
    }

    /* .view_outer {
      background-color: #ddd;
      width: 100%; height: 525px;
      margin: auto;
    } */
  
    /* * {box-sizing: border-box;}
    body {font-family: 'Noto Sans KR', sans-serif;}
    .mySlides {display: none;}
    img {vertical-align: middle;} */
  
    /* Slideshow container */
    /* The dots/bullets/indicators */
    .dotBox {
      width: 100%; min-width: 768px; height: 35px;
      margin-bottom: 15px;
    }
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0px 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: 0.6s ease;
    }
  
    @-webkit-keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
  
    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
  
    .active {
      background-color: #717171;
    }
  
    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }
  
  
  
  /* On smaller screens, decrease text size
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  } */
  
  /* #storefindBox ========================= */
  .content_box_wrap{
    width: 100%; min-width: 1440px; height: auto;
  }
  .storefactory {display: none;}
  #dreamfactoryBox_full {display: none;}
  #storefindBox {display: none;}

  
    .noticeBox_full {display: none;}
    .noticeBox {
      float: left;
      width: 41.666%; min-width: 600px; height: 200px;
      margin: 2.969% 4.088% 3.031% 3.098%;
      /* padding: 30px; */
    }
  
    /* .notice_inner {
      float: left;
      width: 524px; height: 232px;
      margin: 58px;
    } */
  
    .notice {
      width: 37.847%; min-width: 524px; height: 200px;
    }
  
    .notice_TX {
      width: 37.847%; min-width: 545px; height: 50px;
      margin-left: 18px;
    }
    .notice_h2 {
      width: 66.7939%; min-width: 350px;
      font-size: 22px;
      font-weight: 500;
    }
  
    .notice_more {
      margin-top: -30PX;
      margin-right: 80PX;
      float: right;
      font-weight: normal;
      font-size: 18px;
    }
  
    /* .tab_title{
      position: absolute;
      width: 100%;
      font-size: 0;
      z-index: 2;
      cursor: pointer;
  } */
  
    .notice_letter{
      width: 34.0277778%; min-width: 490px; height: auto;
      display: block;
      /* position: fixed; */
      /* padding: 10px; */
      margin-top: 20px;
      Padding-left: 10px;
    }
    .notice_letter > li{
      font-weight: normal;
    }
    .notice_letter > li > a {
      font-size: 20px;
      /* float: left; */
      width: 22.916%; min-width: 330px;
      height: auto;
    }
    .notice_letter > li > span {
      float: right;
      font-size: 17px;
    }
  
  /* #shortcutBox ====================== */
  #shortcutBox {display: none;}

  /* #storyBox ========================= */
  #storyBox {
    float: left;
    /* padding: 10px 80px 0; */
    width: 100%; min-width: 1440px; height: 518px;
    /* background-color: #aaa; */
    }
  
    .menu_inner {
      float: left;
      width: 36.388%; min-width: 570px; height: 422px;
      margin: 2.469% 4.931% 5.031% 5.4%;
    }
  
    .menu {
      float: left;
      width: 100%; min-width: 570px; height: 422px;
      padding: 20px 0;
      background-image: url(../../img/menu_intro.png);
      background-repeat: no-repeat;
      background-size: 100% 422px;
      background-position: 50% 50%;
      color: #ffffff;
    }
  
    .menu_TX {
      width: 100%; min-width: 524px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 500;
    }
  
    .menu_btn {
      width: 10.416%; min-width: 150px;
      height: 196px;
      float: right;
      margin-top: 50px;
      margin-right: 80px;
    }
    
    .menu_dk {
      float: right;
      font-size: 18px;
      width: 94.667%; min-width: 142px;
      height: 45px;
      line-height: 45px;
      margin-bottom: 10px;
      border: 1px solid #cccccc;
      border-radius: 6px;
      cursor: pointer;
    }
    .menu_fd{
      float: right;
      font-size: 18px;
      width: 94.667%; min-width: 142px;
      height: 45px;
      line-height: 45px;
      margin-bottom: 10px;
      border: 1px solid #cccccc;
      border-radius: 6px;
      cursor: pointer;
    }
    .menu_md{
      float: right;
      font-size: 18px;
      width: 94.667%; min-width: 142px;
      height: 45px;
      line-height: 45px;
      text-transform: uppercase;
      border: 1px solid #cccccc;
      border-radius: 6px;
      cursor: pointer;
    }
  
    .menu_p {
      margin: 270px 76px 0 0;
      /* height: 524px; */
      text-align: right;
      font-size: 16px;
      font-weight: 400;
      color: white;
    }
  
    .brandStory_inner {
      float: left;
      width: 36.388%; min-width: 570px; height: 422px;
      margin: 2.469% 5.4% 4.031% 4.931%;
    }
  
    .brandStory {
      float: left;
      width: 100%; min-width: 570px; height: 422px;
      padding: 20px 0;
      background-image: url(../../img/brandStory.png);
      background-repeat: no-repeat;
      background-size: 100% 422px;
      background-position: 50% 50%;
    }
  
    .brandStory_TX {
      width: 100%; min-width: 524px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 500;
    }
  
    .brandStory_btn {
      width: 10.416%; min-width: 150px;
      height: 307px;
      float: right;
      margin-top: 50px;
      margin-right: 80px;
    }
    
    .brandStory_ey {
      float: right;
      font-size: 18px;
      width: 94.667%; min-width: 142px;
      height: 45px;
      line-height: 45px;
      margin-bottom: 5px;
      border: 1px solid #151515;
      border-radius: 6px;
      cursor: pointer;
    }
    .brandStory_ci{
      float: right;
      font-size: 18px;
      width: 94.667%; min-width: 142px;
      height: 45px;
      line-height: 45px;
      margin-bottom: 5px;
      border: 1px solid #151515;
      border-radius: 6px;
      cursor: pointer;
    }
    .brandStory_ht{
      float: right;
      font-size: 18px;
      width: 94.667%; min-width: 142px;
      height: 45px;
      line-height: 45px;
      margin-bottom: 5px;
      border: 1px solid #151515;
      border-radius: 6px;
      cursor: pointer;
    }
  
    .brandStory_m{
      float: right;
      font-size: 18px;
      width: 94.667%; min-width: 142px;
      height: 45px;
      line-height: 45px;
      margin-bottom: 5px;
      border: 1px solid #151515;
      border-radius: 6px;
      cursor: pointer;
    }
    .brandStory_aw{
      float: right;
      font-size: 18px;
      width: 94.667%; min-width: 142px;
      height: 45px;
      line-height: 45px;
      border: 1px solid #151515;
      border-radius: 6px;
      cursor: pointer;
    }
  
  
  /* #membershipBox ========================= */
  #dreamfactoryBox {
    float: left;
    width: 100%; min-width: 1440px;
    height: auto;
    background-color: #243c84;
  }
  
    /* .dreamfactory_inner {} */
  
    .dreamfactory {
      height: 412px;
      padding-top: 4.166%;
      padding-left: 6.25%;
    }

    .dreamTxt {
      width: 58.194%; min-width: 838px; height:80px;
    }
  
    .dreamfactory > ul > li {
      width: 32.638%; min-width: 470px;
      text-align: left;
      margin-top: 50px;
      font-size: 16px;
      color: #ffffff;
    }
  
    .dreamImg {
      width: 58.333%; min-width: 840px; height:262px;
      float: right;
      margin-top: 10px;
    }
  
    .dreamfactory_btn {
      width: 449px;
      height: 70px;
      /* float: right; */
      margin-top: 50px;
      /* margin-right: 80px; */
    }
  
    .dream_fc{
      float: right;
      font-size: 18px;
      width: 170px;
      height: 47px;
      margin-right: 10px;
      line-height: 45px;
      text-transform: uppercase;
      border: 1px solid #151515;
      background-color: #dddddd;
      opacity: 0.6;
      border-radius: 6px;
      cursor: pointer;
    }
    .dream_lc{
      float: right;
      font-size: 18px;
      width: 170px;
      height: 47px;
      line-height: 45px;
      text-transform: uppercase;
      border: 1px solid #151515;
      background-color: #dddddd;
      opacity: 0.6;
      border-radius: 6px;
      cursor: pointer;
    }
  
  /* #companyaboutBox ========================= */
  #companyabBox {
    float: left;
    width: 100%; min-width: 1440px;
    height: 500px;
    padding: 0 5.555%;
    /* background-color: #aaa; */
  }
  
    .franchise_inner {
      float: left;
      width: 36.3888%; min-width: 524px; height: 384px;
      margin: 3.889%;
    }
  
    .franchise {
      float: left;
      width: 100%; min-width: 524px; height: 384px;
      background-image: url(../../img/franchise.png);
      background-repeat: no-repeat;
      background-size: 100% 422px;
      background-position: 50% 50%;
      color: #ffffff;
    }
  
    .franchise_TX {
      width: 36.3888%; min-width: 524px;
      font-size: 18px;
      text-align: center;
      font-weight: 500;
      /* padding-right: 110px; */
      padding-top: 30px;
    }
  
    .franchise_btn {
      width: 13.75%; min-width: 198px;
      height: 121px;
      float: right;
      margin-top: 80px;
      margin-right: 40px;
    }
  
    .franchise_gd{
      float: right;
      font-size: 18px;
      width: 13.333%; min-width: 192px;
      height: 45px;
      line-height: 45px;
      margin-bottom: 5px;
      text-transform: uppercase;
      border: 1px solid #151515;
      background-color: #dddddd;
      opacity: 0.6;
      border-radius: 6px;
      cursor: pointer;
    }
    .franchise_pt{
      float: right;
      font-size: 18px;
      width: 13.333%; min-width: 192px;
      height: 45px;
      line-height: 45px;
      margin-bottom: 5px;
      text-transform: uppercase;
      border: 1px solid #151515;
      background-color: #dddddd;
      opacity: 0.6;
      border-radius: 6px;
      cursor: pointer;
    }
  
    .sns_inner {
      float: right;
      width: 38.0555%; min-width: 548px; height: 384px;
      margin: 3.889%;
    }
  
    .sns {
      float: right;
      width: 38.0555%; min-width: 548px; height: 384px;
      /* margin-left: 40px; */
      /* background-repeat: no-repeat; */
      /* background-size: 524px 422px; */
      /* background-position: 50% 50%; */
    }
  
    .snslatte {
      float: left;
      width: 100%; min-width: 180px; height: 189px;
    }
  
    .snsthree {
      float: left;
      width: 100%; min-width: 180px; height: 189px;
    }
  
    .snscoffee {
      float: left;
      width: 100%; min-width: 180px; height: 189px;
    }
  
    .snssoftkit {
      float: left;
      width: 100%; min-width: 180px; height: 189px;
    }
  
    .snsmark {
      float: right;
      width: 10.9722%; min-width: 158px; height: 384px;
      margin-top: -200px;
      /* background-color: #243c84; */
    }
    .snsmark > button > span {
      float: right;
      width: auto;
      height: 25px;
      margin-left: 18px;
      font-size: 24px;
      line-height: 25px;
      margin-top: 18px;
      margin-bottom: 60px;
      /* color: #ffffff; */
    }
  
    .snsmark > button > img {
      margin-top: 13.3165%;
      margin-left: 10px;
    }
  
    .snsmark > button:last-child {
      margin-bottom: -80px;
    }
  
      .Fmark {
        float: left;
        width: 23px; height: 23px;
        /* margin: -0px; */
      }
      .Imark {
        float: left;
        width: 23px; height: 23px;
      }
      .NBmark {
        float: left;
        width: 23px; height: 23px;
      }
      .Ymark {
        float: left;
        width: 23px; height: 23px;
      }
    .ediyastory_inner {display: none;}
    
  /* #footBox ========================= */
#footBox {
  float: left;
  width: 100%; min-width: 1440px;
  height: 244px;
  background-color: #555555;
  /* padding: 20px; */
}

  .foot_inner {
    width: 80.9722%; min-width: 1270px; height: 197px;
    margin: 50px 0 0 70px;
  }

  .foot_inner > h2 {
    width: 300px;
    margin-bottom: 29px;
  }
  .foot_inner > h2 > img {
    width: 100%; min-width: 280px; height: 28px;
  }
  .footsubmenu {
    float: right;
    width: 292px; height: 52px;
    display: flex;
    text-align: center;
    line-height: 48px;
    font-size: 12px;
  }
  .footsubmenu button {
    display: block;
    width: 150px; height: 100%;
  }
  .brandsite_part {
    float: left;
    width: 100%; height: 50px;
  }
  .brandsite_btn {
    width: 100%; height: 50px;
    line-height: 50px;
    background-color: #243c84;
    border-radius: 5px;
  }
  .brandsite_part span {
    font-size: 16px;
    color: #fff;
  }
  .language_part{
    float: left;
    width: 100px; height: 40px;
    margin: 10px 20px;
  }
  .language_part button {
    width: auto; height: 40px;
    margin: auto;
    text-transform: uppercase;
  }
  .language_btn img {
    width: 30px; height: 30px;
  }
  .language_part ul {
    display: none;
    width: 100%;
    height: auto;
    border: 1px solid #333;
    background-color: #fff;
    transform: translateX(-40px);
  }
  .language_part ul.on {
    display: block;
    width: 130px; height: auto;
}
  .language_part ul li {
    height: 50px;
  }
  .foot_inner > ul > li {
    font-size: 18px;
    color: #ffffff;
  }
  .footInner_m {display: none;}
}/* 1440px ~ 1919px ============================================= */