/* f_main_pcfull.css */

/* 1920px ~ */
@media all and (min-width:1920px) {
  #wrap {width: 100%; min-width: 1920px; }
  /* #headBox ========================= */
  #headBox {
    width: 100%; height: 120px;
    box-sizing: border-box;
    padding: 46px 18px 46px 24px;
    position: fixed;
    z-index: 1000;
    background-color: #fff;
  }
    .head_inner {
      width: 100%; max-width: 2100px; min-width: 1920px;
      margin-left: 30px; box-sizing: border-box;
      /* background-color: #ccc; */
    }
      h1 {
        float: left;
        width: 21.302%; min-width: 409px; height: 47px;
      }
      
      h1 > button > img { 
        width: 100%; min-width: 409px; height: 37px;}

      .gnb {
        float: left;
        width: 75.521%; min-width: 1450px; height: 45px;
      }
      .gnb > ul {
        width: 75.521%; min-width: 1450px; height: 45px;
        text-align: center;
        margin-left: 106px; 
      }
      .gnb > ul > li {
        display: inline-block; width: auto; height: auto;
        margin-left: 40px;
        font-size: 26px;
      }
      .gnb li:first-child {
        margin-left: 0;
      }
      .gnb li a {
        padding: 5px;
      }
      /* background-color: #cca; */
      .header_m {display: none;}

  .mainBox {width: auto; height: auto; top: 0; left: 0; right: 0; padding-top: 120px;}


  /* #viewBox ========================= */
  #viewBox {
    width: 100%; min-width: 1920px;
    height: 720PX;
    box-sizing: border-box;
    /* background-color: #ccc; */
  }
    .view_outer {
      width: 100%; min-width: 1920px; height: 720px;
      /* margin-top: -30px; */
    }
    .viewport {
      width: 100%; min-width: 1920px; height: 680px;
    }
    .viewport > img {
      width: 100%; min-width: 1920px; height: 720px;
    }
  
    /* .view_outer {
      background-color: #ddd;
      width: 100%; height: 525px;
      margin: auto;
    } */
  
    /* * {box-sizing: border-box;}
    body {font-family: 'Noto Sans KR', sans-serif;}
    .mySlides {display: none;}
    img {vertical-align: middle;} */
  
    /* Slideshow container */
    /* The dots/bullets/indicators */
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0px 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: 0.6s ease;
    }
  
    @-webkit-keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
  
    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
  
    .active {
      background-color: #717171;
    }
  
    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }
  
  
  
  /* On smaller screens, decrease text size
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  } */
  
  /* #storefindBox ========================= */
  .content_box_wrap{
    width: 100%; min-width: 1920px; height: 1600px;
  }

  /* .storefactory{width: 1230px; height: 580px;} */
  #dreamfactoryBox_full {
    float: left;
    width: 64.0625%; min-width: 1230px;
    height: 580px;
    padding: 4.065% 4.845%;
  }
  
  .dreamfactory_inner {
    width: 60.416%; min-width: 1160px; 
    height: 486px;
    background-color: #243c84;
  }
  
    .dreamfactory {
      height: 488px;
      padding-top: 4.31%;
      padding-left: 7.758%;
      }

      .dreamTxt {
        width: 43.6458%; min-width: 838px; height:80px;
      }
    
      .dreamfactory > ul > li {
        width: 24.479%; min-width: 470px;
        text-align: left;
        margin-top: 50px;
        font-size: 20px;
        color: #ffffff;
      }
    
      .dreamImg {
        width: 35.9375%; min-width: 690px; height: 305px;
        float: right;
        margin-top: 45px;
      }
    
      .dreamfactory_btn {
        width: 449px;
        height: 70px;
        /* float: right; */
        margin-top: 50px;
        /* margin-right: 80px; */
      }
    
      .dream_fc{
        float: right;
        width: 170px;
        margin-right: 10px;
        line-height: 45px;
        text-transform: uppercase;
        border: 1px solid #151515;
        background-color: #dddddd;
        opacity: 0.6;
        cursor: pointer;
      }
      .dream_lc{
        float: right;
        width: 170px;
        line-height: 45px;
        text-transform: uppercase;
        border: 1px solid #151515;
        background-color: #dddddd;
        opacity: 0.6;
        cursor: pointer;
      }
  
  #storefindBox {
    float: left;
    width: 35.9375%; min-width: 690px;
    height: 580px;
    /* ????? */
    /* margin-top: 45px; */
    /* position: relative; */
    /* margin: 0 0px; */
    /* background-color: #ddd; */
    padding: 3.855% 0;
  }
  
    .find_inner {
      float: left;
      width: 31.042%; min-width: 596px; height: 224px;
      margin: 0 6.3758%;
    }
  
    .storefind_TX {
      margin-left: 38px;
      font-weight: 500;
    }
  
    .search {
      position: relative;
      width: 27.777%; min-width: 400px;
    }
  
    input {
      margin-top: 20px; margin-left: 48px;
      width: 432px; height: 62px;
      border: 1px solid #bbb;
      border-radius: 5px;
      padding: 10px 12px;
      font-size: 25px;
    }
  
    .search > button {
      cursor: pointer;
    }
    .search > button > img {
      position: absolute;
      width: 40px; height: 40px;
      top: 30px;
      right: -20px;
      margin: 0;
    }
    .noticeBox_full {
      float: right;
      width: 26.25%; min-width: 504px; height: 208px;
      margin: 15.476% 15.476% 0 0;
    }
  
    .noticeBox {display: none;}
  
    /* .notice_inner {
      float: left;
      width: 524px; height: 232px;
      margin: 58px;
    } */
  
    .notice {
      width: 28.385%; min-width: 545px; height: 290px;
    }
  
    .notice_TX {
      width: 28.385%; min-width: 545px; height: 50px;
      margin-left: 38px;
      font-weight: 500;
    }
  
  
    .notice_more {
      margin-top: -25PX;
      margin-right: 80PX;
      float: right;
      font-weight: normal;
      font-size: 18px;
    }
  
    /* .tab_title{
      position: absolute;
      width: 100%;
      font-size: 0;
      z-index: 2;
      cursor: pointer;
  } */
  
    .notice_letter{
      width: 25.521%; min-width: 490px; height: 220px;
      display: block;
      /* position: fixed; */
      /* padding: 10px; */
      margin-top: 20px;
      Padding-left: 50px;
    }
    .notice_letter > li{
      font-weight: normal;
    }
    .notice_letter > li > a {
      font-size: 20px;
      width: 17.1875%; min-width: 330px;
      float: left;
    }
    .notice_letter > li > span {
      float: right;
      font-size: 17px;
    }
  
  /* #shortcutBox ====================== */
  #shortcutBox {display: none;}

  /* #storyBox ========================= */
  #storyBox {
    float: left;
    width: 100%; min-width: 1920px; height: 600px;
    /* padding: 0.521% 4.1666%; */
    /* background-color: #aaa; */
    }
  
    .menu_inner {
      float: left;
      width: 39.583%; min-width: 778px; height: 477px;
      margin: 2.969% 2.331% 3.331% 6.8%;
    }
  
    .menu {
      float: left;
      width: 100%; min-width: 778px; height: 477px;
      padding: 20px 0;
      background-image: url(../../img/menu_intro.png);
      background-repeat: no-repeat;
      background-size: 100% 477px;
      background-position: 50% 50%;
      color: #ffffff;
    }
  
    .menu_TX {
      width: 100%; min-width: 816px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 500;
    }
  
    .menu_btn {
      width: 8.5938%; min-width: 165px;
      height: 200px;
      float: right;
      margin-top: 80px;
      margin-right: 150px;
    }
    
    .menu_dk {
      float: right;
      width: 86.061%; min-width: 142px;
      line-height: 45px;
      margin-bottom: 10px;
      border: 1px solid #cccccc;
      cursor: pointer;
    }
    .menu_fd{
      float: right;
      width: 86.061%; min-width: 142px;
      line-height: 45px;
      margin-bottom: 10px;
      border: 1px solid #cccccc;
      cursor: pointer;
    }
    .menu_md{
      float: right;
      width: 86.061%; min-width: 142px;
      line-height: 45px;
      text-transform: uppercase;
      border: 1px solid #cccccc;
      cursor: pointer;
    }
  
    .menu_p {
      margin: 300px 0 0 0;
      /* height: 524px; */
      text-align: center;
      font-size: 20px;
      font-weight: 400;
      color: white;
    }
  
    .brandStory_inner {
      float: left;
      width: 39.583%; min-width: 778px; height: 477px;
      margin: 2.969% 6.8% 3.331% 2.331%;
    }
  
    .brandStory {
      float: left;
      width: 100%; min-width: 778px; height: 477px;
      padding: 20px 0;
      background-image: url(../../img/brandStory.png);
      background-repeat: no-repeat;
      background-size: 100% 477px;
      background-position: 50% 50%;
    }
  
    .brandStory_TX {
      width: 100%; min-width: 524px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 500;
    }
  
    .brandStory_btn {
      width: 7.8125%; min-width: 150px;
      height: 307px;
      float: right;
      margin-top: 50px;
      margin-right: 80px;
    }
    
    .brandStory_ey {
      float: right;
      width: 94.667%; min-width: 142px;
      line-height: 45px;
      margin-bottom: 5px;
      border: 1px solid #151515;
      cursor: pointer;
    }
    .brandStory_ci{
      float: right;
      width: 94.667%; min-width: 142px;
      line-height: 45px;
      margin-bottom: 5px;
      text-transform: uppercase;
      border: 1px solid #151515;
      cursor: pointer;
    }
    .brandStory_ht{
      float: right;
      width: 94.667%; min-width: 142px;
      line-height: 45px;
      margin-bottom: 5px;
      border: 1px solid #151515;
      cursor: pointer;
    }
  
    .brandStory_m{
      float: right;
      width: 94.667%; min-width: 142px;
      line-height: 45px;
      margin-bottom: 5px;
      text-transform: uppercase;
      border: 1px solid #151515;
      cursor: pointer;
    }
    .brandStory_aw{
      float: right;
      width: 94.667%; min-width: 142px;
      line-height: 45px;
      text-transform: uppercase;
      border: 1px solid #151515;
      cursor: pointer;
    }
  
  
  /* #membershipBox ========================= */
    #dreamfactoryBox{display: none;}
  
  /* #companyaboutBox ========================= */
  #companyabBox {
    float: left;
    width: 100%; min-width: 1920px;
    height: 530px;
    padding: 0 4.166%;
    /* background-color: #aaa; */
  }
  
    .franchise_inner {
      float: left;
      width: 39.583%; min-width: 760px; height: 384px;
      margin: 3.021%;
    }
  
    .franchise {
      float: left;
      width: 100%; min-width: 760px; height: 384px;
      background-image: url(../../img/franchise.png);
      background-repeat: no-repeat;
      background-size: 100% 477px;
      background-position: 50% 50%;
      color: #ffffff;
    }
  
    .franchise_TX {
      width: 27.2916%; min-width: 524px;
      /* font-size: 20px; */
      text-align: right;
      font-weight: 500;
      padding-right: 110px;
      padding-top: 30px;
    }
  
    .franchise_btn {
      width: 10.3125%; min-width: 198px;
      height: 121px;
      float: right;
      margin-top: 80px;
      margin-right: 40px;
    }
  
    .franchise_gd{
      float: right;
      width: 10%; min-width: 192px;
      line-height: 45px;
      margin-bottom: 5px;
      text-transform: uppercase;
      border: 1px solid #151515;
      background-color: #dddddd;
      opacity: 0.6;
      cursor: pointer;
    }
    .franchise_pt{
      float: right;
      width: 10%; min-width: 192px;
      line-height: 45px;
      text-transform: uppercase;
      border: 1px solid #151515;
      background-color: #dddddd;
      opacity: 0.6;
      cursor: pointer;
    }
  
    .sns_inner {
      float: left;
      width: 39.583%; min-width: 760px; height: 384px;
      margin: 3.021%;
    }
  
    .sns {
      float: right;
      width: 39.583%; min-width: 760px; height: 384px;
      /* margin-left: 40px; */
      /* background-repeat: no-repeat; */
      /* background-size: 524px 422px; */
      /* background-position: 50% 50%; */
    }
  
    .snslatte {
      float: left;
      width: 100%; min-width: 250px; height: 190px;
    }
  
    .snsthree {
      float: left;
      width: 100%; min-width: 250px; height: 190px;
    }
  
    .snscoffee {
      float: left;
      width: 100%; min-width: 250px; height: 190px;
    }
  
    .snssoftkit {
      float: left;
      width: 100%; min-width: 250px; height: 190px;
    }
  
    .snsmark {
      float: right;
      width: 9.271%; min-width: 178px; height: 384px;
      margin-top: -200px;
      /* background-color: #243c84; */
    }
    .snsmark > button > span {
      float: left;
      margin: 5px;
      font-size: 25px;
      line-height: 10px;
      margin-top: 45px;
      margin-bottom: 80px;
      /* color: #ffffff; */
    }
  
    .snsmark > button > img {
      margin-top: 22.4712%;
      margin-left: 10px;
    }
  
    .snsmark > button:last-child {
      margin-bottom: -80px;
    }
  
      .Fmark {
        float: left;
        width: 23px; height: 23px;
        /* margin: -0px; */
      }
      .Imark {
        float: left;
        width: 23px; height: 23px;
      }
      .NBmark {
        float: left;
        width: 23px; height: 23px;
      }
    .ediyastory_inner {display: none;}
    
  /* #footBox ========================= */
  #footBox {
    float: left;
    width: 100%; min-width: 1920px;
    height: 244px;
    background-color: #555555;
    /* padding: 20px; */
  }
  
    .foot_inner {
      width: 60.7292%; min-width: 1166px; height: 197px;
      margin: 50px 0 0 70px;
    }
  
    .foot_inner > h2 {
      margin-bottom: 29px;
    }

    .foot_inner > h2 > img {
      width: 100%; width: 280px; height: 28px;
    }
  
    .foot_inner > ul > li {
      font-size: 20px;
      color: #ffffff;
    }

    .footInner_m {display: none;}
} /* 1920px ~ =========================================== */