/* f_main_pcfull.css */

/* 1920px ~ */
@media all and (min-width:1920px) {
  #wrap {width: 100%; min-width: 1920px; }
  /* #headBox ========================= */
  #headBox { 
    width:100%; height: 180px; 
    box-sizing:border-box;
    position: fixed;
    z-index: 999;
    background-color: #fff;
  }
  .head_inner {
    width: 100%; min-width: 1920px;
    height: 50%;
    margin: auto; box-sizing: border-box;
    padding: 16px 40px;
    /* background-color: #243c84; */
  }
  h1 {
    float: left;
    width: 14.583%; min-width: 280px; 
    height: 66px;
    /* margin-left: 10px; */
    margin: auto;
  }
  h1 > button > img {
    width: 100%; min-width: 280px;
    height: 30px;
    margin-top: 14px;
  }

  .unb {
    width: 26.042%; min-width: 500px; 
    height: auto;
    display: flex;
    float: right;
    text-transform: uppercase;
    text-align: center;
  }
  .about_part {
    width: 5.208%; min-width: 100px;
    height: 54px;
    line-height: 54px;
  }
  .about_part a {
    display: block;
    width: auto;
    height: 100%;
    font-size: 20px;
    text-decoration: none;
  }
  .login_part {
    width: 100px;
    height: 54px;
    line-height: 54px;
  }
  .login_part a {
    display: block;
    font-size: 20px;
    width: auto;
    height: 100%;
    text-decoration: none;
  }

  /* .unb button {
    width: 80px; height: 25px; 
    border: 0; margin: 0; 
    background-color: #213C5D;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
  } */
  .search_part {
    float: right;
    width: auto;
    height: auto;
    margin: auto;
    margin-top: 5px;
    margin-left: 18px;
  }
  .search_part > form {
    width: auto;
    height: auto;
  }
  .search_part fieldset {
    display: flex;
    width: auto;
    height: auto;
    /* padding: 4px; */
  }
  #unbsearchInput {
    width: 44%; min-width: 220px;
    height: 48px;
    margin: auto;
    margin-right: 8px;
    padding-left: 10px;
    border-radius: 4px;
    font-size: 19px;
    border: 1px solid #aaaaaa;
  }
  
  .search_btn {
    width: 16%; min-width: 80px;
    height: 48px;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: #243c84;
    color: #fff;
    font-size: 19px;
    text-transform: capitalize;
  }

  /* ---------------------------------- */
  .head_inner02 {
    width: 100%; min-width: 1920px;
    height: 50%;
    background-color: #243c84;
    margin: auto;
    box-sizing: border-box;
    /* border-top: 2px solid #333; */
  }

  .gnb {
    display: flex;
    width: 69.2188%; min-width: 1329px; 
    height: 100%;
    margin: auto;
  }
  .submenu_part {
    position: relative;
    display: inline-block;
  }
  .btn_part {
    width: 10%; min-width: 192px;
    height: 100%;
    line-height: 48px;
    border-radius : 4px;
    font-weight: 300;
    padding : 12px;
    text-align: left;
    cursor : pointer;
    font-size : 22px;
    text-align: center;
    color: #fff;
  }
  .submenu_inner {
    width : 100%; min-width: 172px;
    display : none;
    position : absolute;
    z-index : 1; /*다른 요소들보다 앞에 배치*/
    /* font-size: 16px; */
    font-weight: 300;
    background-color: #fff;
    text-align: center;
  }
  .submenu_inner a {
    display : block;
    text-decoration : none;
    font-size: 21px;
    padding : 12px 10px;
  }
  .submenu_inner a:hover {
    font-weight: 500;
    font-size: 17px;
    color: #243c84;
    width: auto;
  }
  .submenu_part:hover .submenu_inner {
    display: block;
    border: 1px solid #243c84;
    justify-content: space-between;
  }
  .header_m {display: none;}
    
  .mainBox {width: auto; height: auto; top: 0; left: 0; right: 0; padding-top: 180px;}

  /* #viewBox ========================= */
  #viewBox {
    width: 100%; min-width: 1920px;
    height: auto;
    box-sizing: border-box;
    z-index: 500;
    position: relative;
    /* background-color: #ccc; */
  }
    .view_outer {
      width: 100%; min-width: 1920px; height: auto;
      /* margin-top: -30px; */
    }
    .viewport {
      width: 100%; min-width: 1920px; height: auto;
    }
    .viewport > img {
      width: 100%; min-width: 1920px; height: auto;
    }
  
    /* .view_outer {
      background-color: #ddd;
      width: 100%; height: 525px;
      margin: auto;
    } */
  
    /* * {box-sizing: border-box;}
    body {font-family: 'Noto Sans KR', sans-serif;}
    .mySlides {display: none;}
    img {vertical-align: middle;} */
  
    /* Slideshow container */
    /* The dots/bullets/indicators */
    .dotBox {
      width: 100%; min-width: 1920px; height: 35px;
      margin-bottom: 15px;
      margin-top: -55px;
    }
    .dot {
      cursor: pointer;
      height: 25px;
      width: 25px;
      margin: 0px 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: 0.6s ease;
    }
  
    @-webkit-keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
  
    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
  
    .active {
      background-color: #717171;
    }
  
    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }
  
  
  
  /* On smaller screens, decrease text size
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  } */
  
  /* #storefindBox ========================= */
  .content_box_wrap{
    width: 100%; min-width: 1920px; height: auto;
  }

  /* .storefactory{width: 1230px; height: 580px;} */
  #dreamfactoryBox_full {
    float: left;
    width: 64.0625%; min-width: 1230px;
    height: 580px;
    padding: 4.065% 1.845% 1.845% 1.845%;
  }
  
  .dreamfactory_inner {
    width: 60.416%; min-width: 1160px; 
    height: 470px;
    background-color: #243c84;
  }
  
    .dreamfactory {
      height: 470px;
      padding-top: 4.31%;
      padding-left: 7.758%;
      }

      .dreamTxt {
        width: 43.6458%; min-width: 838px; height: 80px;
      }
    
      .dreamfactory > ul > li {
        width: 24.479%; min-width: 470px;
        text-align: left;
        margin-top: 50px;
        font-size: 20px;
        color: #ffffff;
      }
    
      .dreamImg {
        width: 35.9375%; min-width: 690px; height: 285px;
        float: right;
        margin-top: 45px;
      }
    
      .dreamfactory_btn {
        width: 23.3854%; min-width: 449px;
        height: 70px;
        margin-top: 50px;
        /* float: right; */
        /* margin-right: 80px; */
      }
    
      .dream_fc{
        width: 9.375%; min-width: 180px;
        height: 50px;
        float: right;
        font-size: 20px;
        margin-right: 10px;
        line-height: 50px;
        text-transform: uppercase;
        border: 1px solid #151515;
        background-color: #dddddd;
        opacity: 0.6;
        border-radius: 6px;
        cursor: pointer;
      }
      .dream_lc{
        width: 9.375%; min-width: 180px;
        height: 50px;
        float: right;
        font-size: 20px;
        line-height: 50px;
        text-transform: uppercase;
        border: 1px solid #151515;
        background-color: #dddddd;
        opacity: 0.6;
        border-radius: 6px;
        cursor: pointer;
      }
  
  #storefindBox {
    float: left;
    width: 35.9375%; min-width: 690px;
    height: 570px;
    /* ????? */
    /* margin-top: 45px; */
    /* position: relative; */
    /* margin: 0 0px; */
    /* background-color: #ddd; */
    padding: 3.855% 0 1% 0;
  }
  
    .find_inner {
      float: left;
      width: 31.042%; min-width: 596px; height: auto;
      margin: 0 6.3758%;
    }

    .finder {
      width: 75.942%; min-width: 524px; 
      height: 190px;
    }
  
    .storefind_TX {
      margin-left: 38px;
      font-weight: 500;
    }
  
    .search {
      width: 26.0416%; min-width: 500px;
      height: 100px;
      position: relative;
      top: 30px;
    }
  
    input {
      margin-top: 20px; margin-left: 48px;
      width: 432px; height: 72px;
      border: 1px solid #bbb;
      border-radius: 5px;
      padding: 10px 12px;
      font-size: 25px;
    }
  
    .search > button {
      cursor: pointer;
    }
    .search > button > img {
      width: 30px; 
      height: 30px;
      position: absolute;
      top: 40px;
      right: 40px;
      margin: 0;
    }
    .noticeBox_full {
      float: right;
      width: 26.25%; min-width: 504px; height: auto;
      margin: 13.476% 15.476% 0 0;
    }
  
    .noticeBox {display: none;}
  
    /* .notice_inner {
      float: left;
      width: 524px; height: 232px;
      margin: 58px;
    } */
  
    .notice {
      width: 28.385%; min-width: 545px; height: auto;
    }
  
    .notice_TX {
      width: 28.385%; min-width: 545px; height: 50px;
      margin-left: 38px;
      font-weight: 500;
    }
  
  
    .notice_more {
      margin-top: -25PX;
      margin-right: 80PX;
      float: right;
      font-weight: normal;
      font-size: 18px;
    }

  
    .notice_letter{
      width: 25.521%; min-width: 490px; height: auto;
      display: block;
      /* position: fixed; */
      /* padding: 10px; */
      margin-top: 20px;
      Padding-left: 50px;
    }
    .notice_letter > li{
      font-weight: normal;
    }
    .notice_letter > li > a {
      float: left;
      width: 17.1875%; min-width: 330px;
      font-size: 20px;
    }
    .notice_letter > li > span {
      float: right;
      font-size: 17px;
    }
  
  /* #shortcutBox ====================== */
  #shortcutBox {display: none;}

  /* #storyBox ========================= */
  #storyBox {
    float: left;
    width: 100%; min-width: 1920px; 
    height: 600px;
    /* padding: 0.521% 4.1666%; */
    /* background-color: #aaa; */
    }
  
    .menu_inner {
      float: left;
      width: 40%; min-width: 768px; 
      height: 477px;
      margin: 2.969% 2.731% 3.331% 7.2%;
    }
  
    .menu {
      float: left;
      width: 100%; min-width: 768px; height: 477px;
      padding: 20px 0;
      background-image: url(../../img/menu_intro.png);
      background-repeat: no-repeat;
      background-size: 100% 477px;
      background-position: 50% 50%;
      color: #ffffff;
    }
  
    .menu_TX {
      width: 100%; min-width: 768px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 500;
    }
  
    .menu_btn {
      width: 24.0885%; min-width: 185px;
      height: 200px;
      float: right;
      margin-top: 50px;
      margin-right: 100px;
    }
    
    .menu_dk {
      width: 19.5313%; min-width: 150px;
      height: 50px;
      float: right;
      font-size: 22px;
      line-height: 50px;
      margin-bottom: 20px;
      border: 1px solid #cccccc;
      border-radius: 6px;
      cursor: pointer;
    }
    .menu_fd{
      width: 19.5313%; min-width: 150px;
      height: 50px;
      float: right;
      font-size: 22px;
      line-height: 50px;
      margin-bottom: 20px;
      border: 1px solid #cccccc;
      border-radius: 6px;
      cursor: pointer;
    }
    .menu_md{
      width: 19.5313%; min-width: 150px;
      height: 50px;
      float: right;
      font-size: 22px;
      line-height: 50px;
      text-transform: uppercase;
      border: 1px solid #cccccc;
      border-radius: 6px;
      cursor: pointer;
    }
  
    .menu_p {
      margin: 300px 0 0 0;
      /* height: 524px; */
      text-align: center;
      font-size: 20px;
      font-weight: 400;
      color: white;
    }
  
    .brandStory_inner {
      float: left;
      width: 40%; min-width: 768px; height: 477px;
      margin: 2.969% 7.2% 3.331% 2.731%;
    }
  
    .brandStory {
      float: left;
      width: 100%; min-width: 768px; height: 477px;
      padding: 20px 0;
      background-image: url(../../img/brandStory.png);
      background-repeat: no-repeat;
      background-size: 100% 477px;
      background-position: 50% 50%;
    }
  
    .brandStory_TX {
      width: 100%; min-width: 768px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 500;
    }
  
    .brandStory_btn {
      width: 24.0885%; min-width: 185px;
      height: 307px;
      float: right;
      margin-top: 40px;
      margin-right: 80px;
    }
    
    .brandStory_ey {
      width: 19.5313%; min-width: 150px;
      height: 50px;
      float: right;
      font-size: 20px;
      line-height: 50px;
      margin-bottom: 10px;
      border: 1px solid #151515;
      border-radius: 6px;
      cursor: pointer;
    }
    .brandStory_ci{
      width: 19.5313%; min-width: 150px;
      height: 50px;
      float: right;
      font-size: 20px;
      line-height: 50px;
      margin-bottom: 10px;
      border: 1px solid #151515;
      border-radius: 6px;
      cursor: pointer;
    }
    .brandStory_ht{
      width: 19.5313%; min-width: 150px;
      height: 50px;
      float: right;
      font-size: 20px;
      line-height: 50px;
      margin-bottom: 10px;
      border: 1px solid #151515;
      border-radius: 6px;
      cursor: pointer;
    }
  
    .brandStory_m{
      width: 19.5313%; min-width: 150px;
      height: 50px;
      float: right;
      font-size: 20px;
      line-height: 50px;
      margin-bottom: 10px;
      border: 1px solid #151515;
      border-radius: 6px;
      cursor: pointer;
    }
    .brandStory_aw{
      width: 19.5313%; min-width: 150px;
      height: 50px;
      float: right;
      font-size: 20px;
      line-height: 50px;
      border: 1px solid #151515;
      border-radius: 6px;
      cursor: pointer;
    }
  
  
  /* #membershipBox ========================= */
    #dreamfactoryBox{display: none;}
  
  /* #companyaboutBox ========================= */
  #companyabBox {
    float: left;
    width: 100%; min-width: 1920px;
    height: auto;
    /* padding: 0 4.166%; */
    /* background-color: #aaa; */
  }
  
    .franchise_inner {
      float: left;
      width: 40%; min-width: 768px; height: 477px;
      margin: 2.969% 5.731% 3.331% 7.2%;
    }
  
    .franchise {
      float: left;
      width: 100%; min-width: 768px; height: 477px;
      background-image: url(../../img/franchise.png);
      background-repeat: no-repeat;
      background-size: 100% 477px;
      background-position: 50% 50%;
      color: #ffffff;
    }
  
    .franchise_TX {
      width: 100%; min-width: 768px;
      font-size: 24px;
      text-align: center;
      font-weight: 500;
      /* padding-right: 110px; */
      padding-top: 30px;
    }
  
    .franchise_btn {
      width: 10.9375%; min-width: 210px;
      height: 121px;
      float: right;
      margin-top: 80px;
      margin-right: 40px;
    }
  
    .franchise_gd{
      width: 10.4167%; min-width: 200px;
      height: 55px;
      float: right;
      font-size: 22px;
      line-height: 55px;
      margin-bottom: 10px;
      text-transform: uppercase;
      border: 1px solid #151515;
      background-color: #dddddd;
      opacity: 0.6;
      border-radius: 6px;
      cursor: pointer;
    }
    .franchise_pt{
      width: 10.4167%; min-width: 200px;
      height: 55px;
      float: right;
      font-size: 22px;
      line-height: 55px;
      text-transform: uppercase;
      border: 1px solid #151515;
      background-color: #dddddd;
      opacity: 0.6;
      border-radius: 6px;
      cursor: pointer;
    }
  
    .sns_inner {
      display: flex;
      width: 40%; min-width: 768px; 
      height: 477px;
      margin: 2.969% 7.2% 3.331% 2.731%;
    }
    
    .sns {
      display: flex;
      flex-wrap: wrap;
      width: 40%; min-width: 550px; height: 477px;
      /* margin-left: 40px; */
      /* background-repeat: no-repeat; */
      /* background-size: 524px 422px; */
      /* background-position: 50% 50%; */
    }
  
    .snslatte {
      /* float: left; */
      width: 100%; min-width: 274px; height: 220px;
    }
  
    .snsthree {
      /* float: left; */
      width: 100%; min-width: 274px; height: 220px;
    }
  
    .snscoffee {
      /* float: left; */
      width: 100%; min-width: 274px; height: 220px;
    }
  
    .snssoftkit {
      /* float: left; */
      width: 100%; min-width: 274px; height: 220px;
    }
  
    .snsmark {
      display: flex;
      flex-direction: column;
      width: 29.1667%; min-width: 224px; height: 477px;
      /* background-color: #243c84; */
    }
    .snsmark > button {
      width: auto; height: 120px;
    }
    .snsmark > button > span {
      float: right;
      width: auto;
      height: 25px;
      margin-left: 28px;
      font-size: 25px;
      line-height: 25px;
      /* margin-top: 10px; */
      /* margin-bottom: 70px; */
      /* color: #ffffff; */
    }
  
    .snsmark > button > img {
      /* margin-top: 8.4712%; */
      margin-left: 25px;
    }
  
    /* .snsmark > button:last-child {
      margin-bottom: -80px;
    } */
  
      .Fmark {
        float: left;
        width: 32px; height: 32px;
        /* margin: -0px; */
      }
      .Imark {
        float: left;
        width: 32px; height: 32px;
      }
      .NBmark {
        float: left;
        width: 32px; height: 32px;
      }
      .Ymark {
        float: left;
        width: 32px; height: 32px;
      }
    .ediyastory_inner {display: none;}
    
  /* #footBox ========================= */
  #footBox {
    float: left;
    width: 100%; min-width: 1920px;
    height: auto;
    border-top: 3px solid #243c84;
    /* padding: 20px; */
  }
  
    .foot_inner {
      width: 76.3542%; min-width: 1466px; height: auto;
      margin: 34px auto;
    }
    .foot_main {
      color: #000;
      text-align: center;
      position: relative;
    }
    .foot_main > h2 {
      width: auto;
      margin-bottom: 28px;
    }
    .foot_main h2 button img {
      width: 14.5833%; min-width: 280px; 
      height: 38px;
      margin: auto;
      display: block;
    }
    .foot_main .company_info {
      width: 100%; height: auto;
    }
    .foot_main .company_info li {
      font-size: 22px;
      display: inline-block;
    }
    .foot_main .company_info li::after {
      padding: 0 14px;
      content: 'l';
    }
    /* .foot_main .company_info li:last-child:after{display:none;} */
    .foot_main p {
      font-size: 20px;
      margin-top: 26px;
      font-weight: 400;
    }
    .foot_main .footsubmenu {
      width: 15.625%; min-width: 330px; 
      height: auto;
      display: flex;
      position: absolute;
      top: 10px;
      right: 0;
      /* font-size: 0.75rem; */
    }
    .language_part {
      width: 50%;
    }
    .language_btn {
      width: 100%; height: 60px;
      margin-top: 2px;
    }
    .language_btn img {
      width: 45px; height: 45px;
    }
    .language_part ul {
      display: none;
      width: 100%;
      margin-top: 10px;
      padding: 10px 8px;
      /* margin-bottom: 25px; */
      border: 1px solid #262626;
      position: relative;
      cursor: pointer;
      text-align: center;
    }
    .language_part ul.on {
      display: block;
      width: 100%; height: auto;
    }
    .language_part li {
      width: auto; height: 30px;
      line-height: 20px;
    }
    .language_part li button { text-transform: uppercase; }
    .brandsite_part {
      width: 50%;
      margin-left: 5px;
    }
    .brandsite_part ul {
      display: none;
      width: 100%; height: auto;
      margin-top: 10px;
      padding: 5px 8px;
      border: 1px solid #262626;
      /* margin-bottom: 25px; */
      position: relative;
      cursor: pointer;
      text-align: center;
    }
    .brandsite_part ul.on {
      display: block;
      width: 100%; height: auto;
    }
    .brandsite_btn {
      width: 100%; height: 60px;
      line-height: 42px;
      background-color: #243c84;
      border-radius: 5px;
      color: #fff;
      font-size: 17px;
    }
    .foot_inner > ul > li {
      font-size: 20px;
      color: #ffffff;
    }
    .to_top {
      display: none;
      position: fixed;
      bottom: 15px;
      right: 2%;
      z-index: 1;
    }
    .to_top.on {
      display: block;
    }
    .to_top span {
      display: inline-block;
      width: 70px;
      height: 70px;
      cursor: pointer;
      background: url(../../img/to_top2color.svg)no-repeat center;
      background-size: 70px;
    }
    .to_top span:hover {
      background: url(../../img/to_top_fill.svg)no-repeat center;
      background-size: 70px;
    }
    
    .footInner_m {display: none;}
  } /* 1920px ~ =========================================== */