#wrap {
  width: 960px; height: auto; min-height: 500px;
  font-family: 'Noto Sans KR', sans-serif;
}
#headBox {width: 100%;}
#viewBox {margin: auto;}
#footBox {width: 100%;}

/* (디자인기준: 320px) ~ 767px */
@media all and (max-width:767px) {
  #wrap { width: 100%; min-width: 320px; min-height: 600px;}

  /* headBox ========================= */
  #headBox {
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    padding: 10px 12px 14px 12px;
    position: fixed;
    z-index: 1000;
    background-color: #fff;
  }
    .head_inner {
      width: 100%; max-width: 767px; min-width: 320px;
      margin: auto; box-sizing: border-box;
      /* background-color: #ccc; */
    }
      h1 {
        float: left;
        width: 33.75%; min-width: 108px; height: auto;
      }
      .head_inner > h1 > button > img {
        width: 100%; min-width: 108px; height: 12px;
      }
    .gnb {display: none;}
  #headBox .header_m {padding-left: 34.375%;}
    .header_m {
      float: right;
      width: 46.875%; min-width: 150px; height: 50px;
      margin: auto;
      margin-top: 8px;
      box-sizing: border-box;
      /* background-color: #ddd; */
    }
    #unbInner {width: 18.75%; min-width: 60px; padding: 0;}
    
    #check_box {
      display: none;
    }
    
    #check_box + label {
      position: relative;
      display: block;
      width: 12.5%; min-width: 40px;
      height: 24px;
      cursor: pointer;
      z-index: 100;
      /* position: relative; */
    }
    
    #check_box + label > span {
      position: absolute;
      display: block;
      width: 100%;
      height: 5px;
      background: black;
      border-radius: 5px;
      transition: all 300ms;
    }
    
    #check_box:checked + label > span:nth-child(1) {
      top: 50%;
      transform: translate(0, -50%);
      transform: rotate(45deg);
    }
    
    #check_box + label > span:nth-child(2) {
      top: 50%;
      transform: translate(0, -50%);
    }
    
    #check_box:checked + label > span:nth-child(2) {
      opacity: 0;
    }
    
    #check_box + label > span:nth-child(3) {
      bottom: 0;
    }
    
    #check_box:checked + label > span:nth-child(3) {
      top: 50%;
      transform: translate(0, -50%);
      transform: rotate(-45deg);
    }
    #side_menu {
      position: fixed;
      width: 93.75%; min-width: 300px;
      height: 100%;
      background-color: rgba(36, 48, 90, 86%);
      left: 100%;
      transition: all 300ms;
      z-index: 1;
      top: 0px;
      padding: 60px 20px 20px 16px;
      box-sizing: border-box;
    }
    
    #check_box:checked + label + #side_menu {
      /* float: right; */
      left: 40px;
    }
    #side_menu ul {width: 100%; height: auto;}
    #side_menu li {
      width: 100%; height: auto; margin-bottom: 20px;
      font-size: 15px; font-weight: 500;
      color: #ddd;
    }
    #side_menu a {color: inherit;}
    
    #side_menu button img {
      width: 8.666%; min-width: 26px; height: 26px;
      margin-right: 5px;
      color: #aaa;
    }
    .search_part {
      height: auto;
    }
    .search_part > form {
      width: auto;
      height: auto;
    }
    .search_part fieldset {
      display: flex;
      width: auto;
      height: auto;
      /* padding: 4px; */
    }
    #searchInput {
      width: 57.333%; min-width: 172px;
      height: 44px;
      margin-right: 8px;
      padding-left: 5px;
      border-radius: 4px;
      border: 1px solid #aaaaaa;
    }
    
    .search_btn {
      width: 23.333%; min-width: 70px;
      border-radius: 4px;
      border: 1px solid #fff;
      color: #fff;
      text-transform: capitalize;
    }

  .mainBox {width: auto; height: auto; top: 0; left: 0; right: 0; padding-top: 60px;}



/* footer ========================= */
#footBox {
  width: 100%; min-width: 320px;
  float: left;
  height: 110px;
  background-color: #777;
  /* padding: 20px; */
}
.foot_inner {display: none;}

.footInner_m {
  width: 100%; min-width: 320px;
  height: 106px;
  padding-left: 3.125%;
  /* padding-top: 0; */
}

  .footInner_m > h2 {
    /* width: 100%; height: 32px; */
    margin-bottom: 1px;
  }
  
  .footInner_m > h2 > button > img {
    width: 100%; min-width: 80px; 
    height: 10px;
  }

  .footInner_m > ul > li {
    width: 93.75%; min-width: 300px;
    font-size: 10px;
    color: #ffffff;
  }
}

  /* 768px ~ 1279px */
@media all and (min-width: 768px) and (max-width: 1279px) {
  #wrap { width: 100%; min-width: 768px; min-height: 600px;}

  /* headBox ========================= */
  #headBox {
    width: 100%; min-width: 768px;
    
    height: 90px;
    box-sizing: border-box;
    padding: 30px 20px;
    position: fixed;
    z-index: 1000;
    background-color: #fff;
  }
    .head_inner {
      width: 100%; max-width: 1279px; min-width: 768px;
      margin: auto; box-sizing: border-box;
      /* background-color: #ccc; */
    }
      h1 {
        float: left;
        width: 13.4375%; min-width: 180px; height: auto;
      }

      h1 > button > img {
        width: 23.4375%; min-width: 180px;
        height: 20px;
        margin-bottom: 1.111px;
      }

      .gnb {display: none;}
      /* background-color: #cca; */
      #headBox .header_m {padding-left: 13.375%;}
      .header_m {
        float: right;
        width: 17.531%; min-width: 150px; height: 50px;
        margin: auto;
        margin-top: 5px;
        box-sizing: border-box;
        /* background-color: #ddd; */
      }
      #unbInner {width: 7.8125%; min-width: 60px; padding: 0;}
      
      #check_box {
        display: none;
      }
      
      #check_box + label {
        position: relative;
        display: block;
        width: 5.99%; min-width: 46px;
        height: 30px;
        cursor: pointer;
        z-index: 100;
        /* position: relative; */
      }
      
      #check_box + label > span {
        position: absolute;
        display: block;
        width: 100%;
        height: 5px;
        background: #000;
        border-radius: 5px;
        transition: all 300ms;
      }
      
      #check_box:checked + label > span:nth-child(1) {
        top: 50%;
        transform: translate(0, -50%);
        transform: rotate(45deg);
      }
      
      #check_box + label > span:nth-child(2) {
        top: 50%;
        transform: translate(0, -50%);
      }
      
      #check_box:checked + label > span:nth-child(2) {
        opacity: 0;
      }
      
      #check_box + label > span:nth-child(3) {
        bottom: 0;
      }
      
      #check_box:checked + label > span:nth-child(3) {
        top: 50%;
        transform: translate(0, -50%);
        transform: rotate(-45deg);
      }
      #side_menu {
        position: fixed;
        width: 100%; min-width: 400px;
        height: 100%;
        background-color: rgba(36, 48, 90, 80%);
        left: 100%;
        transition: all 300ms;
        z-index: 1;
        top: 0px;
        padding: 60px 20px 20px 16px;
        box-sizing: border-box;
      }
      
      #check_box:checked + label + #side_menu {
        /* float: right; */
        left: 40px;
      }
      #side_menu ul {width: 100%; height: auto;}
      #side_menu li {
        width: 100%; height: auto; margin-bottom: 15px;
        font-size: 20px; font-weight: 500;
        color: #ddd;
      }
      #side_menu a {color: inherit;}
      
      #side_menu button img {
        width: 10.666%; min-width: 32px; height: 32px;
        margin-right: 5px;
        color: #aaa;
      }
      .search_part {
        height: auto;
      }
      .search_part > form {
        width: auto;
        height: auto;
      }
      .search_part fieldset {
        display: flex;
        width: auto;
        height: auto;
        /* padding: 4px; */
      }
      #searchInput {
        width: 64%; min-width: 192px;
        height: 50px;
        font-size: 14px;
        margin-right: 8px;
        padding-left: 15px;
        border-radius: 4px;
        border: 1px solid #aaaaaa;
      }
      
      .search_btn {
        width: 24.666%; min-width: 74px;
        border-radius: 4px;
        border: 1px solid #fff;
        color: #fff;
        text-transform: capitalize;
      }
      
  .mainBox {width: auto; height: auto; top: 0; left: 0; right: 0; padding-top: 90px;}

/* footer ========================= */
#footBox {
  width: 100%; min-width: 768px;
  height: 160px;
  float: left;
  background-color: #777;
  /* padding: 20px; */
}
.foot_inner {display: none;}

.footInner_m {
    width: 90%; min-width: 700px;
    height: 140px;
    margin-left: 4.55729167%;
    margin-top: 2.60416667%;
  }

  .footInner_m > h2 {
    /* width: 85px; height: 10px; */
    margin-bottom: 10px;
  }
  
  .footInner_m > h2 > button > img {
    width: 100%; min-width: 152px; 
    height: 20px;
  }

  .footInner_m > ul > li {
    width: 90%; min-width: 700px;
    height: 90px;
    font-size: 12px;
    color: #ffffff;
  }
}

/* 1280px ~ 1439px */
@media all and (min-width:1280px) and (max-width:1439px) {
#wrap {width: 100%; min-width: 1280px; min-height: 600px;}
#headBox { 
  width: 100%;
  min-width: 1280px;
  height: 140px;
  box-sizing: border-box;
  /* position: fixed; */
  z-index: 999;
  background-color: #fff;
}
  .head_inner {
    width: 100%; max-width: 1439px; min-width: 1280px;
    height: 50%;
    margin: auto; box-sizing: border-box;
    padding: 13px 40px;
    /* background-color: #243c84; */
  }
  h1 {
    float: left;
    width: 18.75%; min-width: 240px; 
    height: 56px;
    /* margin-left: 10px; */
    margin: auto;
  }
  h1 > button > img {
    width: 100%; height: 20px;
    margin-top: 12px;
  }

  .unb {
    display: flex;
    float: right;
    width: 35.156%; min-width: 450px; 
    height: 46px;
    text-transform: uppercase;
    text-align: center;
  }
  .about_part {
    width: 80px;
    height: 50px;
    font-size: 16px;
    line-height: 46px;
  }
  .about_part a {
    display: block;
    width: auto;
    height: 100%;
  }
  .login_part {
    width: 80px;
    height: 50px;
    font-size: 16px;
    line-height: 46px;
  }
  .login_part a {
    display: block;
    width: auto;
    height: 100%;
  }
  /* .unb button {
    width: 80px; height: 25px; 
    border: 0; margin: 0; 
    background-color: #213C5D;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
  } */
  .search_part {
    float: right;
    width: auto;
    height: auto;
    margin: auto;
    margin-top: 5px;
    margin-left: 10px;
  }
  .search_part > form {
    width: auto;
    height: auto;
  }
  .search_part fieldset {
    display: flex;
    width: auto;
    height: auto;
    /* padding: 4px; */
  }
  #unbsearchInput {
    width: 64%; min-width: 192px;
    height: 40px;
    margin: auto;
    margin-right: 8px;
    padding-left: 10px;
    border-radius: 4px;
    font-size: 16px;
    border: 1px solid #aaaaaa;
  }
  
  .search_btn {
    width: 24.666%; min-width: 80px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: #243c84;
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
  }

  /* ---------------------------------- */
  .head_inner02 {
    width: 100%; min-width: 1280px;
    height: 50%;
    background-color: #243c84;
    margin: auto; padding-top: 12px; box-sizing: border-box;
    /* border-top: 2px solid #333; */
  }

  .gnb {
    width: auto; height: 45px;
  }
  .gnb ul {
    width: 100%; height: auto;
    padding: 0 15px;
    margin:auto; text-align: center;
  }
  .gnb li {
    display: inline-block; width:auto; height: auto;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
  }
  .gnb li:first-child {
    margin-left: 0;
  }

  .gnb li a {
    padding: 5px 20px;
    /* background-color: #cca; */
  }
  .header_m {display: none;}

  .mainBox {width: auto; height: auto; top: 0; left: 0; right: 0; padding-top: 140px;}
    
/* aboutBox ========================= */
#aboutBox {
  width: 100%; height: auto;
  position: relative;
  margin-top: 180px;
}
#about_inner {
    width: 100%; height: auto;
    padding: 0 50px;
  }
    h2 {
      width: 100%; height: 40px;
      margin: auto;
      margin: 0 10px;
      text-align: center;
      text-transform: uppercase;
      font-size: 28px;
    }
    .intro {
      width: 1100px; height: auto;
      margin: auto;
      padding: 50px 0;
    }
    .intro img {
      width: 100%;
      border-radius: 10px;
    }
    #about_inner01 {
      width: 1120px; height: auto;
      margin: auto;
    }
    .about_txt01 {
      display: flex;
      width: 100%; height: 330px;
    }
    .about_txt_img_left {
      /* float: left; */
      width: 100%; height: 100%;
      margin: auto;
      padding-right: 30px;
    }
    .about_txt_img_left img {
      width: 500px; height: 300px;
      border-radius: 10px;  
    }
    .about_txt_left {
      width: 100%; height: 100%;
      margin: auto;
      padding: 30px 10px;
      font-size: 18px;
      line-height: 30px;
    }
    .about_txt_left h4 {
      font-size: 20px;
    }
    .about_txt02 {
      display: flex;
      width: 100%; height: 330px;
      margin: 40px 0 0 30px;
    }
    .about_txt_right {
      width: 100%; height: 100%;
      margin: auto;
      padding: 30px 10px;
      font-size: 18px;
    }
    .about_txt_right h4 {
      font-size: 20px;
    }
    .about_txt_img_right {
      width: 100%; height: 100%;
      margin: auto;
      padding-left: 30px;
      line-height: 30px;
    }
    .about_txt_img_right img {
      width: 500px; height: 300px;
      border-radius: 10px;
    }
    #about_inner02 {
      width: 1120px; height: 600px;
      margin: auto;
      margin-top: 50px;
    }
    #about_inner02 h3 {
      width: 100%; height: 40px;
      margin: auto;
      text-align: center;
      font-size: 24px;
    }
    .philosophy {
      width: 100%; height: 490px;
      margin: auto;
      /* margin: 20px 68px; */
    }
    .philosophy_img {
      width: 1000px; height: 300px;
      margin: 50px 68px;
    }
    .phil_img01 {
      float: left;
      width: 280px; height: auto;
      margin: auto;
      margin-right: 80px;
    }
    .phil_img01 img {
      width: 100%;
    }
    .phil_img02 {
      float: left;
      width: 280px; height: auto;
      margin: auto;
      margin-right: 80px;
    }
    .phil_img02 img {
      width: 100%;
    }
    .phil_img03 {
      float: left;
      width: 280px; height: auto;
      margin: auto;
      /* margin-right: 80px; */
    }
    .phil_img03 img {
      width: 100%;
    }
    .phil_txt {
      float: left;
      width: 1090px; height: auto;
      margin: auto;
      margin: 10px 30px;
    }
    .phil_txt span {
      width: 100%; height: 250px;
      font-size: 18px;
      line-height: 50px;
    }
    #about_inner03 {
      width: 1120px; height: auto;
      margin: auto;
      margin-top: 50px;
    }
    #about_inner03 h3 {
      width: 100%; height: 40px;
      margin: auto;
      text-align: center;
      font-size: 24px;
    }
    .value {
      width: 100%; height: 590px;
      margin: auto;
      /* margin: 0 30px; */
    }
    .value img {
      width: 80%;
      margin: auto;
      margin: 50px 110px;
    }
      #about_inner04 {
        width: 1120px; height: auto;
        margin: auto;
      }
      #about_inner04 h3 {
        width: 100%; height: auto;
        margin-bottom: 50px;
        text-align: center;
        text-transform: uppercase;
      }
        .ediyaci {
          display: flex;
          width: 100%; height: 330px;
          margin: 30px 0;
        }
        .cl_subtitle {
          width: auto; height: 40px;
          margin: auto;
          margin-left: 20px;
          font-size: 20px;
          font-weight: 400;
        }
        .ediyaci_img {
          width: 450px; height: 300px;
          margin: auto;
          padding-right: 30px;
        }
        .ediyaci_img img {
          width: 358px; height: 100%;
        }
          .ediyaci_txt {
            width: 100%; height: 100%;
            margin: auto;
            padding: 30px 10px;
            font-size: 18px;
          }
          .ediyaci_txt span {
            width: 100%; height: 250px;
            font-size: 18px;
            line-height: 30px;
          }
/* footer ========================= */
#footBox {
  float: left;
  width: 100%; min-width: 1280px;
  height: auto;
  border-top: 3px solid #243c84;
  /* padding: 20px; */
}
.foot_inner {
  width: 85.7813%; min-width: 1098px; height: auto;
  margin: 30px auto;
  position: relative;
}
  .foot_main {
    color: #000;
    text-align: center;
    position: relative;
  }
  .foot_inner > h2 {
    width: auto;
    margin-bottom: 28px;
  }
  .foot_main h2 button img {
    width: 260px; height: 26px;
    margin: auto;
    display: block;
  }
  .foot_main .company_info {
    width: 100%; height: auto;
  }
  .foot_main .company_info li {
    font-size: 18px;
    display: inline-block;
  }
  .foot_main .company_info li::after {
    padding: 0 14px;
    content: 'l';
  }
  .foot_main p {
    font-size: 17px;
    margin-top: 26px;
    font-weight: 400;
  }
  .foot_main .footsubmenu {
    width: 100%;
    width: 250px;
    display: flex;
    position: absolute;
    top: 10px;
    right: 0;
    /* font-size: 0.75rem; */
  }
  .language_part {
    width: 50%;
  }
  .language_btn {
    width: 100%; height: 42px;
    margin-top: 2px;
  }
  .language_btn img {
    width: 30px; height: 30px;
  }
  .language_part ul {
    display: none;
    width: 100%;
    margin-top: 10px;
    padding: 10px 8px;
    /* margin-bottom: 25px; */
    border: 1px solid #262626;
    position: relative;
    cursor: pointer;
    text-align: center;
  }
  .language_part ul.on {
    display: block;
    width: 100%; height: auto;
  }
  .language_part li {
    width: auto; height: 30px;
    line-height: 20px;
  }
  .language_part li button { text-transform: uppercase; }
  .brandsite_part {
    width: 50%;
    margin-left: 5px;
  }
  .brandsite_btn {
    width: 100%; height: 42px;
    line-height: 42px;
    background-color: #243c84;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
  }
  .brandsite_part ul {
    display: none;
    width: 100%; height: auto;
    margin-top: 10px;
    padding: 5px 8px;
    /* margin-bottom: 25px; */
    border: 1px solid #262626;
    position: relative;
    cursor: pointer;
    text-align: center;
  }
  .brandsite_part ul.on {
    display: block;
    width: 100%; height: auto;
  }
  .foot_inner > ul > li {
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
  }
  .to_top {
    display: block;
    position: fixed;
    bottom: 15px;
    right: 4%;
    z-index: 1;
  }
  .to_top span {
    display: inline-block;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background: url(../../img/to_top2color.svg)no-repeat center;
    background-size: 60px;
  }
  .to_top span:hover {
    background: url(../../img/to_top_fill.svg)no-repeat center;
    background-size: 60px;
  }
  .footInner_m {display: none;}
} /* 1280px ~ 1439px ============================================== */


/* 1440px ~ 1919px */
@media all and (min-width:1440px) and (max-width:1919px) {
#wrap {width: 100%; min-width: 1440px; min-height: 600px; }
/* headBox========================= */
#headBox {
  width: 100%; height: 140px;
  box-sizing: border-box;
  /* position: fixed;
  z-index: 999; */
  background-color: #fff;
}
  .head_inner {
    width: 100%; max-width: 1919px; min-width: 1440px;
    height: 50%;
    margin: auto; box-sizing: border-box;
    padding: 12px 40px;
    /* background-color: #ccc; */
  }
    h1 {
      float: left;
      width: 13.888%; min-width: 200px; height: 34px;
      margin: auto;
    }
    
    h1 > button > img { 
      width: 100%; min-width: 200px;
      height: 20px;
      margin-top: 14px;
    }
    .unb {
      float: right;
      width: 470px; height: 46px;      
    }
    .unb ul {
      width: 450px; height: auto;
      /* padding: 5px 15px; */
    }
    .unb li {
      float: right;
      width: auto; height: 20px;
      margin: 12px;
      font-size: 16px;
      text-align: center;
      text-transform: uppercase;
      /* color: #fff; */
      /* background-color: #fff; */
    }
    .unb .clearfix {
      width: 410px; height: auto;
    }
  
    /* .unb button {
      width: 80px; height: 25px; 
      border: 0; margin: 0; 
      background-color: #213C5D;
      color: #fff;
      cursor: pointer;
      border-radius: 5px;
    } */
    .search_part {
      float: right;
      width: auto;
      height: auto;
      margin: auto;
      margin-top: 5px;
      margin-left: 10px;
    }
    .search_part > form {
      width: auto;
      height: auto;
    }
    .search_part fieldset {
      display: flex;
      width: auto;
      height: auto;
      /* padding: 4px; */
    }
    #unbsearchInput {
      width: 64%; min-width: 192px;
      height: 40px;
      margin: auto;
      margin-right: 8px;
      padding-left: 10px;
      border-radius: 4px;
      font-size: 16px;
      border: 1px solid #aaaaaa;
    }
    
    .search_btn {
      width: 24.666%; min-width: 80px;
      height: 40px;
      border-radius: 5px;
      border: 1px solid #fff;
      background-color: #243c84;
      color: #fff;
      font-size: 16px;
      text-transform: capitalize;
    }
  
    /* ---------------------------------- */
  .head_inner02 {
    width: 100%; height: 50%;
    background-color: #243c84;
    margin: auto; padding-top: 14px; box-sizing: border-box;
    /* border-top: 2px solid #333; */
  }

  .gnb {
    width: auto; height: 45px;
  }
  .gnb ul {
    width:100%; height: auto;
    padding: 0 15px;
    margin:auto; text-align: center;
  }
  .gnb li {
    display:inline-block; width:auto; height: auto;
    margin-left: 20px;
    font-size: 18px;
    color: #fff;
  }
  .gnb li:first-child {
    margin-left: 0;
  }

  .gnb li a {
    padding: 5px 20px;
    /* background-color: #cca; */
  }
  .header_m {display: none;}
  /* background-color: #cca; */
  .mainBox {width: auto; height: auto; top: 0; left: 0; right: 0; padding-top: 140px;}


/* aboutBox ========================= */
#aboutBox {
  width: 100%; height: auto;
  position: relative;
  margin-top: 180px;
}
#about_inner {
    width: 100%; height: auto;
    padding: 0 50px;
  }
    h2 {
      width: 100%; height: 40px;
      margin: auto;
      margin: 0 10px;
      text-align: center;
      text-transform: uppercase;
      font-size: 28px;
    }
    .intro {
      width: 1100px; height: auto;
      margin: auto;
      padding: 50px 0;
    }
    .intro img {
      width: 100%;
      border-radius: 10px;
    }
    #about_inner01 {
      width: 1120px; height: auto;
      margin: auto;
    }
    .about_txt01 {
      display: flex;
      width: 100%; height: 330px;
    }
    .about_txt_img_left {
      /* float: left; */
      width: 100%; height: 100%;
      margin: auto;
      padding-right: 30px;
    }
    .about_txt_img_left img {
      width: 500px; height: 300px;
      border-radius: 10px;  
    }
    .about_txt_left {
      width: 100%; height: 100%;
      margin: auto;
      padding: 30px 10px;
      font-size: 18px;
      line-height: 30px;
    }
    .about_txt_left h4 {
      font-size: 20px;
    }
    .about_txt02 {
      display: flex;
      width: 100%; height: 330px;
      margin: 40px 0 0 30px;
    }
    .about_txt_right {
      width: 100%; height: 100%;
      margin: auto;
      padding: 30px 10px;
      font-size: 18px;
    }
    .about_txt_right h4 {
      font-size: 20px;
    }
    .about_txt_img_right {
      width: 100%; height: 100%;
      margin: auto;
      padding-left: 30px;
      line-height: 30px;
    }
    .about_txt_img_right img {
      width: 500px; height: 300px;
      border-radius: 10px;
    }
    #about_inner02 {
      width: 1120px; height: 600px;
      margin: auto;
      margin-top: 50px;
    }
    #about_inner02 h3 {
      width: 100%; height: 40px;
      margin: auto;
      text-align: center;
      font-size: 24px;
    }
    .philosophy {
      width: 100%; height: 490px;
      margin: auto;
      /* margin: 20px 68px; */
    }
    .philosophy_img {
      width: 1000px; height: 300px;
      margin: 50px 68px;
    }
    .phil_img01 {
      float: left;
      width: 280px; height: auto;
      margin: auto;
      margin-right: 80px;
    }
    .phil_img01 img {
      width: 100%;
    }
    .phil_img02 {
      float: left;
      width: 280px; height: auto;
      margin: auto;
      margin-right: 80px;
    }
    .phil_img02 img {
      width: 100%;
    }
    .phil_img03 {
      float: left;
      width: 280px; height: auto;
      margin: auto;
      /* margin-right: 80px; */
    }
    .phil_img03 img {
      width: 100%;
    }
    .phil_txt {
      float: left;
      width: 1090px; height: auto;
      margin: auto;
      margin: 10px 30px;
    }
    .phil_txt span {
      width: 100%; height: 250px;
      font-size: 18px;
      line-height: 50px;
    }
    #about_inner03 {
      width: 1120px; height: auto;
      margin: auto;
      margin-top: 50px;
    }
    #about_inner03 h3 {
      width: 100%; height: 40px;
      margin: auto;
      text-align: center;
      font-size: 24px;
    }
    .value {
      width: 100%; height: 590px;
      margin: auto;
      /* margin: 0 30px; */
    }
    .value img {
      width: 80%;
      margin: auto;
      margin: 50px 110px;
    }
      #about_inner04 {
        width: 1120px; height: auto;
        margin: auto;
      }
      #about_inner04 h3 {
        width: 100%; height: auto;
        margin-bottom: 50px;
        text-align: center;
        text-transform: uppercase;
      }
        .ediyaci {
          display: flex;
          width: 100%; height: 330px;
          margin: 30px 0;
        }
        .cl_subtitle {
          width: auto; height: 40px;
          margin: auto;
          margin-left: 20px;
          font-size: 20px;
          font-weight: 400;
        }
        .ediyaci_img {
          width: 450px; height: 300px;
          margin: auto;
          padding-right: 30px;
        }
        .ediyaci_img img {
          width: 358px; height: 100%;
        }
          .ediyaci_txt {
            width: 100%; height: 100%;
            margin: auto;
            padding: 30px 10px;
            font-size: 18px;
          }
          .ediyaci_txt span {
            width: 100%; height: 250px;
            font-size: 18px;
            line-height: 30px;
          }

/* footer ========================= */
#footBox {
  float: left;
  width: 100%; min-width: 1440px;
  height: auto;
  border-top: 3px solid #243c84;
  /* padding: 20px; */
}

  .foot_inner {
    width: 80.9722%; min-width: 1270px; height: 197px;
    margin: 28px auto;
    position: relative;
  }

  .foot_main {
    color: #000;
    text-align: center;
    position: relative;
  }
  .foot_main > h2 {
    width: auto;
    margin-bottom: 28px;
  }
  .foot_main h2 button img {
    width: 280px; height: 28px;
    margin: auto;
    display: block;
  }
  .foot_main .company_info {
    width: 100%; height: auto;
  }
  .foot_main .company_info li {
    font-size: 17px;
    display: inline-block;
  }
  .foot_main .company_info li::after {
    padding: 0 14px;
    content: 'l';
  }
  .foot_main p {
    font-size: 16px;
    margin-top: 20px;
    font-weight: 400;
  }
  .foot_main .footsubmenu {
    width: 100%;
    width: 250px;
    display: flex;
    position: absolute;
    top: 30px;
    right: 0;
    /* font-size: 0.75rem; */
  }
  .language_part {
    width: 50%;
  }
  .language_btn {
    width: 100%; height: 42px;
    margin-top: 2px;
  }
  .language_btn img {
    width: 30px; height: 30px;
  }
  .language_part ul {
    display: none;
    width: 100%;
    margin-top: 10px;
    padding: 10px 8px;
    /* margin-bottom: 25px; */
    border: 1px solid #262626;
    position: relative;
    cursor: pointer;
    text-align: center;
  }
  .language_part ul.on {
    display: block;
    width: 100%; height: auto;
  }
  .language_part li {
    width: auto; height: 30px;
    line-height: 20px;
  }
  .brandsite_part {
    width: 50%;
    margin-left: 5px;
  }
  .brandsite_btn {
    width: 100%; height: 42px;
    line-height: 42px;
    background-color: #243c84;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
  }
  .brandsite_part ul {
    display: none;
    width: 100%; height: auto;
    margin-top: 10px;
    padding: 5px 8px;
    /* margin-bottom: 25px; */
    border: 1px solid #262626;
    position: relative;
    cursor: pointer;
    text-align: center;
  }
  .brandsite_part ul.on {
    display: block;
    width: 100%; height: auto;
  }
  .foot_inner > ul > li {
    font-size: 18px;
    color: #ffffff;
  }
  .to_top {
    display: block;
    position: fixed;
    bottom: 15px;
    right: 4%;
    z-index: 1;
  }
  .to_top span {
    display: inline-block;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background: url(../../img/to_top2color.svg)no-repeat center;
    background-size: 60px;
  }
  .to_top span:hover {
    background: url(../../img/to_top_fill.svg)no-repeat center;
    background-size: 60px;
  }
  .footInner_m {display: none;}
}

/* 1920px ~ */
@media all and (min-width:1920px) {
  #wrap {width: 100%; min-width: 1920px; }

  /* #headBox ========================= */
  #headBox { 
    width:100%; height: 180px; 
    box-sizing:border-box;
    /* position: fixed;
    z-index: 999; */
    background-color: #fff;
  }
  .head_inner {
    width: 100%; min-width: 1920px;
    height: 50%;
    margin: auto; box-sizing: border-box;
    padding: 16px 40px;
    /* background-color: #243c84; */
  }
  h1 {
    float: left;
    width: 280px; height: 66px;
    /* margin-left: 10px; */
    margin: auto;
  }
  h1 > button > img {
    width: 100%; height: 30px;
    margin-top: 14px;
  }

  .unb {
    float: right;
    width: 500px; height: 52px;      
    margin-top: 2px;
  }
  .unb ul {
    width: 500px; height: auto;
    /* padding: 5px 15px; */
  }
  .unb li {
    float: right;
    width: auto; height: 20px;
    margin: 12px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    /* color: #fff; */
    /* background-color: #fff; */
  }
  .unb .clearfix {
    width: 410px; height: auto;
  }

  /* .unb button {
    width: 80px; height: 25px; 
    border: 0; margin: 0; 
    background-color: #213C5D;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
  } */
  .search_part {
    float: right;
    width: auto;
    height: auto;
    margin: auto;
    margin-top: 5px;
    margin-left: 18px;
  }
  .search_part > form {
    width: auto;
    height: auto;
  }
  .search_part fieldset {
    display: flex;
    width: auto;
    height: auto;
    /* padding: 4px; */
  }
  #unbsearchInput {
    width: 64%; min-width: 220px;
    height: 48px;
    margin: auto;
    margin-right: 8px;
    padding-left: 10px;
    border-radius: 4px;
    font-size: 18px;
    border: 1px solid #aaaaaa;
  }
  
  .search_btn {
    width: 24.666%; min-width: 80px;
    height: 48px;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: #243c84;
    color: #fff;
    font-size: 18px;
    text-transform: capitalize;
  }

  /* ---------------------------------- */
  .head_inner02 {
    width: 100%; height: 50%;
    background-color: #243c84;
    margin: auto; padding-top: 24px; box-sizing: border-box;
    /* border-top: 2px solid #333; */
  }

  .gnb {
    width: auto; height: auto;
  }
  .gnb ul {
    width:100%; height: auto;
    padding: 0 15px;
    margin:auto; text-align: center;
  }
  .gnb li {
    display: inline-block; width:auto; height: auto;
    margin-left: 20px;
    font-size: 22px;
    color: #fff;
  }
  .gnb li:first-child {
    margin-left: 0;
  }

  .gnb li a {
    padding: 20px 20px;
    /* background-color: #cca; */
  }
      .header_m {display: none;}
      /* background-color: #cca; */
    
  .mainBox {width: auto; height: auto; top: 0; left: 0; right: 0; padding-top: 180px;}

/* aboutBox ========================= */
#aboutBox {
  width: 100%; height: auto;
  position: relative;
  margin-top: 180px;
}
#about_inner {
    width: 100%; height: auto;
    padding: 0 50px;
  }
    h2 {
      width: 100%; height: 40px;
      margin: auto;
      margin: 0 10px;
      text-align: center;
      text-transform: uppercase;
      font-size: 28px;
    }
    .intro {
      width: 1100px; height: auto;
      margin: auto;
      padding: 50px 0;
    }
    .intro img {
      width: 100%;
      border-radius: 10px;
    }
    #about_inner01 {
      width: 1120px; height: auto;
      margin: auto;
    }
    .about_txt01 {
      display: flex;
      width: 100%; height: 330px;
    }
    .about_txt_img_left {
      /* float: left; */
      width: 100%; height: 100%;
      margin: auto;
      padding-right: 30px;
    }
    .about_txt_img_left img {
      width: 500px; height: 300px;
      border-radius: 10px;  
    }
    .about_txt_left {
      width: 100%; height: 100%;
      margin: auto;
      padding: 30px 10px;
      font-size: 18px;
      line-height: 30px;
    }
    .about_txt_left h4 {
      font-size: 20px;
    }
    .about_txt02 {
      display: flex;
      width: 100%; height: 330px;
      margin: 40px 0 0 30px;
    }
    .about_txt_right {
      width: 100%; height: 100%;
      margin: auto;
      padding: 30px 10px;
      font-size: 18px;
    }
    .about_txt_right h4 {
      font-size: 20px;
    }
    .about_txt_img_right {
      width: 100%; height: 100%;
      margin: auto;
      padding-left: 30px;
      line-height: 30px;
    }
    .about_txt_img_right img {
      width: 500px; height: 300px;
      border-radius: 10px;
    }
    #about_inner02 {
      width: 1120px; height: 600px;
      margin: auto;
      margin-top: 50px;
    }
    #about_inner02 h3 {
      width: 100%; height: 40px;
      margin: auto;
      text-align: center;
      font-size: 24px;
    }
    .philosophy {
      width: 100%; height: 490px;
      margin: auto;
      /* margin: 20px 68px; */
    }
    .philosophy_img {
      width: 1000px; height: 300px;
      margin: 50px 68px;
    }
    .phil_img01 {
      float: left;
      width: 280px; height: auto;
      margin: auto;
      margin-right: 80px;
    }
    .phil_img01 img {
      width: 100%;
    }
    .phil_img02 {
      float: left;
      width: 280px; height: auto;
      margin: auto;
      margin-right: 80px;
    }
    .phil_img02 img {
      width: 100%;
    }
    .phil_img03 {
      float: left;
      width: 280px; height: auto;
      margin: auto;
      /* margin-right: 80px; */
    }
    .phil_img03 img {
      width: 100%;
    }
    .phil_txt {
      float: left;
      width: 1090px; height: auto;
      margin: auto;
      margin: 10px 30px;
    }
    .phil_txt span {
      width: 100%; height: 250px;
      font-size: 18px;
      line-height: 50px;
    }
    #about_inner03 {
      width: 1120px; height: auto;
      margin: auto;
      margin-top: 50px;
    }
    #about_inner03 h3 {
      width: 100%; height: 40px;
      margin: auto;
      text-align: center;
      font-size: 24px;
    }
    .value {
      width: 100%; height: 590px;
      margin: auto;
      /* margin: 0 30px; */
    }
    .value img {
      width: 80%;
      margin: auto;
      margin: 50px 110px;
    }
      #about_inner04 {
        width: 1120px; height: auto;
        margin: auto;
      }
      #about_inner04 h3 {
        width: 100%; height: auto;
        margin-bottom: 50px;
        text-align: center;
        text-transform: uppercase;
      }
        .ediyaci {
          display: flex;
          width: 100%; height: 330px;
          margin: 30px 0;
        }
        .cl_subtitle {
          width: auto; height: 40px;
          margin: auto;
          margin-left: 20px;
          font-size: 20px;
          font-weight: 400;
        }
        .ediyaci_img {
          width: 450px; height: 300px;
          margin: auto;
          padding-right: 30px;
        }
        .ediyaci_img img {
          width: 358px; height: 100%;
        }
          .ediyaci_txt {
            width: 100%; height: 100%;
            margin: auto;
            padding: 30px 10px;
            font-size: 18px;
          }
          .ediyaci_txt span {
            width: 100%; height: 250px;
            font-size: 18px;
            line-height: 30px;
          }

/* footer ========================= */
#footBox {
  float: left;
  width: 100%; min-width: 1920px;
  height: auto;
  border-top: 3px solid #243c84;
  /* padding: 20px; */
}

  .foot_inner {
    width: 71.1458%; min-width: 1366px; height: auto;
    margin: 34px auto;
  }
  .foot_main {
    color: #000;
    text-align: center;
    position: relative;
  }
  .foot_main > h2 {
    width: auto;
    margin-bottom: 28px;
  }
  .foot_main h2 button img {
    width: 280px; height: 28px;
    margin: auto;
    display: block;
  }
  .foot_main .company_info {
    width: 100%; height: auto;
  }
  .foot_main .company_info li {
    font-size: 21px;
    display: inline-block;
  }
  .foot_main .company_info li::after {
    padding: 0 14px;
    content: 'l';
  }
  /* .foot_main .company_info li:last-child:after{display:none;} */
  .foot_main p {
    font-size: 20px;
    margin-top: 26px;
    font-weight: 400;
  }
  .foot_main .footsubmenu {
    width: 15.625%;
    min-width: 320px; height: auto;
    display: flex;
    position: absolute;
    top: 10px;
    right: 0;
    /* font-size: 0.75rem; */
  }
  .language_part {
    width: 50%;
  }
  .language_btn {
    width: 100%; height: 60px;
    margin-top: 2px;
  }
  .language_btn img {
    width: 45px; height: 45px;
  }
  .language_part ul {
    display: none;
    width: 100%;
    margin-top: 10px;
    padding: 10px 8px;
    /* margin-bottom: 25px; */
    border: 1px solid #262626;
    position: relative;
    cursor: pointer;
    text-align: center;
  }
  .language_part ul.on {
    display: block;
    width: 100%; height: auto;
  }
  .language_part li {
    width: auto; height: 30px;
    line-height: 20px;
  }
  .language_part li button { text-transform: uppercase; }
  .brandsite_part {
    width: 50%;
    margin-left: 5px;
  }
  .brandsite_part ul {
    display: none;
    width: 100%; height: auto;
    margin-top: 10px;
    padding: 5px 8px;
    border: 1px solid #262626;
    /* margin-bottom: 25px; */
    position: relative;
    cursor: pointer;
    text-align: center;
  }
  .brandsite_part ul.on {
    display: block;
    width: 100%; height: auto;
  }
  .brandsite_btn {
    width: 100%; height: 60px;
    line-height: 42px;
    background-color: #243c84;
    border-radius: 5px;
    color: #fff;
    font-size: 17px;
  }
  .foot_inner > ul > li {
    font-size: 20px;
    color: #ffffff;
  }
  .to_top {
    display: block;
    position: fixed;
    bottom: 15px;
    right: 4%;
    z-index: 1;
  }
  .to_top span {
    display: inline-block;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background: url(../../img/to_top2color.svg)no-repeat center;
    background-size: 60px;
  }
  .to_top span:hover {
    background: url(../../img/to_top_fill.svg)no-repeat center;
    background-size: 60px;
  }
  
  .footInner_m {display: none;}
}